<br>
<table border=1 width='500px'><Tr><td colspan=3 style='background-color:lightgoldenrodyellow'>Inserted into Kit by:  on 01/12/2003 08:22:57</td></tr><tr></tr><tr><td>Field</td><td>Old value</td><td>New Value</td></tr><Tr><Td>Weight</td><td>No Previous Value</td><td>4</td></tr><Tr><Td>Golfshirt</td><td>No Previous Value</td><td>1</td></tr><Tr><Td>Collar</td><td>No Previous Value</td><td>4</td></tr><Tr><Td>Height</td><td>No Previous Value</td><td>5</td></tr><Tr><Td>Chest</td><td>No Previous Value</td><td>4</td></tr><Tr><Td>Tracksuit</td><td>No Previous Value</td><td>7</td></tr><Tr><Td>RugbyJersey</td><td>No Previous Value</td><td>2</td></tr></table>
<br>
<table border=1 width='500px'><Tr><td colspan=3 style='background-color:lightgoldenrodyellow'>Inserted into Kit by:  on 01/12/2003 08:25:08</td></tr><tr></tr><tr><td>Field</td><td>Old value</td><td>New Value</td></tr><Tr><Td>Weight</td><td>No Previous Value</td><td>5</td></tr><Tr><Td>Golfshirt</td><td>No Previous Value</td><td>7</td></tr><Tr><Td>TrouserWaist</td><td>No Previous Value</td><td>9</td></tr><Tr><Td>Collar</td><td>No Previous Value</td><td>5</td></tr><Tr><Td>BlazerSize</td><td>No Previous Value</td><td>8</td></tr><Tr><Td>BlazerCut</td><td>No Previous Value</td><td>1</td></tr><Tr><Td>TrouserInsideLeg</td><td>No Previous Value</td><td>5</td></tr><Tr><Td>Shoe</td><td>No Previous Value</td><td>19</td></tr><Tr><Td>BootStuds</td><td>No Previous Value</td><td>2</td></tr><Tr><Td>TrainingShoe</td><td>No Previous Value</td><td>19</td></tr><Tr><Td>BootCut</td><td>No Previous Value</td><td>1</td></tr><Tr><Td>Height</td><td>No Previous Value</td><td>5</td></tr><Tr><Td>Chest</td><td>No Previous Value</td><td>5</td></tr><Tr><Td>Tracksuit</td><td>No Previous Value</td><td>7</td></tr><Tr><Td>RugbyJersey</td><td>No Previous Value</td><td>7</td></tr><Tr><Td>RugbyShorts</td><td>No Previous Value</td><td>9</td></tr></table>
<br>
<table border=1 width='500px'><Tr><td colspan=3 style='background-color:lightgoldenrodyellow'>Inserted into EmployeeData by:  on 01/12/2003 09:36:16</td></tr><tr></tr><tr><td>Field</td><td>Old value</td><td>New Value</td></tr><tr><Td>EthnicOrigin</td><td>No Previous Value</td><td>4</td></tr><tr><Td>Surname</td><td>No Previous Value</td><td>Samuels</td></tr><tr><Td>FirstName</td><td>No Previous Value</td><td>Forester</td></tr><tr><Td>PlayingLevel</td><td>No Previous Value</td><td>1</td></tr><tr><Td>DOB</td><td>No Previous Value</td><td>15 May 1985</td></tr><tr><Td>Gender</td><td>No Previous Value</td><td>1</td></tr><tr><Td>Squad1</td><td>No Previous Value</td><td>3</td></tr><tr><Td>RugbyUnion</td><td>No Previous Value</td><td>1</td></tr></table>
<br>
<table border=1 width='500px'><Tr><td colspan=3 style='background-color:lightgoldenrodyellow'>Inserted into EmployeeData by:  on 01/12/2003 09:36:51</td></tr><tr></tr><tr><td>Field</td><td>Old value</td><td>New Value</td></tr><tr><Td>Surname</td><td>No Previous Value</td><td>Freislich</td></tr><tr><Td>FirstName</td><td>No Previous Value</td><td>Josh</td></tr><tr><Td>DOB</td><td>No Previous Value</td><td>15 May 1982</td></tr><tr><Td>Squad1</td><td>No Previous Value</td><td>11</td></tr></table>
<br>
<table border=1 width='500px'><Tr><td colspan=3 style='background-color:lightgoldenrodyellow'>Inserted into EmployeeData by:  on 01/12/2003 10:15:07</td></tr><tr></tr><tr><td>Field</td><td>Old value</td><td>New Value</td></tr><tr><Td>Surname</td><td>No Previous Value</td><td>Freislich</td></tr><tr><Td>FirstName</td><td>No Previous Value</td><td>Bobby</td></tr><tr><Td>DOB</td><td>No Previous Value</td><td>19 October 1984</td></tr><tr><Td>Squad1</td><td>No Previous Value</td><td>22</td></tr></table>
<br>
<table border=1 width='500px'><Tr><td colspan=3 style='background-color:lightgoldenrodyellow'>Inserted into EmployeeData by:  on 01/12/2003 10:17:44</td></tr><tr></tr><tr><td>Field</td><td>Old value</td><td>New Value</td></tr><tr><Td>Surname</td><td>No Previous Value</td><td>Freislich</td></tr><tr><Td>FirstName</td><td>No Previous Value</td><td>Bobby</td></tr><tr><Td>DOB</td><td>No Previous Value</td><td>18 September 1983</td></tr><tr><Td>Squad1</td><td>No Previous Value</td><td>3</td></tr><tr><Td>RugbyUnion</td><td>No Previous Value</td><td>10</td></tr></table>
<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>

<br>
<table border=1 width='500px'><Tr><td colspan=3 style='background-color:lightgoldenrodyellow'>Inserted into Nutrition by:  on 18/12/2003 14:23:42</td></tr><tr></tr><tr><td>Field</td><td>Old value</td><td>New Value</td></tr><tr><Td>ProFish</td><td>No Previous Value</td><td>2</td></tr><tr><Td>DaiYoghurt</td><td>No Previous Value</td><td>1</td></tr><tr><Td>FluidTeaCoffee</td><td>No Previous Value</td><td>2</td></tr><tr><Td>FluidSugarperCup</td><td>No Previous Value</td><td>2</td></tr><tr><Td>FluidMilk</td><td>No Previous Value</td><td>2</td></tr><tr><Td>FluidMilkshake</td><td>No Previous Value</td><td>0</td></tr><tr><Td>FluidCoke</td><td>No Previous Value</td><td>2</td></tr><tr><Td>FluidTab</td><td>No Previous Value</td><td>7</td></tr><tr><Td>FluidFlavourWater</td><td>No Previous Value</td><td>3</td></tr><tr><Td>FluidSportsDrink</td><td>No Previous Value</td><td>3</td></tr><tr><Td>FluidWater</td><td>No Previous Value</td><td>7</td></tr><tr><Td>FluidFruitJuice</td><td>No Previous Value</td><td>7</td></tr><tr><Td>Supplements</td><td>No Previous Value</td><td>2</td></tr><tr><Td>SnaNuts</td><td>No Previous Value</td><td>2</td></tr><tr><Td>FreshFruit</td><td>No Previous Value</td><td>3</td></tr><tr><Td>FreshVeg</td><td>No Previous Value</td><td>4</td></tr><tr><Td>AlcSpirits</td><td>No Previous Value</td><td>1</td></tr><tr><Td>SnaPastries</td><td>No Previous Value</td><td>2</td></tr><tr><Td>CarSamp</td><td>No Previous Value</td><td>1</td></tr><tr><Td>ProEggswithoutFat</td><td>No Previous Value</td><td>2</td></tr><tr><Td>ProEggswithFat</td><td>No Previous Value</td><td>1</td></tr><tr><Td>SuppProteinShakes</td><td>No Previous Value</td><td>2</td></tr><tr><Td>MealFreqBreakf</td><td>No Previous Value</td><td>8</td></tr><tr><Td>MealFreqLunch</td><td>No Previous Value</td><td>8</td></tr><tr><Td>MealFreqSupper</td><td>No Previous Value</td><td>8</td></tr><tr><Td>ProMeatwithFat</td><td>No Previous Value</td><td>3</td></tr><tr><Td>ProMeatwithoutFat</td><td>No Previous Value</td><td>1</td></tr><tr><Td>DaiMilkFullCream</td><td>No Previous Value</td><td>1</td></tr><tr><Td>DaiMilkSkim</td><td>No Previous Value</td><td>2</td></tr><tr><Td>SnaCrisps</td><td>No Previous Value</td><td>3</td></tr><tr><Td>SnaChocolates</td><td>No Previous Value</td><td>2</td></tr><tr><Td>SnaBiltong</td><td>No Previous Value</td><td>1</td></tr><tr><Td>ProChickwithSkin</td><td>No Previous Value</td><td>5</td></tr><tr><Td>ProChickwithoutSkin</td><td>No Previous Value</td><td>1</td></tr><tr><Td>ProCheeseHighFat</td><td>No Previous Value</td><td>3</td></tr><tr><Td>ProCheeseLowFat</td><td>No Previous Value</td><td>4</td></tr><tr><Td>CarPasta</td><td>No Previous Value</td><td>3</td></tr><tr><Td>SuppAminoAcids</td><td>No Previous Value</td><td>2</td></tr><tr><Td>SuppFatLoss</td><td>No Previous Value</td><td>2</td></tr><tr><Td>ProLegumes</td><td>No Previous Value</td><td>3</td></tr><tr><Td>ProProcessedMeat</td><td>No Previous Value</td><td>4</td></tr><tr><Td>Snacks</td><td>No Previous Value</td><td>2</td></tr><tr><Td>SnaMeatPie</td><td>No Previous Value</td><td>2</td></tr><tr><Td>DaiMaas</td><td>No Previous Value</td><td>1</td></tr><tr><Td>CarBread</td><td>No Previous Value</td><td>8</td></tr><tr><Td>CarPorridge</td><td>No Previous Value</td><td>2</td></tr><tr><Td>CarPotato</td><td>No Previous Value</td><td>4</td></tr><tr><Td>SuppOther</td><td>No Previous Value</td><td>1</td></tr><tr><Td>TakeAways</td><td>No Previous Value</td><td>3</td></tr><tr><Td>CarRice</td><td>No Previous Value</td><td>4</td></tr><tr><Td>SuppVitamins</td><td>No Previous Value</td><td>2</td></tr><tr><Td>SuppCreatine</td><td>No Previous Value</td><td>2</td></tr><tr><Td>SuppCarbo</td><td>No Previous Value</td><td>1</td></tr><tr><Td>SuppMealReplace</td><td>No Previous Value</td><td>2</td></tr><tr><Td>AlcLiteBeer</td><td>No Previous Value</td><td>1</td></tr><tr><Td>AlcWine</td><td>No Previous Value</td><td>1</td></tr><tr><Td>AlcLiqueur</td><td>No Previous Value</td><td>1</td></tr><tr><Td>SnaHotChips</td><td>No Previous Value</td><td>3</td></tr><tr><Td>SnaIcecream</td><td>No Previous Value</td><td>1</td></tr><tr><Td>AlcBeer</td><td>No Previous Value</td><td>3</td></tr></table>
<br>
<table border=1 width='500px'><Tr><td colspan=3 style='background-color:lightgoldenrodyellow'>Inserted into EmployeeData by:  on 18/12/2003 20:46:31</td></tr><tr></tr><tr><td>Field</td><td>Old value</td><td>New Value</td></tr><tr><Td>EthnicOrigin</td><td>No Previous Value</td><td>2</td></tr><tr><Td>AddressType</td><td>No Previous Value</td><td>1</td></tr><tr><Td>Surname</td><td>No Previous Value</td><td>Moerat</td></tr><tr><Td>CellPhone</td><td>No Previous Value</td><td>0721123564</td></tr><tr><Td>FirstName</td><td>No Previous Value</td><td>Mogamad</td></tr><tr><Td>KnownAs</td><td>No Previous Value</td><td>Ebrahim</td></tr><tr><Td>PlayingLevel</td><td>No Previous Value</td><td>3</td></tr><tr><Td>Address1</td><td>No Previous Value</td><td>8 Hood Road</td></tr><tr><Td>Address2</td><td>No Previous Value</td><td>Belgravia</td></tr><tr><Td>Gender</td><td>No Previous Value</td><td>1</td></tr><tr><Td>Position</td><td>No Previous Value</td><td>2</td></tr><tr><Td>Squad1</td><td>No Previous Value</td><td>5</td></tr><tr><Td>MiddleNames</td><td>No Previous Value</td><td>Ebrahim</td></tr><tr><Td>AgeGroup</td><td>No Previous Value</td><td>13</td></tr><tr><Td>Province</td><td>No Previous Value</td><td>9</td></tr><tr><Td>PostCode</td><td>No Previous Value</td><td>7780</td></tr><tr><Td>DOB</td><td>No Previous Value</td><td>27 July 1984</td></tr><tr><Td>RugbyUnion</td><td>No Previous Value</td><td>14</td></tr><tr><Td>Institution</td><td>No Previous Value</td><td>UCT</td></tr><tr><Td>IDNumber</td><td>No Previous Value</td><td>8407275221082</td></tr></table>
<br>

<br>

<br>
<table border=1 width='500px'><Tr><td colspan=3 style='background-color:lightgoldenrodyellow'>Inserted into Nutrition by:  on 19/12/2003 13:16:58</td></tr><tr></tr><tr><td>Field</td><td>Old value</td><td>New Value</td></tr><Tr><Td>date</td><td>20/12/2003</td><td>null</td></tr></table>
<br>

<br>
<table border=1 width='500px'><Tr><td colspan=3 style='background-color:lightgoldenrodyellow'>Inserted into Nutrition by:  on 19/12/2003 13:17:55</td></tr><tr></tr><tr><td>Field</td><td>Old value</td><td>New Value</td></tr><Tr><Td>MealFreqBreakf</td><td>1</td><td>4</td></tr><Tr><Td>MealFreqLunch</td><td>1</td><td>6</td></tr><Tr><Td>MealFreqSupper</td><td>1</td><td>8</td></tr></table>
<br>
<table border=1 width='500px'><Tr><td colspan=3 style='background-color:lightgoldenrodyellow'>Inserted into Nutrition by:  on 19/12/2003 13:18:07</td></tr><tr></tr><tr><td>Field</td><td>Old value</td><td>New Value</td></tr><Tr><Td>MealFreqBreakf</td><td>4</td><td>2</td></tr><Tr><Td>MealFreqLunch</td><td>6</td><td>5</td></tr><Tr><Td>MealFreqSupper</td><td>8</td><td>5</td></tr></table>
<br>

<br>
<table border=1 width='500px'><Tr><td colspan=3 style='background-color:lightgoldenrodyellow'>Inserted into Nutrition by:  on 19/12/2003 13:30:09</td></tr><tr></tr><tr><td>Field</td><td>Old value</td><td>New Value</td></tr><Tr><Td>MealFreqBreakf</td><td>1</td><td>4</td></tr></table>
<br>
<table border=1 width='500px'><Tr><td colspan=3 style='background-color:lightgoldenrodyellow'>Inserted into Nutrition by:  on 19/12/2003 13:30:43</td></tr><tr></tr><tr><td>Field</td><td>Old value</td><td>New Value</td></tr><Tr><Td>MealFreqLunch</td><td>1</td><td>7</td></tr></table>
<br>
<table border=1 width='500px'><Tr><td colspan=3 style='background-color:lightgoldenrodyellow'>Inserted into Nutrition by:  on 19/12/2003 13:30:54</td></tr><tr></tr><tr><td>Field</td><td>Old value</td><td>New Value</td></tr><Tr><Td>MealFreqLunch</td><td>7</td><td>1</td></tr></table>
<br>
<table border=1 width='500px'><Tr><td colspan=3 style='background-color:lightgoldenrodyellow'>Inserted into Nutrition by:  on 19/12/2003 13:31:08</td></tr><tr></tr><tr><td>Field</td><td>Old value</td><td>New Value</td></tr><Tr><Td>MealFreqBreakf</td><td>4</td><td>1</td></tr></table>
<br>
<table border=1 width='500px'><Tr><td colspan=3 style='background-color:lightgoldenrodyellow'>Inserted into Nutrition by:  on 19/12/2003 13:31:37</td></tr><tr></tr><tr><td>Field</td><td>Old value</td><td>New Value</td></tr><Tr><Td>MealFreqBreakf</td><td>1</td><td>8</td></tr><Tr><Td>MealFreqLunch</td><td>1</td><td>8</td></tr><Tr><Td>MealFreqSupper</td><td>1</td><td>7</td></tr></table>
<br>

<br>
<table border=1 width='500px'><Tr><td colspan=3 style='background-color:lightgoldenrodyellow'>Inserted into Nutrition by:  on 19/12/2003 13:42:38</td></tr><tr></tr><tr><td>Field</td><td>Old value</td><td>New Value</td></tr><Tr><Td>MealFreqBreakf</td><td>2</td><td>8</td></tr></table>
<br>

<br>

<br>

<br>
<table border=1 width='500px'><Tr><td colspan=3 style='background-color:lightgoldenrodyellow'>Inserted into Nutrition by:  on 19/12/2003 13:47:23</td></tr><tr></tr><tr><td>Field</td><td>Old value</td><td>New Value</td></tr><tr><Td>MealFreqBreakf</td><td>No Previous Value</td><td>7</td></tr><tr><Td>MealFreqLunch</td><td>No Previous Value</td><td>3</td></tr><tr><Td>MealFreqSupper</td><td>No Previous Value</td><td>8</td></tr></table>
<br>

<br>

<br>
<table border=1 width='500px'><Tr><td colspan=3 style='background-color:lightgoldenrodyellow'>Inserted into Nutrition by:  on 21/12/2003 22:09:12</td></tr><tr></tr><tr><td>Field</td><td>Old value</td><td>New Value</td></tr><Tr><Td>FluidTeaCoffee</td><td>No Previous Value</td><td>0</td></tr><Tr><Td>FluidSugarperCup</td><td>No Previous Value</td><td>0</td></tr><Tr><Td>FluidMilk</td><td>No Previous Value</td><td>14</td></tr><Tr><Td>FluidMilkshake</td><td>No Previous Value</td><td>0</td></tr><Tr><Td>FluidCoke</td><td>No Previous Value</td><td>7</td></tr><Tr><Td>FluidTab</td><td>No Previous Value</td><td>0</td></tr><Tr><Td>FluidFlavourWater</td><td>No Previous Value</td><td>0</td></tr><Tr><Td>FluidSportsDrink</td><td>No Previous Value</td><td>7</td></tr><Tr><Td>FluidWater</td><td>No Previous Value</td><td>0</td></tr><Tr><Td>FluidFruitJuice</td><td>No Previous Value</td><td>7</td></tr><Tr><Td>Supplements</td><td>No Previous Value</td><td>2</td></tr><Tr><Td>FreshFruit</td><td>No Previous Value</td><td>2</td></tr><Tr><Td>FreshVeg</td><td>No Previous Value</td><td>2</td></tr><Tr><Td>SnaPastries</td><td>No Previous Value</td><td>3</td></tr><Tr><Td>ProEggswithFat</td><td>No Previous Value</td><td>7</td></tr><Tr><Td>SuppProteinShakes</td><td>No Previous Value</td><td>2</td></tr><Tr><Td>MealFreqBreakf</td><td>No Previous Value</td><td>8</td></tr><Tr><Td>MealFreqLunch</td><td>No Previous Value</td><td>5</td></tr><Tr><Td>MealFreqSupper</td><td>No Previous Value</td><td>8</td></tr><Tr><Td>ProMeatwithFat</td><td>No Previous Value</td><td>5</td></tr><Tr><Td>DaiMilkSkim</td><td>No Previous Value</td><td>3</td></tr><Tr><Td>SnaCrisps</td><td>No Previous Value</td><td>2</td></tr><Tr><Td>ProChickwithSkin</td><td>No Previous Value</td><td>4</td></tr><Tr><Td>ProProcessedMeat</td><td>No Previous Value</td><td>3</td></tr><Tr><Td>Snacks</td><td>No Previous Value</td><td>2</td></tr><Tr><Td>CarBread</td><td>No Previous Value</td><td>6</td></tr><Tr><Td>CarPorridge</td><td>No Previous Value</td><td>4</td></tr><Tr><Td>CarPotato</td><td>No Previous Value</td><td>4</td></tr><Tr><Td>TakeAways</td><td>No Previous Value</td><td>2</td></tr><Tr><Td>CarRice</td><td>No Previous Value</td><td>5</td></tr></table>
<br>
<table border=1 width='500px'><Tr><td colspan=3 style='background-color:lightgoldenrodyellow'>Inserted into EatingPlan by:  on 21/12/2003 22:16:09</td></tr><tr></tr><tr><td>Field</td><td>Old value</td><td>New Value</td></tr><tr><Td>meetingAnthroGoals</td><td>No Previous Value</td><td>1</td></tr><tr><Td>Appetite</td><td>No Previous Value</td><td>2</td></tr><tr><Td>Electricity</td><td>No Previous Value</td><td>2</td></tr><tr><Td>Knowledge</td><td>No Previous Value</td><td>1</td></tr><tr><Td>weight</td><td>No Previous Value</td><td>109.9</td></tr><tr><Td>eatingright</td><td>No Previous Value</td><td>1</td></tr><tr><Td>NoMoney</td><td>No Previous Value</td><td>2</td></tr><tr><Td>anthrogoals</td><td>No Previous Value</td><td>1</td></tr><tr><Td>Fridge</td><td>No Previous Value</td><td>2</td></tr><tr><Td>NumberSleeping</td><td>No Previous Value</td><td>1</td></tr><tr><Td>Away</td><td>No Previous Value</td><td>1</td></tr><tr><Td>Other</td><td>No Previous Value</td><td>1</td></tr></table>
<br>

<br>

<br>

<br>
<table border=1 width='500px'><Tr><td colspan=3 style='background-color:lightgoldenrodyellow'>Inserted into Nutrition by:  on 22/12/2003 13:16:54</td></tr><tr></tr><tr><td>Field</td><td>Old value</td><td>New Value</td></tr><tr><Td>ProFish</td><td>No Previous Value</td><td>1</td></tr><tr><Td>ProEggswithoutFat</td><td>No Previous Value</td><td>1</td></tr><tr><Td>ProEggswithFat</td><td>No Previous Value</td><td>8</td></tr><tr><Td>MealFreqBreakf</td><td>No Previous Value</td><td>7</td></tr><tr><Td>MealFreqLunch</td><td>No Previous Value</td><td>5</td></tr><tr><Td>MealFreqSupper</td><td>No Previous Value</td><td>6</td></tr><tr><Td>ProMeatwithFat</td><td>No Previous Value</td><td>1</td></tr><tr><Td>ProMeatwithoutFat</td><td>No Previous Value</td><td>3</td></tr><tr><Td>ProChickwithSkin</td><td>No Previous Value</td><td>1</td></tr><tr><Td>ProChickwithoutSkin</td><td>No Previous Value</td><td>7</td></tr><tr><Td>ProCheeseHighFat</td><td>No Previous Value</td><td>8</td></tr><tr><Td>ProCheeseLowFat</td><td>No Previous Value</td><td>1</td></tr><tr><Td>ProLegumes</td><td>No Previous Value</td><td>6</td></tr><tr><Td>ProProcessedMeat</td><td>No Previous Value</td><td>6</td></tr></table>
<br>
<table border=1 width='500px'><Tr><td colspan=3 style='background-color:lightgoldenrodyellow'>Inserted into Nutrition by:  on 22/12/2003 13:19:10</td></tr><tr></tr><tr><td>Field</td><td>Old value</td><td>New Value</td></tr><Tr><Td>DaiYoghurt</td><td>No Previous Value</td><td>2</td></tr><Tr><Td>DaiMilkSkim</td><td>No Previous Value</td><td>2</td></tr></table>
<br>
<table border=1 width='500px'><Tr><td colspan=3 style='background-color:lightgoldenrodyellow'>Inserted into Nutrition by:  on 22/12/2003 13:21:23</td></tr><tr></tr><tr><td>Field</td><td>Old value</td><td>New Value</td></tr><Tr><Td>date</td><td>No Previous Value</td><td>15 December 2003</td></tr></table>
<br>
<table border=1 width='500px'><Tr><td colspan=3 style='background-color:lightgoldenrodyellow'>Inserted into Nutrition by:  on 22/12/2003 13:22:11</td></tr><tr></tr><tr><td>Field</td><td>Old value</td><td>New Value</td></tr><Tr><Td>MealFreqBreakf</td><td>7</td><td>8</td></tr></table>
<br>

<br>
<table border=1 width='500px'><Tr><td colspan=3 style='background-color:lightgoldenrodyellow'>Inserted into Nutrition by:  on 22/12/2003 13:24:42</td></tr><tr></tr><tr><td>Field</td><td>Old value</td><td>New Value</td></tr><Tr><Td>MealFreqBreakf</td><td>7</td><td>8</td></tr><Tr><Td>MealFreqLunch</td><td>3</td><td>1</td></tr></table>
<br>
<table border=1 width='500px'><Tr><td colspan=3 style='background-color:lightgoldenrodyellow'>Inserted into Nutrition by:  on 22/12/2003 13:25:01</td></tr><tr></tr><tr><td>Field</td><td>Old value</td><td>New Value</td></tr><Tr><Td>MealFreqLunch</td><td>1</td><td>2</td></tr></table>
<br>
<table border=1 width='500px'><Tr><td colspan=3 style='background-color:lightgoldenrodyellow'>Inserted into Nutrition by:  on 22/12/2003 13:25:34</td></tr><tr></tr><tr><td>Field</td><td>Old value</td><td>New Value</td></tr><Tr><Td>ProFish</td><td>1</td><td>3</td></tr><Tr><Td>ProEggswithFat</td><td>1</td><td>3</td></tr><Tr><Td>ProChickwithoutSkin</td><td>1</td><td>4</td></tr><Tr><Td>ProCheeseLowFat</td><td>1</td><td>2</td></tr><Tr><Td>ProProcessedMeat</td><td>1</td><td>4</td></tr></table>
<br>
<table border=1 width='500px'><Tr><td colspan=3 style='background-color:lightgoldenrodyellow'>Inserted into Nutrition by:  on 22/12/2003 13:29:55</td></tr><tr></tr><tr><td>Field</td><td>Old value</td><td>New Value</td></tr><Tr><Td>FluidTeaCoffee</td><td>No Previous Value</td><td>28</td></tr><Tr><Td>FluidSugarperCup</td><td>No Previous Value</td><td>3</td></tr><Tr><Td>FluidMilk</td><td>No Previous Value</td><td>7</td></tr><Tr><Td>FluidTab</td><td>No Previous Value</td><td>null</td></tr><Tr><Td>FluidSportsDrink</td><td>No Previous Value</td><td>28</td></tr><Tr><Td>FluidWater</td><td>No Previous Value</td><td>35</td></tr><Tr><Td>FluidFruitJuice</td><td>No Previous Value</td><td>21</td></tr><Tr><Td>FreshFruit</td><td>1</td><td>3</td></tr><Tr><Td>FreshVeg</td><td>1</td><td>4</td></tr><Tr><Td>CarSamp</td><td>1</td><td>5</td></tr><Tr><Td>SnaCrisps</td><td>1</td><td>2</td></tr><Tr><Td>SnaChocolates</td><td>1</td><td>4</td></tr><Tr><Td>CarPasta</td><td>1</td><td>4</td></tr><Tr><Td>Snacks</td><td>1</td><td>2</td></tr><Tr><Td>SnaMeatPie</td><td>1</td><td>5</td></tr><Tr><Td>CarBread</td><td>1</td><td>8</td></tr><Tr><Td>CarPorridge</td><td>1</td><td>3</td></tr><Tr><Td>CarPotato</td><td>1</td><td>5</td></tr><Tr><Td>TakeAways</td><td>1</td><td>2</td></tr><Tr><Td>CarRice</td><td>1</td><td>6</td></tr><Tr><Td>AlcBeer</td><td>1</td><td>2</td></tr></table>
<br>
<table border=1 width='500px'><Tr><td colspan=3 style='background-color:lightgoldenrodyellow'>Inserted into Nutrition by:  on 22/12/2003 13:33:01</td></tr><tr></tr><tr><td>Field</td><td>Old value</td><td>New Value</td></tr><Tr><Td>ProFish</td><td>3</td><td>1</td></tr><Tr><Td>ProEggswithFat</td><td>3</td><td>1</td></tr><Tr><Td>ProChickwithoutSkin</td><td>4</td><td>1</td></tr><Tr><Td>ProCheeseLowFat</td><td>2</td><td>1</td></tr><Tr><Td>ProProcessedMeat</td><td>4</td><td>1</td></tr></table>
<br>
<table border=1 width='500px'><Tr><td colspan=3 style='background-color:lightgoldenrodyellow'>Inserted into Nutrition by:  on 22/12/2003 13:42:45</td></tr><tr></tr><tr><td>Field</td><td>Old value</td><td>New Value</td></tr><tr><Td>ProFish</td><td>No Previous Value</td><td>4</td></tr><tr><Td>FluidTeaCoffee</td><td>No Previous Value</td><td>6</td></tr><tr><Td>FluidSugarperCup</td><td>No Previous Value</td><td>2</td></tr><tr><Td>FluidMilk</td><td>No Previous Value</td><td>7</td></tr><tr><Td>FluidCoke</td><td>No Previous Value</td><td>2</td></tr><tr><Td>FluidSportsDrink</td><td>No Previous Value</td><td>3</td></tr><tr><Td>FluidWater</td><td>No Previous Value</td><td>28</td></tr><tr><Td>FluidFruitJuice</td><td>No Previous Value</td><td>5</td></tr><tr><Td>Supplements</td><td>No Previous Value</td><td>1</td></tr><tr><Td>FreshFruit</td><td>No Previous Value</td><td>5</td></tr><tr><Td>FreshVeg</td><td>No Previous Value</td><td>4</td></tr><tr><Td>CarSamp</td><td>No Previous Value</td><td>2</td></tr><tr><Td>ProEggswithoutFat</td><td>No Previous Value</td><td>1</td></tr><tr><Td>ProEggswithFat</td><td>No Previous Value</td><td>1</td></tr><tr><Td>MealFreqBreakf</td><td>No Previous Value</td><td>7</td></tr><tr><Td>MealFreqLunch</td><td>No Previous Value</td><td>8</td></tr><tr><Td>MealFreqSupper</td><td>No Previous Value</td><td>4</td></tr><tr><Td>ProMeatwithFat</td><td>No Previous Value</td><td>1</td></tr><tr><Td>ProMeatwithoutFat</td><td>No Previous Value</td><td>5</td></tr><tr><Td>DaiMilkSkim</td><td>No Previous Value</td><td>2</td></tr><tr><Td>ProChickwithSkin</td><td>No Previous Value</td><td>2</td></tr><tr><Td>ProChickwithoutSkin</td><td>No Previous Value</td><td>4</td></tr><tr><Td>ProCheeseHighFat</td><td>No Previous Value</td><td>1</td></tr><tr><Td>ProCheeseLowFat</td><td>No Previous Value</td><td>1</td></tr><tr><Td>CarPasta</td><td>No Previous Value</td><td>4</td></tr><tr><Td>ProLegumes</td><td>No Previous Value</td><td>1</td></tr><tr><Td>ProProcessedMeat</td><td>No Previous Value</td><td>2</td></tr><tr><Td>Snacks</td><td>No Previous Value</td><td>1</td></tr><tr><Td>SnaMeatPie</td><td>No Previous Value</td><td>2</td></tr><tr><Td>CarBread</td><td>No Previous Value</td><td>7</td></tr><tr><Td>CarPorridge</td><td>No Previous Value</td><td>8</td></tr><tr><Td>CarPotato</td><td>No Previous Value</td><td>7</td></tr><tr><Td>TakeAways</td><td>No Previous Value</td><td>1</td></tr><tr><Td>CarRice</td><td>No Previous Value</td><td>4</td></tr><tr><Td>AlcBeer</td><td>No Previous Value</td><td>3</td></tr><tr><Td>SnaHotChips</td><td>No Previous Value</td><td>4</td></tr></table>
<br>
<table border=1 width='500px'><Tr><td colspan=3 style='background-color:lightgoldenrodyellow'>Inserted into Nutrition by:  on 22/12/2003 13:49:02</td></tr><tr></tr><tr><td>Field</td><td>Old value</td><td>New Value</td></tr><tr><Td>ProFish</td><td>No Previous Value</td><td>2</td></tr><tr><Td>DaiYoghurt</td><td>No Previous Value</td><td>2</td></tr><tr><Td>FluidTeaCoffee</td><td>No Previous Value</td><td>25</td></tr><tr><Td>FluidSugarperCup</td><td>No Previous Value</td><td>3</td></tr><tr><Td>FluidMilk</td><td>No Previous Value</td><td>5</td></tr><tr><Td>FluidCoke</td><td>No Previous Value</td><td>4</td></tr><tr><Td>FluidWater</td><td>No Previous Value</td><td>20</td></tr><tr><Td>FluidFruitJuice</td><td>No Previous Value</td><td>6</td></tr><tr><Td>Supplements</td><td>No Previous Value</td><td>2</td></tr><tr><Td>FreshFruit</td><td>No Previous Value</td><td>3</td></tr><tr><Td>FreshVeg</td><td>No Previous Value</td><td>3</td></tr><tr><Td>CarSamp</td><td>No Previous Value</td><td>1</td></tr><tr><Td>ProEggswithFat</td><td>No Previous Value</td><td>2</td></tr><tr><Td>MealFreqBreakf</td><td>No Previous Value</td><td>6</td></tr><tr><Td>MealFreqLunch</td><td>No Previous Value</td><td>8</td></tr><tr><Td>MealFreqSupper</td><td>No Previous Value</td><td>8</td></tr><tr><Td>ProMeatwithFat</td><td>No Previous Value</td><td>4</td></tr><tr><Td>DaiMilkFullCream</td><td>No Previous Value</td><td>2</td></tr><tr><Td>SnaBiltong</td><td>No Previous Value</td><td>2</td></tr><tr><Td>ProChickwithSkin</td><td>No Previous Value</td><td>3</td></tr><tr><Td>ProChickwithoutSkin</td><td>No Previous Value</td><td>2</td></tr><tr><Td>ProCheeseHighFat</td><td>No Previous Value</td><td>3</td></tr><tr><Td>CarPasta</td><td>No Previous Value</td><td>2</td></tr><tr><Td>ProLegumes</td><td>No Previous Value</td><td>2</td></tr><tr><Td>ProProcessedMeat</td><td>No Previous Value</td><td>3</td></tr><tr><Td>Snacks</td><td>No Previous Value</td><td>2</td></tr><tr><Td>CarBread</td><td>No Previous Value</td><td>4</td></tr><tr><Td>CarPorridge</td><td>No Previous Value</td><td>6</td></tr><tr><Td>CarPotato</td><td>No Previous Value</td><td>4</td></tr><tr><Td>TakeAways</td><td>No Previous Value</td><td>2</td></tr><tr><Td>CarRice</td><td>No Previous Value</td><td>1</td></tr><tr><Td>SuppVitamins</td><td>No Previous Value</td><td>2</td></tr><tr><Td>SuppCarbo</td><td>No Previous Value</td><td>1</td></tr><tr><Td>AlcLiteBeer</td><td>No Previous Value</td><td>3</td></tr><tr><Td>AlcWine</td><td>No Previous Value</td><td>3</td></tr><tr><Td>SnaIcecream</td><td>No Previous Value</td><td>2</td></tr></table>
<br>
<table border=1 width='500px'><Tr><td colspan=3 style='background-color:lightgoldenrodyellow'>Inserted into EatingPlan by:  on 22/12/2003 13:58:39</td></tr><tr></tr><tr><td>Field</td><td>Old value</td><td>New Value</td></tr><tr><Td>meetingAnthroGoals</td><td>No Previous Value</td><td>1</td></tr><tr><Td>Knowledge</td><td>No Previous Value</td><td>1</td></tr><tr><Td>weight</td><td>No Previous Value</td><td>80.3</td></tr><tr><Td>eatingright</td><td>No Previous Value</td><td>1</td></tr><tr><Td>anthrogoals</td><td>No Previous Value</td><td>3</td></tr><tr><Td>NumberSleeping</td><td>No Previous Value</td><td>1</td></tr></table>
<br>

<br>
<table border=1 width='500px'><Tr><td colspan=3 style='background-color:lightgoldenrodyellow'>Inserted into Nutrition by:  on 22/12/2003 15:22:16</td></tr><tr></tr><tr><td>Field</td><td>Old value</td><td>New Value</td></tr><Tr><Td>MealFreqBreakf</td><td>No Previous Value</td><td>2</td></tr><Tr><Td>MealFreqLunch</td><td>No Previous Value</td><td>4</td></tr><Tr><Td>MealFreqSupper</td><td>No Previous Value</td><td>6</td></tr></table>
<br>

<br>

<br>

<br>
<table border=1 width='500px'><Tr><td colspan=3 style='background-color:lightgoldenrodyellow'>Inserted into Nutrition by:  on 22/12/2003 15:25:27</td></tr><tr></tr><tr><td>Field</td><td>Old value</td><td>New Value</td></tr><tr><Td>MealFreqBreakf</td><td>No Previous Value</td><td>4</td></tr><tr><Td>MealFreqLunch</td><td>No Previous Value</td><td>4</td></tr><tr><Td>MealFreqSupper</td><td>No Previous Value</td><td>4</td></tr></table>
<br>

<br>
<table border=1 width='500px'><Tr><td colspan=3 style='background-color:lightgoldenrodyellow'>Inserted into Nutrition by:  on 23/12/2003 09:05:11</td></tr><tr></tr><tr><td>Field</td><td>Old value</td><td>New Value</td></tr><Tr><Td>MealFreqLunch</td><td>1</td><td>6</td></tr><Tr><Td>MealFreqSupper</td><td>1</td><td>8</td></tr></table>
<br>
<table border=1 width='500px'><Tr><td colspan=3 style='background-color:lightgoldenrodyellow'>Inserted into Nutrition by:  on 23/12/2003 09:09:24</td></tr><tr></tr><tr><td>Field</td><td>Old value</td><td>New Value</td></tr><Tr><Td>DaiYoghurt</td><td>1</td><td>2</td></tr><Tr><Td>FluidTeaCoffee</td><td>No Previous Value</td><td>7</td></tr><Tr><Td>FluidSugarperCup</td><td>No Previous Value</td><td>2</td></tr><Tr><Td>FluidMilk</td><td>No Previous Value</td><td>21</td></tr><Tr><Td>FluidCoke</td><td>No Previous Value</td><td>7</td></tr><Tr><Td>FluidSportsDrink</td><td>No Previous Value</td><td>4</td></tr><Tr><Td>FluidWater</td><td>No Previous Value</td><td>14</td></tr><Tr><Td>FluidFruitJuice</td><td>No Previous Value</td><td>6</td></tr><Tr><Td>Supplements</td><td>1</td><td>2</td></tr><Tr><Td>FreshFruit</td><td>1</td><td>2</td></tr><Tr><Td>FreshVeg</td><td>1</td><td>4</td></tr><Tr><Td>SnaPastries</td><td>1</td><td>3</td></tr><Tr><Td>CarSamp</td><td>1</td><td>5</td></tr><Tr><Td>ProEggswithoutFat</td><td>1</td><td>6</td></tr><Tr><Td>ProMeatwithoutFat</td><td>1</td><td>6</td></tr><Tr><Td>DaiMilkFullCream</td><td>1</td><td>4</td></tr><Tr><Td>SnaChocolates</td><td>1</td><td>5</td></tr><Tr><Td>SnaBiltong</td><td>1</td><td>7</td></tr><Tr><Td>ProChickwithoutSkin</td><td>1</td><td>3</td></tr><Tr><Td>ProCheeseHighFat</td><td>1</td><td>7</td></tr><Tr><Td>ProProcessedMeat</td><td>1</td><td>5</td></tr><Tr><Td>Snacks</td><td>1</td><td>2</td></tr><Tr><Td>SnaMeatPie</td><td>1</td><td>4</td></tr><Tr><Td>CarBread</td><td>1</td><td>7</td></tr><Tr><Td>CarPorridge</td><td>1</td><td>6</td></tr><Tr><Td>CarPotato</td><td>1</td><td>6</td></tr><Tr><Td>TakeAways</td><td>1</td><td>4</td></tr><Tr><Td>CarRice</td><td>1</td><td>6</td></tr><Tr><Td>SuppVitamins</td><td>1</td><td>2</td></tr><Tr><Td>SnaHotChips</td><td>1</td><td>4</td></tr></table>
<br>
<table border=1 width='500px'><Tr><td colspan=3 style='background-color:lightgoldenrodyellow'>Inserted into EatingPlan by:  on 23/12/2003 09:14:48</td></tr><tr></tr><tr><td>Field</td><td>Old value</td><td>New Value</td></tr><tr><Td>meetingAnthroGoals</td><td>No Previous Value</td><td>2</td></tr><tr><Td>EatingOther</td><td>No Previous Value</td><td>take-aways, snacking</td></tr><tr><Td>Knowledge</td><td>No Previous Value</td><td>1</td></tr><tr><Td>weight</td><td>No Previous Value</td><td>102.2</td></tr><tr><Td>eatingright</td><td>No Previous Value</td><td>1</td></tr><tr><Td>anthrogoals</td><td>No Previous Value</td><td>3</td></tr><tr><Td>NumberSleeping</td><td>No Previous Value</td><td>2</td></tr><tr><Td>Away</td><td>No Previous Value</td><td>2</td></tr><tr><Td>Other</td><td>No Previous Value</td><td>2</td></tr></table>
<br>
<table border=1 width='500px'><Tr><td colspan=3 style='background-color:lightgoldenrodyellow'>Inserted into EatingPlan by:  on 23/12/2003 09:33:02</td></tr><tr></tr><tr><td>Field</td><td>Old value</td><td>New Value</td></tr><tr><Td>meetingAnthroGoals</td><td>No Previous Value</td><td>1</td></tr><tr><Td>weight</td><td>No Previous Value</td><td>90.1</td></tr><tr><Td>eatingright</td><td>No Previous Value</td><td>1</td></tr><tr><Td>anthrogoals</td><td>No Previous Value</td><td>2</td></tr><tr><Td>Away</td><td>No Previous Value</td><td>2</td></tr></table>
<br>
<table border=1 width='500px'><Tr><td colspan=3 style='background-color:lightgoldenrodyellow'>Inserted into Nutrition by:  on 23/12/2003 09:53:41</td></tr><tr></tr><tr><td>Field</td><td>Old value</td><td>New Value</td></tr><Tr><Td>ProFish</td><td>1</td><td>2</td></tr><Tr><Td>FluidTeaCoffee</td><td>No Previous Value</td><td>21</td></tr><Tr><Td>FluidSugarperCup</td><td>No Previous Value</td><td>3</td></tr><Tr><Td>FluidMilk</td><td>No Previous Value</td><td>7</td></tr><Tr><Td>FluidSportsDrink</td><td>No Previous Value</td><td>70</td></tr><Tr><Td>FluidWater</td><td>No Previous Value</td><td>168</td></tr><Tr><Td>FluidFruitJuice</td><td>No Previous Value</td><td>14</td></tr><Tr><Td>Supplements</td><td>1</td><td>2</td></tr><Tr><Td>FreshFruit</td><td>1</td><td>4</td></tr><Tr><Td>FreshVeg</td><td>1</td><td>4</td></tr><Tr><Td>ProEggswithFat</td><td>1</td><td>4</td></tr><Tr><Td>SuppProteinShakes</td><td>1</td><td>2</td></tr><Tr><Td>MealFreqLunch</td><td>2</td><td>1</td></tr><Tr><Td>ProMeatwithoutFat</td><td>1</td><td>3</td></tr><Tr><Td>DaiMilkSkim</td><td>1</td><td>2</td></tr><Tr><Td>ProChickwithSkin</td><td>1</td><td>3</td></tr><Tr><Td>ProChickwithoutSkin</td><td>1</td><td>3</td></tr><Tr><Td>ProCheeseHighFat</td><td>1</td><td>2</td></tr><Tr><Td>CarPasta</td><td>1</td><td>2</td></tr><Tr><Td>Snacks</td><td>1</td><td>2</td></tr><Tr><Td>CarBread</td><td>1</td><td>8</td></tr><Tr><Td>CarPorridge</td><td>1</td><td>3</td></tr><Tr><Td>CarPotato</td><td>1</td><td>5</td></tr><Tr><Td>TakeAways</td><td>1</td><td>5</td></tr><Tr><Td>CarRice</td><td>1</td><td>3</td></tr><Tr><Td>SuppVitamins</td><td>1</td><td>2</td></tr><Tr><Td>SuppCreatine</td><td>1</td><td>2</td></tr><Tr><Td>SuppCarbo</td><td>1</td><td>2</td></tr><Tr><Td>SuppMealReplace</td><td>1</td><td>2</td></tr><Tr><Td>SnaHotChips</td><td>1</td><td>5</td></tr><Tr><Td>SnaIcecream</td><td>1</td><td>3</td></tr></table>
