﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="satsl.ascx.cs" Inherits="satsl" %>
<asp:SqlDataSource 
    ID="StatsSqlDataSource" 
    runat="server" 
    SelectCommand="select * from supersportzone.dbo.zonesitecontent where id = 165"
    ConnectionString="<%$ ConnectionStrings:connRead %>">
</asp:SqlDataSource>
<asp:Repeater ID="Repeater1" runat="server" DataSourceID="StatsSqlDataSource">
    <ItemTemplate>
        <%#DataBinder.Eval(Container.DataItem, "Content") %>
    </ItemTemplate>
</asp:Repeater>
