<table align='center' id='ReportMain' name='ReportMain' cellspacing=0 style='BORDER-BOTTOM: 1px solid;BORDER-RIGHT: 1px solid;position:relative;top:-10px;left:-5px;width:90%'><tr><td><Table cellpadding=4 cellspacing=0 border=0 bordercolor=#999999 style='BORDER-BOTTOM: 1px solid;BORDER-RIGHT: 1px solid;width:100%'><tr id='Headers' name='Headers'><td style='padding:0' colspan=9><table cellpadding='0' cellspacing='0' border='0' style='width:100%;padding:3 0 3 0;'><tr><th id='ReportName' name='ReportName' class=cellhere2 style='text-align:left'>&nbsp;&nbsp;Passing for Distance for  - 2004/05/18</th></tr></table></td></tr><tr><th>FIRSTNAME</th><th>SURNAME</th><th>POSITION</th><th>RUGBYUNION</th><th>Result</th><th>TestDate</th></tr><tr><td style='background-color:#CFDAE2; text-align:left' colspan='9'><b>Green U16</b></td></tr><td>Yuseph</td><td>Abrahams</td><td>Scrum-half</td><td>EP RFU</td><td>22.8</td><td>2004/02/12</td></tr>
<td>Ludwe</td><td>Booi</td><td>Hooker</td><td>Blue Bulls RU</td><td>26.2</td><td>2004/02/16</td></tr>
<td>Franco</td><td>Booysen</td><td>Outside centre</td><td>Falcons RU</td><td>33.3</td><td>2004/02/16</td></tr>
<td>Beyers</td><td>Broodryk</td><td>Inside centre</td><td>Leopards RU</td><td>33.5</td><td><Br></td></tr>
<td>Divan</td><td>Burger</td><td>Second-row or Lock</td><td>Golden Lions RU</td><td>29.9</td><td>2003/08/05</td></tr>
<td>Daniel</td><td>Crous</td><td>Blindside flanker</td><td>Free State RU</td><td>28.6</td><td>2004/02/09</td></tr>
<td>Willem</td><td>Daries</td><td>Right wing</td><td>Boland RU</td><td>27.1</td><td>2004/02/12</td></tr>
<td>Zander</td><td>de Kock</td><td>Tighthead prop</td><td>Falcons RU</td><td>29.9</td><td>2004/02/16</td></tr>
<td>Zander</td><td>de Kock</td><td>Tighthead prop</td><td>Falcons RU</td><td>25.2</td><td>2003/08/05</td></tr>
<td>Jacques</td><td>de Kock</td><td>Outside centre</td><td>Griqualand West RU</td><td>22.77</td><td>2003/08/04</td></tr>
<td>Shaun</td><td>de Vos</td><td>Scrum-half</td><td>Leopards RU</td><td>28.7</td><td>2004/02/16</td></tr>
<td>Rikus</td><td>du Bruyn</td><td>Hooker</td><td>Golden Lions RU</td><td>24.7</td><td>2003/08/05</td></tr>
<td>Rikus</td><td>du Bruyn</td><td>Hooker</td><td>Golden Lions RU</td><td>28.5</td><td>2004/02/16</td></tr>
<td>Rikus</td><td>du Bruyn</td><td>Hooker</td><td>Golden Lions RU</td><td>27.5</td><td>2004/02/16</td></tr>
<td>Riacco</td><td>Eilerd</td><td>Loosehead prop</td><td>Griqualand West RU</td><td>27.2</td><td>2004/02/09</td></tr>
<td>Riacco</td><td>Eilerd</td><td>Loosehead prop</td><td>Griqualand West RU</td><td>24.9</td><td>2003/08/04</td></tr>
<td>Julian</td><td>Erasmus</td><td>No 8</td><td>Blue Bulls RU</td><td>31</td><td>2004/02/16</td></tr>
<td>Jobrey</td><td>Fortuin</td><td>Left wing</td><td>Boland RU</td><td>27.84</td><td>2004/02/12</td></tr>
<td>Kirwan</td><td>Frieslaar</td><td>Openside flanker</td><td>EP RFU</td><td>26.2</td><td>2004/02/12</td></tr>
<td>Byron</td><td>Godfrey</td><td>Fullback</td><td>Golden Lions RU</td><td>27.7</td><td>2003/08/05</td></tr>
<td>Byron</td><td>Godfrey</td><td>Fullback</td><td>Golden Lions RU</td><td>34.1</td><td>2004/02/16</td></tr>
<td>Jarryd</td><td>Greyvenstein</td><td>Second-row or Lock</td><td>Border RU</td><td>23</td><td>2004/02/13</td></tr>
<td>Ivan</td><td>Grobler</td><td>No 8</td><td>Golden Lions RU</td><td>40.5</td><td>2004/02/16</td></tr>
<td>Ivan</td><td>Grobler</td><td>No 8</td><td>Golden Lions RU</td><td>26.6</td><td>2003/08/05</td></tr>
<td>Hayden</td><td>Groepes</td><td>Fullback</td><td>Boland RU</td><td>22.98</td><td>2004/02/12</td></tr>
<td>Johannes</td><td>Janse van Rensburg</td><td>Blindside flanker</td><td>Golden Lions RU</td><td>26.1</td><td>2004/02/16</td></tr>
<td>Johannes</td><td>Janse van Rensburg</td><td>Blindside flanker</td><td>Golden Lions RU</td><td>24.3</td><td>2003/08/05</td></tr>
<td>Yandisa</td><td>Jaxa</td><td>Right wing</td><td>Border RU</td><td>26.5</td><td>2004/02/13</td></tr>
<td>Friedrich</td><td>Kamffer</td><td>Openside flanker</td><td>Free State RU</td><td>31.4</td><td>2004/02/09</td></tr>
<td>Hendrik</td><td>Kilian</td><td>Second-row or Lock</td><td>Leopards RU</td><td>33.5</td><td>2004/02/16</td></tr>
<td>Marlon</td><td>Lewis</td><td>Scrum-half</td><td>EP RFU</td><td>30.8</td><td>2004/02/12</td></tr>
<td>Thamzamile</td><td>Majola</td><td>Fly-half</td><td>Golden Lions RU</td><td>29.7</td><td>2004/02/16</td></tr>
<td>Thamzamile</td><td>Majola</td><td>Fly-half</td><td>Golden Lions RU</td><td>24.4</td><td>2003/08/05</td></tr>
<td>Booi</td><td>Malgas</td><td>Right wing</td><td>Griqualand West RU</td><td>24.08</td><td>2003/08/04</td></tr>
<td>Booi</td><td>Malgas</td><td>Right wing</td><td>Griqualand West RU</td><td>28.2</td><td>2004/02/09</td></tr>
<td>Ghaliel</td><td>Markus</td><td>Right wing</td><td>Golden Lions RU</td><td>24.9</td><td>2004/02/16</td></tr>
<td>Ghaliel</td><td>Markus</td><td>Right wing</td><td>Golden Lions RU</td><td>26.7</td><td>2003/08/05</td></tr>
<td>Rickus</td><td>Meintjies</td><td>Fullback</td><td>EP RFU</td><td>25</td><td>2004/02/12</td></tr>
<td>Johann</td><td>Myburgh</td><td>Fullback</td><td>Border RU</td><td>27</td><td>2004/02/13</td></tr>
<td>Malungisa</td><td>Nkosi</td><td>Second-row or Lock</td><td>Golden Lions RU</td><td>24.7</td><td>2003/08/05</td></tr>
<td>Luxolo</td><td>Nondwangu</td><td>Left wing</td><td>Border RU</td><td>24.5</td><td>2004/02/13</td></tr>
<td>Lubabalo</td><td>Ntuntwana</td><td>Right wing</td><td>EP RFU</td><td>19.8</td><td>2004/02/12</td></tr>
<td>Craig</td><td>Patrick</td><td>Left wing</td><td>Blue Bulls RU</td><td>28.6</td><td>2004/02/16</td></tr>
<td>Morne</td><td>Pereira</td><td>Hooker</td><td>Boland RU</td><td>25.12</td><td>2004/02/12</td></tr>
<td>Coenraad</td><td>Pieterse</td><td>No 8</td><td>Free State RU</td><td>24.51</td><td>2003/08/05</td></tr>
<td>Glen</td><td>Poulton</td><td>Blindside flanker</td><td>Griqualand West RU</td><td>28.7</td><td>2004/02/09</td></tr>
<td>Glen</td><td>Poulton</td><td>Blindside flanker</td><td>Griqualand West RU</td><td>21.94</td><td>2003/08/04</td></tr>
<td>Siyabonga</td><td>Sono</td><td>Inside centre</td><td>Border RU</td><td>26</td><td>2004/02/13</td></tr>
<td>Justin</td><td>St Jerry</td><td>Fullback</td><td>Golden Lions RU</td><td>31</td><td>2004/02/16</td></tr>
<td>Justin</td><td>St Jerry</td><td>Fullback</td><td>Golden Lions RU</td><td>31.9</td><td>2003/08/05</td></tr>
<td>Renier</td><td>Strydom</td><td>Tighthead prop</td><td>Griqualand West RU</td><td>21.29</td><td>2003/08/04</td></tr>
<td>Renier</td><td>Strydom</td><td>Tighthead prop</td><td>Griqualand West RU</td><td>26.3</td><td>2004/02/09</td></tr>
<td>Jaco</td><td>Swanepoel</td><td>No 8</td><td>EP RFU</td><td>31.3</td><td>2004/02/12</td></tr>
<td>Matthew</td><td>Tayler-Smith</td><td>Fly-half</td><td>EP RFU</td><td>26.3</td><td>2004/02/12</td></tr>
<td>Gordon</td><td>Thomas</td><td>Loosehead prop</td><td>Golden Lions RU</td><td>26.1</td><td>2004/02/16</td></tr>
<td>Gordon</td><td>Thomas</td><td>Loosehead prop</td><td>Golden Lions RU</td><td>23.9</td><td>2003/08/05</td></tr>
<td>Morne</td><td>van der Westhuyzen</td><td>Second-row or Lock</td><td>EP RFU</td><td>31.1</td><td>2004/02/12</td></tr>
<td>Werner</td><td>van Staden</td><td>Blindside flanker</td><td>Griqualand West RU</td><td>25.88</td><td>2003/08/04</td></tr>
<td>Werner</td><td>van Staden</td><td>Blindside flanker</td><td>Griqualand West RU</td><td>31.5</td><td>2004/02/09</td></tr>
<td>Tiaan</td><td>Van Wyk</td><td>Outside centre</td><td>Boland RU</td><td>22.5</td><td>2004/02/12</td></tr>
<td>Jean</td><td>van Zyl</td><td>Tighthead prop</td><td>Free State RU</td><td>25.7</td><td>2004/02/09</td></tr>
<td>Frederick</td><td>Viljoen</td><td>Fly-half</td><td>Boland RU</td><td>27.31</td><td>2004/02/12</td></tr>
<td>Rowan</td><td>Walters</td><td>Left wing</td><td>Griqualand West RU</td><td>29.6</td><td>2004/02/09</td></tr>
<td>Rowan</td><td>Walters</td><td>Left wing</td><td>Griqualand West RU</td><td>27.1</td><td>2003/08/04</td></tr>
<td>David</td><td>Wannenburg</td><td>Hooker</td><td>EP RFU</td><td>25.4</td><td>2004/02/12</td></tr>
<td>Bertram</td><td>Willemse</td><td>Outside centre</td><td>Boland RU</td><td>24.45</td><td>2004/02/12</td></tr>
<tr><td style='background-color:#CFDAE2; text-align:left' colspan='9'><b>Green U18 </b></td></tr><td>Marvin</td><td>Arendse</td><td>Left wing</td><td>Boland RU</td><td>23.49</td><td>2004/02/12</td></tr>
<td>Robert</td><td>Berrington</td><td>Second-row or Lock</td><td>Golden Lions RU</td><td>28.1</td><td>2004/02/16</td></tr>
<td>Jonathan</td><td>Dangoumou</td><td>Openside flanker</td><td>Blue Bulls RU</td><td>25</td><td>2003/08/05</td></tr>
<td>Teboho</td><td>Dhlamini</td><td>Openside flanker</td><td>Free State RU</td><td>25.1</td><td>2004/02/09</td></tr>
<td>Andrew</td><td>Dikobo</td><td>No 8</td><td>Golden Lions RU</td><td>27.7</td><td>2004/02/16</td></tr>
<td>Sylvester</td><td>Engelbrecht</td><td>Outside centre</td><td>Golden Lions RU</td><td>27.2</td><td>2004/02/16</td></tr>
<td>Sylvester</td><td>Engelbrecht</td><td>Outside centre</td><td>Golden Lions RU</td><td>27.6</td><td>2003/08/05</td></tr>
<td>Gugulethu</td><td>Fata</td><td>Loosehead prop</td><td>KZN RU</td><td>19.9</td><td>2003/08/05</td></tr>
<td>Gert</td><td>Greyling</td><td>Tighthead prop</td><td>Free State RU</td><td>25.08</td><td>2004/02/09</td></tr>
<td>Alwyn</td><td>Hollenbach</td><td>Inside centre</td><td>Free State RU</td><td>24.3</td><td>2003/08/05</td></tr>
<td>Whybro</td><td>Johnson</td><td>Left wing</td><td>Falcons RU</td><td>27.3</td><td>2004/02/16</td></tr>
<td>Samuel</td><td>Leburu</td><td>Loosehead prop</td><td>Free State RU</td><td>20.33</td><td>2003/08/04</td></tr>
<td>Madoda</td><td>Manoni</td><td>Second-row or Lock</td><td>EP RFU</td><td>22.8</td><td>2004/02/12</td></tr>
<td>Divan</td><td>Manus</td><td>Loosehead prop</td><td>Griqualand West RU</td><td>21.62</td><td>2003/08/04</td></tr>
<td>Thato</td><td>Ntechane</td><td>Hooker</td><td>Free State RU</td><td>22.57</td><td>2003/08/05</td></tr>
<td>Steph</td><td>Roberts</td><td>Loosehead prop</td><td>Free State RU</td><td>25.21</td><td>2003/08/05</td></tr>
<td>Gideon</td><td>Stander</td><td>Fly-half</td><td>Falcons RU</td><td>31.5</td><td>2004/02/16</td></tr>
<td>Jabez</td><td>Steenkamp</td><td>Second-row or Lock</td><td>Blue Bulls RU</td><td>27.3</td><td>2004/02/16</td></tr>
<td>Christoff</td><td>Storm</td><td>Tighthead prop</td><td>Golden Lions RU</td><td>27.38</td><td>2003/08/11</td></tr>
<td>Adriaan</td><td>Strauss</td><td>Hooker</td><td>Free State RU</td><td>28.7</td><td>2003/08/05</td></tr>
<td>Richardt</td><td>Strauss</td><td>Openside flanker</td><td>Free State RU</td><td>24.95</td><td>2003/08/05</td></tr>
<td>Riaan</td><td>Swanepoel</td><td>No 8</td><td>Free State RU</td><td>22.53</td><td>2003/08/05</td></tr>
<td>Wongama</td><td>Tom</td><td>Right wing</td><td>EP RFU</td><td>22.8</td><td>2004/02/12</td></tr>
<td>Wongama</td><td>Tom</td><td>Right wing</td><td>EP RFU</td><td>22.8</td><td>2004/02/12</td></tr>
<td>Linda</td><td>Tyapile</td><td>Second-row or Lock</td><td>Golden Lions RU</td><td>27.6</td><td>2004/02/16</td></tr>
<td>Flip</td><td>van der Merwe</td><td>Second-row or Lock</td><td>Free State RU</td><td>25.41</td><td>2003/08/05</td></tr>
<td>Izak</td><td>van der Westhuizen</td><td>Second-row or Lock</td><td>Griqualand West RU</td><td>25.95</td><td>2003/08/04</td></tr>
<td>Juan</td><td>Visser</td><td>Outside centre</td><td>Golden Lions RU</td><td>28.4</td><td>2004/02/16</td></tr>
<td>Daniel</td><td>Vosloo</td><td>Scrum-half</td><td>EP RFU</td><td>26.5</td><td>2004/02/12</td></tr>
<td>Elgar</td><td>Watts</td><td>Fly-half</td><td>Boland RU</td><td>24.16</td><td>2004/02/12</td></tr>
<td>Jerome</td><td>Williams</td><td>Right wing</td><td>EP RFU</td><td>24.6</td><td>2004/02/12</td></tr>
<tr><td style='background-color:#CFDAE2; text-align:right' class=cellhere colspan='9'>97 Records</td></tr></table></td></tr></table><br>
