<table align='center' id='ReportMain' name='ReportMain' cellspacing=0 style='BORDER-BOTTOM: 1px solid;BORDER-RIGHT: 1px solid;position:relative;top:-10px;left:-5px;width:90%'><tr><td><Table cellpadding=4 cellspacing=0 border=0 bordercolor=#999999 style='BORDER-BOTTOM: 1px solid;BORDER-RIGHT: 1px solid;width:100%'><tr id='Headers' name='Headers'><td style='padding:0' colspan=3><table cellpadding='0' cellspacing='0' border='0' style='width:100%;padding:3 0 3 0;'><tr><th id='ReportName' name='ReportName' class=cellhere2 style='text-align:left'>&nbsp;&nbsp;Count Kit Report - 1/16/2004</th></tr></table></td></tr><tr><th>tracksuit</th><th>number</th></tr><tr><td style='background-color:#CFDAE2; text-align:left' colspan='3'><b>Blazer</b></td></tr><td>AL - 50</td><td>1</td></tr>
<td>PS - 34</td><td>1</td></tr>
<td>R - 44</td><td>1</td></tr>
<tr><td style='background-color:#CFDAE2; text-align:left' colspan='3'><b>Boot</b></td></tr><td>15 - High - Multi</td><td>1</td></tr>
<td>6 - High - Multi</td><td>1</td></tr>
<td>9 - Mid - Screw</td><td>1</td></tr>
<tr><td style='background-color:#CFDAE2; text-align:left' colspan='3'><b>GolfShirt</b></td></tr><td>M</td><td>1</td></tr>
<td>XL</td><td>2</td></tr>
<tr><td style='background-color:#CFDAE2; text-align:left' colspan='3'><b>Rugby Jersey</b></td></tr><td>M</td><td>1</td></tr>
<td>XL</td><td>2</td></tr>
<tr><td style='background-color:#CFDAE2; text-align:left' colspan='3'><b>Rugby Shorts</b></td></tr><td>32</td><td>3</td></tr>
<tr><td style='background-color:#CFDAE2; text-align:left' colspan='3'><b>Shoe</b></td></tr><td>15</td><td>1</td></tr>
<td>6</td><td>1</td></tr>
<td>9</td><td>1</td></tr>
<tr><td style='background-color:#CFDAE2; text-align:left' colspan='3'><b>Tracksuit</b></td></tr><td>L</td><td>1</td></tr>
<td>M</td><td>1</td></tr>
<td>XL</td><td>1</td></tr>
<tr><td style='background-color:#CFDAE2; text-align:left' colspan='3'><b>Trouser</b></td></tr><td>32/81 cm</td><td>2</td></tr>
<td>34/87 cm</td><td>1</td></tr>
<tr><td style='background-color:#CFDAE2; text-align:right' class=cellhere colspan='3'>19 Records</td></tr></table></td></tr></table><br>
