<table align='center' id='ReportMain' name='ReportMain' cellspacing=0 style='BORDER-BOTTOM: 1px solid;BORDER-RIGHT: 1px solid;position:relative;top:-10px;left:-5px;width:90%'><tr><td><Table cellpadding=4 cellspacing=0 border=0 bordercolor=#999999 style='BORDER-BOTTOM: 1px solid;BORDER-RIGHT: 1px solid;width:100%'><tr id='Headers' name='Headers'><td style='padding:0' colspan=12><table cellpadding='0' cellspacing='0' border='0' style='width:100%;padding:3 0 3 0;'><tr><th id='ReportName' name='ReportName' class=cellhere2 style='text-align:left'>&nbsp;&nbsp;Flexibility - 1/16/2004</th></tr></table></td></tr><tr><th>FirstName</th><th>Surname</th><th>Squad</th><th>RugbyUnion</th><th>Test Date</th><th>SLR L</th><th>SLR R</th><th>Illiopsoas L</th><th>Illiopsoas R</th><th>Quad L</th><th>Quad R</th></tr><td>Heathesh</td><td>Bhandari</td><td>Green U16</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Fabian</td><td>Brandt</td><td>Boland CC 2003</td><td>Boland RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Ashley</td><td>Buys</td><td>SWD CC 2003</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Wilhelm</td><td>Carstens</td><td>Boland CC 2003</td><td>Boland RU</td><td>1/2/2004</td><td>8787</td><td>87</td><td>87</td><td>87</td><td>8787</td><td>87</td></tr>
<td>Rudi</td><td>Coetzee</td><td>Gold</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>John</td><td>Cooper</td><td>SWD CC 2003</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Shaun</td><td>de Vos</td><td>Green U16</td><td>Leopards RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>gsdfgsdf</td><td>dfgdfgd</td><td>Green U19</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>dfd</td><td>dgdf</td><td>Green U16</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>1/22/2004</td><td>3</td><td>3</td><td>3</td><td>3</td><td>565</td><td>3</td></tr>
<td>Frikkie</td><td>Du Plessis</td><td>Green U16</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>New</td><td>Dude</td><td>Green U16</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Tobile</td><td>Dunjwa</td><td>All Management</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Eugene</td><td>Eloff</td><td>All Management</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jaque</td><td>Fourie</td><td>Springbok</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Joshua</td><td>Freislich</td><td>Springbok</td><td>Griqualand West RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Josh</td><td>Freislich</td><td>Golden Lions CC 2003</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Neil</td><td>Fullard</td><td>Gold</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Gordon</td><td>Gilfillan</td><td>Gold</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>heath</td><td>heath</td><td>Springbok</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Adrian</td><td>Hendricks</td><td>SWD CC 2003</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Anthony</td><td>Heugh</td><td>All Management</td><td>EP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>jam</td><td>jam</td><td>Green U17 </td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Enrico</td><td>Januarie</td><td>Gold</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Elton</td><td>Manakka</td><td>SWD CC 2003</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Mbuso</td><td>Methula</td><td>Gold</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jan</td><td>Moller</td><td>Gold</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Raymond</td><td>Mordt</td><td>All Management</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jorrie</td><td>Muller</td><td>Springbok</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>JOsh</td><td>Pete</td><td>Green U19</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>s</td><td>s</td><td>Green U17 </td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>dde</td><td>simmons</td><td>Green U16</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Nicolaas</td><td>Smit</td><td>Boland CC 2003</td><td>Boland RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Kevin</td><td>Stevenson</td><td>All Management</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Rudolf</td><td>Straeuli</td><td>All Management</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Andries</td><td>Swanepoel</td><td>SWD CC 2003</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Philip</td><td>Terblanche</td><td>SWD CC 2003</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Wikus</td><td>van Dyk</td><td>Green U19</td><td>Boland RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Deon</td><td>Carstens</td><td>Springbok</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Daniel</td><td>du Plessis</td><td>Green U19</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Riacco</td><td>Eilerd</td><td>Green U16</td><td>Griqualand West RU</td><td>8/4/2003</td><td>86</td><td>91</td><td>-12</td><td>-8</td><td>40</td><td>35</td></tr>
<td>Gugulethu</td><td>Fata</td><td>Green U19</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Schalk</td><td>Ferreira</td><td>Gold</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Daniel</td><td>Human</td><td>Springbok</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Andre</td><td>le Roux</td><td>Springbok</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Thato</td><td>Lebitsa</td><td>Green U16</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Samuel</td><td>Leburu</td><td>Green U19</td><td>Griqualand West RU</td><td>8/4/2003</td><td><Br></td><td><Br></td><td>-10</td><td>-6</td><td>35</td><td>47</td></tr>
<td>Divan</td><td>Manus</td><td>Green U19</td><td>Griqualand West RU</td><td>8/4/2003</td><td><Br></td><td><Br></td><td>-8</td><td>-11</td><td>42</td><td>25</td></tr>
<td>Stefan</td><td>Nel</td><td>Green U19</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Willem</td><td>Roberts</td><td>Green U19</td><td>Free State RU</td><td>8/5/2003</td><td>85</td><td>89</td><td>-3</td><td>-4</td><td>45</td><td>43</td></tr>
<td>Wessel</td><td>Roux</td><td>Springbok</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Gordon</td><td>Thomas</td><td>Green U16</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Cassim</td><td>Tiry</td><td>Green U16</td><td>EP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Heinke</td><td>van der Merwe</td><td>Green U19</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Gerrit</td><td>van Wyk</td><td>Green U19</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Danie</td><td>Coetzee</td><td>Springbok</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Rikus</td><td>du Bruyn</td><td>Green U16</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Bismarck</td><td>du Plessis</td><td>Gold</td><td>Free State RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Deon</td><td>Fourie</td><td>Green U19</td><td>Limpopo</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Bobby</td><td>Freislich</td><td>Free State CC 2003</td><td>Free State RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Gert</td><td>Greyling</td><td>Green U19</td><td>Free State RU</td><td>8/5/2003</td><td>86</td><td>85</td><td>-6</td><td>-6</td><td>39</td><td>53</td></tr>
<td>Erasmus</td><td>Jansen van Vuuren</td><td>Green U19</td><td>Mpumalanga RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Justin</td><td>Meanwell</td><td>Green U16</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Thato</td><td>Ntechane</td><td>Green U19</td><td>Free State RU</td><td>8/5/2003</td><td>91</td><td>95</td><td>-2</td><td>-6</td><td>45</td><td>40</td></tr>
<td>Morne</td><td>Pereira</td><td>Green U16</td><td>Boland RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Gustav</td><td>Rademeyer</td><td>Boland CC 2003</td><td>Boland RU</td><td>8/2/2007</td><td>545</td><td>4</td><td>5454</td><td>5</td><td>45</td><td>4</td></tr>
<td>Mahlatse</td><td>Ralepelle</td><td>Green U19</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Dale</td><td>Santon</td><td>Springbok</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Gary</td><td>Scott</td><td>Green U19</td><td>EP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Ramano</td><td>Sebia</td><td>Green U16</td><td>Griffons RU</td><td>8/4/2003</td><td>90</td><td>80</td><td>0</td><td>-4</td><td>40</td><td>50</td></tr>
<td>Hanyani</td><td>Shimange</td><td>Gold</td><td>Free State RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>John</td><td>Smit</td><td>Springbok</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Adriaan</td><td>Strauss</td><td>Green U19</td><td>Free State RU</td><td>8/5/2003</td><td>74</td><td>74</td><td>-5</td><td>0</td><td>56</td><td>59</td></tr>
<td>Raaths</td><td>Sydney</td><td>SWD CC 2003</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Lukas</td><td>van Biljon</td><td>Springbok</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Phillip</td><td>van der Merwe</td><td>Green U19</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jonathan</td><td>van Vuuren</td><td>SWD CC 2003</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>David</td><td>Wannenburg</td><td>Green U16</td><td>EP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Louis</td><td>Coetzee</td><td>Green U16</td><td>Leopards RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Zander</td><td>de Kock</td><td>Green U16</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jacobus</td><td>du Randt</td><td>Springbok</td><td>Free State RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Robert</td><td>Kempson</td><td>Springbok</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Johann</td><td>Kritzinger</td><td>Green U16</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Sangoni</td><td>Mxoli</td><td>Green U19</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Stephanus</td><td>Rautenbach</td><td>Springbok</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Lawrence</td><td>Sephaka</td><td>Springbok</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Christoff</td><td>Storm</td><td>Green U19</td><td>Griffons RU</td><td>8/11/2003</td><td>79</td><td>78</td><td>-8</td><td>-2</td><td>30</td><td>34</td></tr>
<td>Renier</td><td>Strydom</td><td>Green U16</td><td>Griqualand West RU</td><td>8/4/2003</td><td><Br></td><td><Br></td><td>-13</td><td>-6</td><td>69</td><td>46</td></tr>
<td>David</td><td>Temo</td><td>Green U16</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jean</td><td>van Zyl</td><td>Green U16</td><td>Free State RU</td><td>8/5/2003</td><td>82</td><td>78</td><td>-5</td><td>-5</td><td>55</td><td>59</td></tr>
<td>Isak</td><td>Visagie</td><td>Springbok</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>John</td><td>Botha</td><td>Springbok</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Divan</td><td>Burger</td><td>Green U16</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>tatenda</td><td>chidzawo</td><td>Green U16</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Geo</td><td>Cronje</td><td>Springbok</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Quinton</td><td>Davids</td><td>Springbok</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Claude</td><td>Dry</td><td>Green U19</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Augustinus</td><td>Gerber</td><td>SWD CC 2003</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jarryd</td><td>Greyvenstein</td><td>Green U16</td><td>Border RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Anthonie</td><td>Gronum</td><td>Green U19</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Lubabalo</td><td>Gwavu</td><td>Green U16</td><td>EP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Alistair</td><td>Hargreaves</td><td>Green U19</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Hendrik</td><td>Kilian</td><td>Green U16</td><td>Leopards RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jannes</td><td>Labuschagne</td><td>Springbok</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Madoda</td><td>Manoni</td><td>Green U19</td><td>EP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Victor</td><td>Matfield</td><td>Springbok</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Dumani</td><td>Mtya</td><td>Green U19</td><td>Border RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Malungisa</td><td>Nkosi</td><td>Green U16</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Michael</td><td>Noemdo</td><td>Boland CC 2003</td><td>Boland RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Michael</td><td>Rhodes</td><td>Green U16</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Lefa</td><td>Silo</td><td>Green U16</td><td>Griffons RU</td><td>8/4/2003</td><td>87</td><td>90</td><td>-5</td><td>-4</td><td>50</td><td>48</td></tr>
<td>Frederik</td><td>Spies</td><td>Green U19</td><td>Griffons RU</td><td>8/11/2003</td><td>63</td><td>65</td><td>-1</td><td>6</td><td>63</td><td>65</td></tr>
<td>Jabez</td><td>Steenkamp</td><td>Green U19</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jakobus</td><td>Stofberg</td><td>Green U16</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Linda</td><td>Tyapile</td><td>Green U19</td><td>Falcons RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Albert</td><td>van den Berg</td><td>Springbok</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Flip</td><td>van der Merwe</td><td>Green U19</td><td>Free State RU</td><td>8/5/2003</td><td><Br></td><td><Br></td><td>-6</td><td>-6</td><td>46</td><td>34</td></tr>
<td>Izak</td><td>van der Westhuizen</td><td>Green U19</td><td>Griqualand West RU</td><td>8/4/2003</td><td><Br></td><td><Br></td><td>-5</td><td>-9</td><td>55</td><td>41</td></tr>
<td>Morne</td><td>van der Westhuyzen</td><td>Green U16</td><td>EP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Hendrik</td><td>van Niekerk</td><td>Green U19</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Albertus</td><td>Venter</td><td>Springbok</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jacques</td><td>Cronje</td><td>Gold</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Daniel</td><td>Crous</td><td>Green U16</td><td>Free State RU</td><td>8/5/2003</td><td>68</td><td>66</td><td>-3</td><td>-5</td><td>48</td><td>54</td></tr>
<td>Johannes</td><td>Janse van Rensburg</td><td>Green U16</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Leon</td><td>Karemaker</td><td>Green U19</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Francois</td><td>la Grange</td><td>Green U19</td><td>Mpumalanga RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Hilton</td><td>Lobberts</td><td>Green U19</td><td>Boland RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Lukhanyo</td><td>Majorman</td><td>Green U19</td><td>Border RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Gere</td><td>Maree</td><td>Green U19</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Dewald</td><td>Potgieter</td><td>Green U16</td><td>EP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Glen</td><td>Poulton</td><td>Green U16</td><td>Griqualand West RU</td><td>8/4/2003</td><td><Br></td><td><Br></td><td>-8</td><td>-18</td><td>54</td><td>44</td></tr>
<td>Deon</td><td>Stegmann</td><td>Green U19</td><td>Free State RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Solomon</td><td>van der Merwe</td><td>SWD CC 2003</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Pieter</td><td>van Dyk</td><td>Green U19</td><td>Griqualand West RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Johannes</td><td>van Heerden</td><td>Springbok</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Werner</td><td>van Staden</td><td>Green U16</td><td>Griqualand West RU</td><td>8/4/2003</td><td><Br></td><td><Br></td><td>-5</td><td>-3</td><td>54</td><td>49</td></tr>
<td>Schalk</td><td>Burger</td><td>Springbok</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jonathan</td><td>Dangoumou</td><td>Green U19</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Teboho</td><td>Dhlamini</td><td>Green U19</td><td>Free State RU</td><td>8/5/2003</td><td>94</td><td>92</td><td>-8</td><td>-1</td><td>52</td><td>42</td></tr>
<td>Lazola</td><td>Gonya</td><td>Green U16</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Ashley</td><td>Johnson</td><td>Green U19</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Friedrich</td><td>Kamffer</td><td>Green U16</td><td>Free State RU</td><td>8/5/2003</td><td>82</td><td>73</td><td>7</td><td>2</td><td>65</td><td>59</td></tr>
<td>Petrus</td><td>Krause</td><td>Springbok</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Cornelius</td><td>Krige</td><td>Springbok</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Gert</td><td>Kroukamp</td><td>Green U16</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Eric</td><td>Ngoie</td><td>Green U16</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Thobela</td><td>Ngonyoza</td><td>Green U19</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Hendro</td><td>Scholtz</td><td>Springbok</td><td>Free State RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Richardt</td><td>Strauss</td><td>Green U19</td><td>Free State RU</td><td>8/5/2003</td><td>73</td><td>76</td><td>-5</td><td>-6</td><td>43</td><td>45</td></tr>
<td>Francois</td><td>Uys</td><td>Green U19</td><td>Falcons RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Joost</td><td>van der Westhuizen</td><td>Springbok</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Wayne</td><td>van Heerden</td><td>Gold</td><td>EP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Luke</td><td>Watson</td><td>Gold</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Wesley</td><td>Wilkins</td><td>Green U19</td><td>Border RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Deon</td><td>Coetzer</td><td>SWD CC 2003</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Andrew</td><td>Dikobo</td><td>Green U19</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Julian</td><td>Erasmus</td><td>Green U16</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Bobby</td><td>Freislich</td><td>Free State CC 2003</td><td>Free State RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Ivan</td><td>Grobler</td><td>Green U16</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Rufus</td><td>Holtzhausen</td><td>Green U16</td><td>Leopards RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Cornelius</td><td>Kemp</td><td>Green U19</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Juandre</td><td>Kruger</td><td>Green U19</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Pieter</td><td>Louw</td><td>Green U19</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Sisa</td><td>Mafu</td><td>Green U19</td><td>EP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Gerhardus</td><td>Meyer</td><td>Green U19</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Coenraad</td><td>Pieterse</td><td>Green U16</td><td>Free State RU</td><td>8/5/2003</td><td>82</td><td>79</td><td>-5</td><td>-7</td><td>40</td><td>44</td></tr>
<td>Christian</td><td>Potgieter</td><td>Boland CC 2003</td><td>Boland RU</td><td>2/1/2004</td><td>54</td><td>54</td><td>54</td><td>545</td><td>454</td><td>5</td></tr>
<td>Corne</td><td>Potgieter</td><td>SWD CC 2003</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Johnny</td><td>Schoeman</td><td>Green U16</td><td>Griffons RU</td><td>8/4/2003</td><td>91</td><td>92</td><td>-15</td><td>-8</td><td>49</td><td>54</td></tr>
<td>Robert</td><td>Skinstad</td><td>Springbok</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jaun</td><td>Smith</td><td>Springbok</td><td>Free State RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Richard</td><td>Sowerby</td><td>Springbok</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jakobus</td><td>Swanepoel</td><td>Green U19</td><td>Free State RU</td><td>8/5/2003</td><td>78</td><td>82</td><td>0</td><td>1</td><td>37</td><td>38</td></tr>
<td>Jaco</td><td>Swanepoel</td><td>Green U16</td><td>EP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Pedrie</td><td>Wannenburg</td><td>Springbok</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jaco</td><td>Colyn</td><td>Green U16</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Johannes</td><td>Conradie</td><td>Springbok</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Craig</td><td>Davidson</td><td>Springbok</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Neil</td><td>de Kock</td><td>Springbok</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Paul</td><td>Delport</td><td>Gold</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Fourie</td><td>du Preez</td><td>Gold</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Joshua</td><td>Freislich</td><td>Green U16</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Conrad</td><td>Hoffmann</td><td>Green U16</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Quintin</td><td>Kruger</td><td>Green U19</td><td>Leopards RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Damian</td><td>Labans</td><td>Green U19</td><td>Griffons RU</td><td>8/4/2003</td><td>69</td><td>69</td><td>-5</td><td>-8</td><td>35</td><td>36</td></tr>
<td>Marlon</td><td>Lewis</td><td>Green U16</td><td>EP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Warren</td><td>Malgas</td><td>Green U19</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Dru</td><td>Nass</td><td>Boland CC 2003</td><td>Boland RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Grant</td><td>Paulse</td><td>Green U16</td><td>Boland RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Curtis</td><td>Siegelaar</td><td>Green U19</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Daniel</td><td>van der Merwe</td><td>Green U19</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Shane</td><td>Vergotine</td><td>Green U19</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jano</td><td>Vermaak</td><td>Green U19</td><td>Falcons RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Meyer</td><td>Bosman</td><td>Green U19</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Isma-eel</td><td>Dollie</td><td>Green U19</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Gerhard</td><td>Goosen</td><td>Boland CC 2003</td><td>Boland RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Andisa</td><td>Gqobo</td><td>Green U19</td><td>Border RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Derick</td><td>Hougaard</td><td>Springbok</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jakobus</td><td>Immelman</td><td>Boland CC 2003</td><td>Boland RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Thando</td><td>Jacobs</td><td>Green U19</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Andrew</td><td>James</td><td>Springbok</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Thamzamile</td><td>Majola</td><td>Green U16</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Preston</td><td>Mommsen</td><td>Green U16</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Daniel</td><td>Philander</td><td>Boland CC 2003</td><td>Boland RU</td><td>1/1/2004</td><td>51</td><td>51551</td><td>51</td><td>121</td><td>22</td><td>121</td></tr>
<td>Andre</td><td>Pretorius</td><td>Springbok</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jody</td><td>Rose</td><td>Green U19</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>40</td><td>41</td><td>42</td><td>43</td><td>44</td><td>45</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/12/2003</td><td>123</td><td>123</td><td>123</td><td>23</td><td>213</td><td>124</td></tr>
<td>Gideon</td><td>Stander</td><td>Green U19</td><td>Falcons RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Bradwell</td><td>Swartz</td><td>Green U16</td><td>Boland RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Matthew</td><td>Tayler-Smith</td><td>Green U16</td><td>EP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Frederick</td><td>Viljoen</td><td>Green U16</td><td>Boland RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Reino</td><td>Erasmus</td><td>SWD CC 2003</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Edrick</td><td>Fredericks</td><td>Springbok</td><td>Free State RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Dirk</td><td>Froneman</td><td>Green U19</td><td>Free State RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Dean</td><td>Hall</td><td>Springbok</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Eldon</td><td>Hess</td><td>Green U16</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Johan</td><td>Heunis</td><td>Green U16</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Andrew</td><td>Irumba</td><td>Green U19</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Sakhiwo</td><td>Jaji</td><td>Green U19</td><td>Border RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Whybro</td><td>Johnson</td><td>Green U19</td><td>Leopards RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Heinrich</td><td>Jordaan</td><td>SWD CC 2003</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Deon</td><td>Kayser</td><td>Springbok</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Luvuyo</td><td>Mhlobiso</td><td>Green U19</td><td>EP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jason</td><td>Mitchell</td><td>Green U19</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Luxolo</td><td>Nondwangu</td><td>Green U16</td><td>Border RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Craig</td><td>Patrick</td><td>Green U16</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Warren</td><td>Petersen</td><td>Boland CC 2003</td><td>Boland RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Anton</td><td>Pitout</td><td>Springbok</td><td>Free State RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Pieter</td><td>Rossouw</td><td>Springbok</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Sifundo</td><td>Show</td><td>Green U16</td><td>EP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Pierre</td><td>Spies</td><td>Green U19</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Rowan</td><td>Walters</td><td>Green U16</td><td>Griqualand West RU</td><td>8/4/2003</td><td><Br></td><td><Br></td><td>-6</td><td>-8</td><td>38</td><td>39</td></tr>
<td>Ashwin</td><td>Willemse</td><td>Springbok</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Beyers</td><td>Broodryk</td><td>Green U16</td><td>Leopards RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Inus</td><td>Carstens</td><td>Green U16</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Noel</td><td>de Villiers</td><td>Green U19</td><td>EP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Farrol</td><td>Domingo</td><td>Green U16</td><td>EP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Dabeon</td><td>Draghoender</td><td>Green U16</td><td>Griffons RU</td><td>8/18/2003</td><td>86</td><td>81</td><td>-6</td><td>-5</td><td>44</td><td>60</td></tr>
<td>Peter</td><td>Grant</td><td>Gold</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Trevor</td><td>Halstead</td><td>Springbok</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Berwan</td><td>Haupt</td><td>Green U19</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Alwyn</td><td>Hollenbach</td><td>Green U19</td><td>Free State RU</td><td>8/5/2003</td><td>85</td><td>86</td><td>-5</td><td>-5</td><td>52</td><td>57</td></tr>
<td>Adrian</td><td>Jacobs</td><td>Springbok</td><td>Falcons RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Wayne</td><td>Julies</td><td>Springbok</td><td>Free State RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Cornelius</td><td>Minnie</td><td>Green U16</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Earl</td><td>Rose</td><td>Gold</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Ashwin</td><td>Scott</td><td>Green U19</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Joseph</td><td>Snyman</td><td>SWD CC 2003</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Siyabonga</td><td>Sono</td><td>Green U16</td><td>Border RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Willem</td><td>Van Zyl</td><td>Boland CC 2003</td><td>Boland RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jacques</td><td>de Kock</td><td>Green U16</td><td>Griqualand West RU</td><td>8/4/2003</td><td>95</td><td>92</td><td>-8</td><td>-8</td><td>36</td><td>32</td></tr>
<td>Jean</td><td>de Villiers</td><td>Springbok</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Sylvester</td><td>Engelbrecht</td><td>Green U19</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Robert</td><td>Fleck</td><td>Springbok</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Mfana</td><td>Hlatshwayo</td><td>Green U16</td><td>Mpumalanga RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Marius</td><td>Joubert</td><td>Springbok</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Ncedo</td><td>Koyana</td><td>Green U19</td><td>Border RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Luyanda</td><td>Madiba</td><td>Green U19</td><td>Border RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Kevin</td><td>Pikaan</td><td>SWD CC 2003</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Andries</td><td>Snyman</td><td>Springbok</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Pieter</td><td>Spaumer</td><td>Green U19</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Dewey</td><td>Swartbooi</td><td>Gold</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Carel</td><td>Van Lill</td><td>Green U16</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Elrich</td><td>van Vuuren</td><td>Green U19</td><td>EP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Tiaan</td><td>Van Wyk</td><td>Green U16</td><td>Boland RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Bertram</td><td>Willemse</td><td>Green U16</td><td>Boland RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Willem</td><td>Daries</td><td>Green U16</td><td>Boland RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Danwill</td><td>Erasmus</td><td>Green U16</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jerome</td><td>Horn</td><td>Green U16</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Yandisa</td><td>Jaxa</td><td>Green U16</td><td>Border RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Friedrich</td><td>Lombard</td><td>Springbok</td><td>Free State RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Booi</td><td>Malgas</td><td>Green U16</td><td>Griqualand West RU</td><td>8/4/2003</td><td><Br></td><td><Br></td><td>-15</td><td>-15</td><td>42</td><td>46</td></tr>
<td>Ghaliel</td><td>Markus</td><td>Green U16</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Cedric</td><td>Mkhize</td><td>Green U19</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Lubabalo</td><td>Ntuntwana</td><td>Green U16</td><td>EP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Quintin</td><td>Snyman</td><td>Green U19</td><td>Falcons RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Stefan</td><td>Terblanche</td><td>Springbok</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Wongama</td><td>Tom</td><td>Green U19</td><td>EP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jerome</td><td>Williams</td><td>Green U19</td><td>EP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Marvin</td><td>Christians</td><td>Green U16</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Marius</td><td>Delport</td><td>Green U19</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Gerhardus</td><td>Delport</td><td>Springbok</td><td>Falcons RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jan</td><td>du Plessis</td><td>Green U19</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Arnu</td><td>Fourie</td><td>Green U19</td><td>Free State RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Curlian</td><td>Genis</td><td>Green U19</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Byron</td><td>Godfrey</td><td>Green U16</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Werner</td><td>Greeff</td><td>Springbok</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Hayden</td><td>Groepes</td><td>Green U16</td><td>Boland RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Conrad</td><td>Jantjes</td><td>Springbok</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Ricardo</td><td>Loubscher</td><td>Springbok</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Rickus</td><td>Meintjies</td><td>Green U16</td><td>EP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Christopher</td><td>Micklewood</td><td>Green U16</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Johann</td><td>Myburgh</td><td>Green U16</td><td>Border RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Brent</td><td>Russell</td><td>Springbok</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Edward</td><td>Squires</td><td>Green U19</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Justin</td><td>St Jerry</td><td>Green U16</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jacobus</td><td>van der Westhuyzen</td><td>Springbok</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Antonius</td><td>Verhoeven</td><td>Boland CC 2003</td><td>Boland RU</td><td>2/2/2004</td><td>54</td><td>54</td><td>545454</td><td>54</td><td>54</td><td>54</td></tr>
<td>Antonius</td><td>Verhoeven</td><td>Boland CC 2003</td><td>Boland RU</td><td>2/2/2004</td><td>54</td><td>54</td><td>545454</td><td>54</td><td>54</td><td>54</td></tr>
<td>Antonius</td><td>Verhoeven</td><td>Boland CC 2003</td><td>Boland RU</td><td>2/2/2004</td><td>54</td><td>54</td><td>545454</td><td>54</td><td>54</td><td>54</td></tr>
<td>Antonius</td><td>Verhoeven</td><td>Boland CC 2003</td><td>Boland RU</td><td>2/2/2004</td><td>54</td><td>54</td><td>545454</td><td>54</td><td>54</td><td>54</td></tr>
<td>Antonius</td><td>Verhoeven</td><td>Boland CC 2003</td><td>Boland RU</td><td>2/2/2004</td><td>54</td><td>54</td><td>545454</td><td>54</td><td>54</td><td>54</td></tr>
<td>Antonius</td><td>Verhoeven</td><td>Boland CC 2003</td><td>Boland RU</td><td>2/2/2004</td><td>54</td><td>54</td><td>545454</td><td>54</td><td>54</td><td>54</td></tr>
<td>Antonius</td><td>Verhoeven</td><td>Boland CC 2003</td><td>Boland RU</td><td>2/2/2004</td><td>54</td><td>54</td><td>545454</td><td>54</td><td>54</td><td>54</td></tr>
<td>Antonius</td><td>Verhoeven</td><td>Boland CC 2003</td><td>Boland RU</td><td>2/2/2004</td><td>54</td><td>54</td><td>545454</td><td>54</td><td>54</td><td>54</td></tr>
<td>Mawande</td><td>Zenzile</td><td>Green U19</td><td>Border RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Nicolaas</td><td>Zoutman</td><td>SWD CC 2003</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<tr><td style='background-color:#CFDAE2; text-align:right' class=cellhere colspan='12'>586 Records</td></tr></table></td></tr></table><br>
