/*=============================================================================================
========================EVERYTHING on this site is copyrighted to Genesys=================================
==============Any use without written approval by Genesys is considered infringment.============================
=============================================================================================*/
.txtboxes
{
    FONT-SIZE: 9px;
    WIDTH: 170px;
    COLOR: #000000;
    HEIGHT: 18px;
}
.mediumtxtboxes
{
    FONT-SIZE: 9px;
    WIDTH: 107px;
    COLOR: #000000;
    HEIGHT: 19px;
}
.shorttxtboxes
{
    FONT-SIZE: 9px;
    WIDTH: 58px;
    COLOR: #000000;
    HEIGHT: 19px;
}
select.txtboxes{margin-top:1px;margin-bottom:1px;margin-right:1px;}
A
{
    FONT-WEIGHT: bold;
    COLOR: #000000;
    TEXT-DECORATION: none
}
DIV
{
    FONT-SIZE: xx-small;
    COLOR: black
}
TEXTAREA
{   
    FONT-FAMILY: Arial, Helvetica;
    FONT-SIZE: 11px;
    WIDTH: 170px;
    COLOR: #000000;
    HEIGHT: 58px
}


.TABLEHEAD {
	font-size : x-small;
	font-family : Arial;
	font-weight : bold;
	font-style : normal;
	color : #000000;
	background-color : #cccccc;
}

.DAYS {
	font-size : xx-small;
	font-family : Arial;
	font-weight : Bold;
	font-style : normal;
	color : #000000;
	background-color : #EEEEEE;
}

.BEFORETODAY {
	font-size : xx-small;
	font-family : Arial;
	font-weight : normal;
	font-style : normal;
	color : #000080;
	background-color : #EEEEEE;
	cursor:hand
}

.AFTERTODAY {
	font-size : xx-small;
	font-family : Arial;
	font-weight : normal;
	font-style : normal;
	color : #000080;
	background-color : #CCCCCC;
	cursor:hand
}

.TODAY {
	font-size : xx-small;
	font-family : Arial;
	font-weight : bold;
	font-style : normal;
	color : #FF0000;
	background-color : #FFFFFF;
	cursor:hand;
	
		
}
.sel{

	font-size : xx-small;
	font-family : Arial;
	font-weight : bold;
	font-style : normal;
	color : #000000;
	background-color : #cccccc;
	cursor:hand;
	border-style:none;
	
}
BODY{
    FONT-SIZE: xx-small;
    FONT-FAMILY: Verdana, Arial, Helvetica;
	SCROLLBAR-FACE-COLOR: #F3F7F8;
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
	SCROLLBAR-SHADOW-COLOR: #ffffff;
	SCROLLBAR-3DLIGHT-COLOR: #BFCAD2;
	SCROLLBAR-ARROW-COLOR: #4A667A;
	SCROLLBAR-TRACK-COLOR: #ffffff;
	SCROLLBAR-DARKSHADOW-COLOR: #BFCAD2;
}
	
.cellrep
{
	BORDER-TOP: 1px solid #999999;BORDER-LEFT: 1px solid #999999;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size=10px;
	text-align:left;
}
.head
{
	BORDER-TOP: 1px solid #999999;BORDER-LEFT: 1px solid #999999;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size=10px;
	text-align:center;
	background-color:Silver;
	color:#666666;
}
.but
{
font-size: 11px;
 border: 1px #999999 solid;
 cursor: hand;
 background-color:#FFFFFF;
 width:16;
 height:19;
}
.buttons{
	font-size: 11px;
	border:1px solid #222;
	background-Color:#FFF;
	padding:1px;
	width:22px;
	height:22px;
	text-align:center;
}

