/*=============================================================================================
========================EVERYTHING on this site is copyrighted to Genesys=================================
==============Any use without written approval by Genesys is considered infringment.============================
=============================================================================================*/
@media print {
    TABLE{width:100%}
}
@media screen {
	//TABLE{width:600px}
}
TD
{
	BORDER-TOP: 1px solid #999999;BORDER-LEFT: 1px solid #999999;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size=10px;
	text-align:left;
}
TH.Cellhere
{
	BORDER-TOP: 1px solid #999999;BORDER-LEFT: 1px solid #999999;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size=10px;
	text-align:center;
	background-color:Silver;
	text-transform:capitalize;
	color:#666666;
}
.cell
{
		font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size=6px;
	text-align:left;
}

.pull
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size=6px;
	text-align:left;
	width=40px;
	
}
.Subhead
{
	BORDER-TOP: 1px solid #999999;BORDER-LEFT: 1px solid #999999;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size=10px;
	text-align:center;
	background-color:#F5F5F5;
	text-transform:capitalize;
	color:#666666;
}
