body
{
	font-family:verdana,helvetica,arial;
	SCROLLBAR-FACE-COLOR: #a5a5a5;
	SCROLLBAR-HIGHLIGHT-COLOR: #808080;
	SCROLLBAR-SHADOW-COLOR: gray;
	SCROLLBAR-3DLIGHT-COLOR: gray;
	SCROLLBAR-ARROW-COLOR: #ffffff;
	SCROLLBAR-TRACK-COLOR: gray;
	SCROLLBAR-DARKSHADOW-COLOR: gray;
	font:10px;
}
td
{
	font:10px;
	}
.buttons
{
	background-color:#EDEDED;
	}
.header1
{
	font-size:14px;
	font-weight:bold;
	}