/*=============================================================================================
========================EVERYTHING on this site is copyrighted to Genesys=================================
==============Any use without written approval by Genesys is considered infringment.============================
=============================================================================================*/

BODY
	{
		SCROLLBAR-FACE-COLOR: gray;
		SCROLLBAR-HIGHLIGHT-COLOR: gray;
		SCROLLBAR-SHADOW-COLOR: gray;
		SCROLLBAR-3DLIGHT-COLOR: gray;
		SCROLLBAR-ARROW-COLOR: #ffffff;
		SCROLLBAR-TRACK-COLOR: gray;
		SCROLLBAR-DARKSHADOW-COLOR: gray;
	}
	.img{border-Bottom:1px SOLID Black;border-right:1px Solid Black;border-top:1px Solid White;Border-left:1px solid white;}
	.Imgbefore{border-Bottom:1px SOLID gray;border-right:1px Solid gray;border-top:1px Solid gray;Border-left:1px solid gray;}
	IMG{width:36px;height:36px;border:0px;hspace:0px;}
	BODY{FONT-SIZE: 9px;FONT-FAMILY: Verdana, Arial, Helvetica;COLOR: #ffffff;}
	TD{FONT-SIZE: 11px;font-family:arial;Z-INDEX:1;CURSOR: hand;HEIGHT: 20px;border:2px outset #eeeeee;BACKGROUND-COLOR: #cccccc;COLOR: #000000;}
