/*=============================================================================================
========================EVERYTHING on this site is copyrighted to Genesys=================================
==============Any use without written approval by Genesys is considered infringment.============================
=============================================================================================*/
	BODY{
		font-size:10px;
		FONT-FAMILY: Verdana, Arial, Helvetica;
		SCROLLBAR-FACE-COLOR: #F3F7F8;
		SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
		SCROLLBAR-SHADOW-COLOR: #ffffff;
		SCROLLBAR-3DLIGHT-COLOR: #BFCAD2;
		SCROLLBAR-ARROW-COLOR: #4A667A;
		SCROLLBAR-TRACK-COLOR: #ffffff;
		SCROLLBAR-DARKSHADOW-COLOR: #BFCAD2;
	}
	TD{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:10px;
		}
	#ReportMain TD
	{
		BORDER-TOP: 1px solid #999999;BORDER-LEFT: 1px solid #999999;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:10px;
		text-align:center;
		background-color:#FFFFFF;
	}
	#ReportMain TH
	{
		BORDER-TOP: 1px solid #999999;BORDER-LEFT: 1px solid #999999;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:10px;
		text-align:center;
		background-color:#BFCAD2;
	}
	#ReportMain .cellhere2
	{
		BORDER-TOP: 1px solid #999999;BORDER-LEFT: 1px solid #999999;
		background-Color:#4A667A;
		color:#EEEEEE;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:10px;
		text-align:center;
	}
	TD.cellhere
	{
		BORDER-TOP: 1px solid #999999;BORDER-LEFT: 1px solid #999999;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:10px;
		text-align:center;
		background-color:#FFFFFF;
	}
	TH.cellhere
	{
		BORDER-TOP: 1px solid #999999;BORDER-LEFT: 1px solid #999999;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:10px;
		text-align:center;
		background-color:#FFFFFF;
	}
	TH.cellhere2
	{
		BORDER-TOP: 1px solid #999999;BORDER-LEFT: 1px solid #999999;
		background-Color:#4A667A;
		color:#EEEEEE;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:10px;
		text-align:center;
	}
	TR.Cells
	{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size=10px;
	}
	TD.Cells
	{
		BORDER-TOP: 1px solid #999999;BORDER-LEFT: 1px solid #999999;
		cursor:hand;
		text-align:center;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size=10px;
	}
	TD.Cellhere2
	{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size=10px;
		text-align:center;
	}
	TD.headinghere
	{
		BORDER-TOP: 1px solid #999999;BORDER-LEFT: 1px solid #999999;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:10px;
		text-align:center;
		background-color:#F5F5F5;
	}
	TD.headinghere2
	{
		BORDER-TOP: 1px solid #999999;BORDER-LEFT: 1px solid #999999;
		BORDER-BOTTOM: 1px solid #999999;BORDER-RIGHT: 1px solid #999999;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:10px;
		text-align:center;
		background-color:#F5F5F5;
	}
	.headinghere3
	{
		BORDER-TOP: 1px solid #999999;BORDER-LEFT: 1px solid #999999;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:10px;
		text-align:center;
		background-color:#DFDFDF;
	}
	Table.tblhere
	{
		BORDER-BOTTOM: 1px solid;BORDER-RIGHT: 1px solid
	}
	A
	{
		color:#666666;
		text-decoration:none
	}
	.pulldown
	{
		font-size:10px;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		width:280px;
		height:240px;
	}
	.pulldown1
	{
		font-size:10px;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		width:280px;
		height:120px;
	}
	.pulldown2{
		font-size:10px;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		width:0px;border:
	}
	.txtboxes
	{
		background-color: white;
		font-family:Verdana;
		font-size:9; 
		color:#000000; 
		width:150; 
		height:16;
		border:1px solid #999999
	}
	TR.Selected2{
		background-color:#E7F3F5;
		cursor:hand;
	}
	TR.Row{
		background-color:#FFFFFF;
		cursor:hand;
	}
	.but{
		border:1px solid #222;
		background-Color:#FFF;
		padding:1px;
		width:22px;
		height:22px;
		text-align:center;
	}