/*=============================================================================================
========================EVERYTHING on this site is copyrighted to Genesys=================================
==============Any use without written approval by Genesys is considered infringment.============================
=============================================================================================*/
BODY{
    FONT-SIZE: xx-small;
    FONT-FAMILY: Verdana, Arial, Helvetica;
	SCROLLBAR-FACE-COLOR: #F3F7F8;
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff;
	SCROLLBAR-SHADOW-COLOR: #ffffff;
	SCROLLBAR-3DLIGHT-COLOR: #BFCAD2;
	SCROLLBAR-ARROW-COLOR: #4A667A;
	SCROLLBAR-TRACK-COLOR: #ffffff;
	SCROLLBAR-DARKSHADOW-COLOR: #BFCAD2;
}
@media print {
    TABLE{width:100%}
}
@media screen {
	//TABLE{width:600px}
}
Table{
	background-color:#F3F7F8;
	BORDER-BOTTOM: 1px solid #8EA2B0;
	BORDER-RIGHT: 1px solid #8EA2B0;
}
TD
{
	BORDER-TOP: 1px solid #8EA2B0;
	BORDER-LEFT: 1px solid #8EA2B0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	text-align:left;
}
TH.Cellhere
{
	BORDER-TOP: 1px solid #8EA2B0;BORDER-LEFT: 1px solid #8EA2B0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size=10px;
	text-align:center;
	background-color:#BFCAD2;
	color:#333333;
}
.cell
{
	BORDER-TOP: 1px solid #8EA2B0;
	BORDER-LEFT: 1px solid #8EA2B0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size=6px;
	text-align:left;
}

.pull
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size=6px;
	text-align:left;
	width=40px;
	
}
.Subhead
{
	BORDER-TOP: 1px solid #999999;BORDER-LEFT: 1px solid #999999;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size=10px;
	text-align:center;
	background-color:#F5F5F5;
	color:#666666;
}
