/*=============================================================================================
========================EVERYTHING on this site is copyrighted to Genesys=================================
==============Any use without written approval by Genesys is considered infringment.============================
=============================================================================================*/
BODY{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}
TD
{
	BORDER-TOP: 1px solid #999999;BORDER-LEFT: 1px solid #999999;
	font-size=10px;
	text-align:center;
	height:12px;

}
TH
{
	BORDER-TOP: 1px solid #999999;BORDER-LEFT: 1px solid #999999;
	font-size=10px;
	text-align:center;
	background-color:#F5F5F5;
	text-transform:capitalize;
	color:#333333;
}
Input
{
    FONT-SIZE: 9px;
    WIDTH: 80px;
    COLOR: #000000;
    HEIGHT: 100%;
    BORDER:none
}
Select
{
    FONT-SIZE: 9px;
    WIDTH: 58px;
    COLOR: #000000;
    HEIGHT: 100%;
    BORDER:none
}

a:visited {color: #666666; text-decoration: none}
a:hover {color: #666666; text-decoration: underline}
a:link {color: #666666; text-decoration: none}

