/*=============================================================================================
========================EVERYTHING on this site is copyrighted to Genesys=================================
==============Any use without written approval by Genesys is considered infringment.============================
=============================================================================================*/
	BODY{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
	}
	TH	
	{
		BORDER-TOP: 1px solid #999999;BORDER-LEFT: 1px solid #999999;
		font-size=10px;
		text-align:center;
		text-transform:capitalize;
		color:#333333;
	}
	.pullD {
		font-size: 9; 
		color: #00000
	}
	TD.Cellhere
	{
		BORDER-TOP: 1px solid #999999;BORDER-LEFT: 1px solid #999999;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size:10px;
		text-align:center;
	}
	TD.Cellhere2
	{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size=10px;
		text-align:center;
	}
	TR.Cells
	{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size=10px;
	}
	TD.headinghere
	{
		BORDER-TOP: 1px solid #999999;BORDER-LEFT: 1px solid #999999;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size=10px;
		text-align:center;
		background-color:#F5F5F5;
	}
	A
	{
		color:#666666;
		text-decoration:none
	}
	.spanhere{
		font-size: 11px;
		border: 1px #999999 solid;
		cursor: hand;
		background-color:#FFFFFF; 
		width:266px;
		text-align:center;
		}
	.pulldown{
		font-size:10px;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		width:250px;border:
	}
	.pulldown2{
		font-size:10px;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		width:0px;border:
	}
	.txtboxes{
		background-color: white;
		font-family:Verdana;
		font-size: 9; 
		color: #000000; 
		width:150; height:16;
		border: 1px solid #999999
	}
	.txtboxes2{
		background-color: white;
		font-family:Verdana;
		font-size: 9; 
		color: #000000; 
		width:150; height:16;
		border: 1px solid #999999
	}