/*=============================================================================================
========================EVERYTHING on this site is copyrighted to Genesys=================================
==============Any use without written approval by Genesys is considered infringment.============================
=============================================================================================*/
TD{FONT-SIZE: 10px}
.clsTab {
	color: #FFFFFF;
	font-weight: bold;
	/*font-family:Verdana, Arial, Helvetica;*/
	background-color: #F7F7F7;
	cursor: hand;
	font-size:9px;
	border-left: 1px solid #C0C0C0;
	border-top: 1px solid #C0C0C0;
}
.clsTabSelected {
	color: #ccffcc;
	font-weight: bold;
	/*font-family:Verdana, Arial, Helvetica;*/
	background-color: #dCdCdC;
	cursor: default;
	font-size:9px;
	border-bottom: 2px outset #dCdCdC;
	border-left: 2px outset #dCdCdC;
	border-right: 2px outset #dCdCdC;
}
a.clsTabLink {font-size:9px;text-decoration:none;color: #666666;cursor: default;font-weight: normal;}
a.clsTabLinkSelected {font-size:9px;text-decoration:none;color:#777777;cursor: default;font-weight: bold;}
a.clsTabLinkSelected:hover {font-size:9px;text-decoration:none;color:#777777;cursor: default;font-weight: bold;}
a.clsTabLink:hover {font-size:9px;text-decoration:none;color: #666666;cursor: hand;font-weight: normal;}
	TD.Cellhere
	{
		BORDER-TOP: 1px solid #999999;BORDER-LEFT: 1px solid #999999;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size=10px;
		text-align:center;
		background-color:#FFFFFF;
	}
	
	TD.Cellhere2
	{
		
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size=10px;
		text-align:center;
		background-color:#FFFFFF;
	}
	
	TR.Cells
	{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size=10px;
	}
	TD.headinghere
	{
		BORDER-TOP: 1px solid #999999;BORDER-LEFT: 1px solid #999999;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size=10px;
		text-align:center;
		background-color:#F5F5F5;
	}
	.pulldown{
		font-size:10px;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		width:250px;border:
	}
	
	.pulldown2{
		font-size:10px;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		width:0px;border:
	}