<table align='center' id='ReportMain' name='ReportMain' cellspacing=0 style='BORDER-BOTTOM: 1px solid;BORDER-RIGHT: 1px solid;position:relative;top:-10px;left:-5px;width:90%'><tr><td><Table cellpadding=4 cellspacing=0 border=0 bordercolor=#999999 style='BORDER-BOTTOM: 1px solid;BORDER-RIGHT: 1px solid;width:100%'><tr id='Headers' name='Headers'><td style='padding:0' colspan=14><table cellpadding='0' cellspacing='0' border='0' style='width:100%;padding:3 0 3 0;'><tr><th id='ReportName' name='ReportName' class=cellhere2 style='text-align:left'>&nbsp;&nbsp;Illinois-Test - 1/16/2004</th></tr></table></td></tr><tr><th>FIRSTNAME</th><th>SURNAME</th><th>SQUAD</th><th>RUGBYUNION</th><th>AgeGroup</th><th>Norm</th><th>Percentile</th><th>Result</th><th>SASquadComparative</th><th>Surface</th><th>TestDate</th></tr><td>Heathesh</td><td>Bhandari</td><td>Green U16</td><td><Br></td><td>Mini</td><td><Br></td><td><Br></td><td>12</td><td>U/9</td><td><Br></td><td>1/1/2001</td></tr>
<td>Heathesh</td><td>Bhandari</td><td>Green U16</td><td><Br></td><td>Mini</td><td><Br></td><td><Br></td><td>13</td><td>U/9</td><td><Br></td><td>1/1/2002</td></tr>
<td>Wilhelm</td><td>Carstens</td><td>Boland CC 2003</td><td>Boland RU</td><td>U/14</td><td><Br></td><td><Br></td><td>87</td><td>U/13</td><td><Br></td><td>1/2/2004</td></tr>
<td>Shaun</td><td>de Vos</td><td>Green U16</td><td>Leopards RU</td><td>U/16</td><td><Br></td><td><Br></td><td>15.3</td><td>U/16</td><td><Br></td><td>8/5/2003</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>U/11</td><td><Br></td><td><Br></td><td>3</td><td>U/9</td><td><Br></td><td>1/22/2004</td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td>U/11</td><td><Br></td><td><Br></td><td>3</td><td>U/9</td><td><Br></td><td>1/22/2004</td></tr>
<td>Daniel</td><td>du Plessis</td><td>Green U19</td><td>SWD RFU</td><td>U/18</td><td><Br></td><td><Br></td><td>16.81</td><td>U/19</td><td><Br></td><td>8/11/2003</td></tr>
<td>Riacco</td><td>Eilerd</td><td>Green U16</td><td>Griqualand West RU</td><td>U/16</td><td><Br></td><td><Br></td><td>15.14</td><td>U/16</td><td><Br></td><td>8/4/2003</td></tr>
<td>Gugulethu</td><td>Fata</td><td>Green U19</td><td>Golden Lions RU</td><td>U/18</td><td><Br></td><td><Br></td><td>15.4</td><td>U/19</td><td><Br></td><td>8/5/2003</td></tr>
<td>Thato</td><td>Lebitsa</td><td>Green U16</td><td>Natal RU</td><td>U/16</td><td><Br></td><td><Br></td><td>16.55</td><td>U/16</td><td><Br></td><td>8/6/2003</td></tr>
<td>Samuel</td><td>Leburu</td><td>Green U19</td><td>Griqualand West RU</td><td>U/18</td><td><Br></td><td><Br></td><td>15.71</td><td>U/19</td><td><Br></td><td>8/4/2003</td></tr>
<td>Divan</td><td>Manus</td><td>Green U19</td><td>Griqualand West RU</td><td>U/18</td><td><Br></td><td><Br></td><td>15.46</td><td>U/19</td><td><Br></td><td>8/4/2003</td></tr>
<td>Willem</td><td>Roberts</td><td>Green U19</td><td>Free State RU</td><td>U/18</td><td><Br></td><td><Br></td><td>14.67</td><td>U/19</td><td><Br></td><td>8/5/2003</td></tr>
<td>Gordon</td><td>Thomas</td><td>Green U16</td><td>Golden Lions RU</td><td>U/16</td><td><Br></td><td><Br></td><td>16.8</td><td>U/16</td><td><Br></td><td>8/5/2003</td></tr>
<td>Cassim</td><td>Tiry</td><td>Green U16</td><td>EP RFU</td><td>U/16</td><td><Br></td><td><Br></td><td>14.68</td><td>U/16</td><td><Br></td><td>8/9/2003</td></tr>
<td>Rikus</td><td>du Bruyn</td><td>Green U16</td><td>Golden Lions RU</td><td>U/16</td><td><Br></td><td><Br></td><td>15</td><td>U/16</td><td><Br></td><td>8/5/2003</td></tr>
<td>Bobby</td><td>Freislich</td><td>Free State CC 2003</td><td>Free State RU</td><td>U/18</td><td><Br></td><td><Br></td><td>14.09</td><td>U/19</td><td><Br></td><td>8/9/2003</td></tr>
<td>Gert</td><td>Greyling</td><td>Green U19</td><td>Free State RU</td><td>U/18</td><td><Br></td><td><Br></td><td>15.03</td><td>U/19</td><td><Br></td><td>8/5/2003</td></tr>
<td>Thato</td><td>Ntechane</td><td>Green U19</td><td>Free State RU</td><td>U/18</td><td><Br></td><td><Br></td><td>15.44</td><td>U/19</td><td><Br></td><td>8/5/2003</td></tr>
<td>Gustav</td><td>Rademeyer</td><td>Boland CC 2003</td><td>Boland RU</td><td>U/12</td><td><Br></td><td><Br></td><td>4</td><td>U/12</td><td><Br></td><td>8/2/2007</td></tr>
<td>Ramano</td><td>Sebia</td><td>Green U16</td><td>Griffons RU</td><td>U/16</td><td><Br></td><td><Br></td><td>14.74</td><td>U/16</td><td><Br></td><td>8/4/2003</td></tr>
<td>Adriaan</td><td>Strauss</td><td>Green U19</td><td>Free State RU</td><td>U/18</td><td><Br></td><td><Br></td><td>14.56</td><td>U/19</td><td><Br></td><td>8/5/2003</td></tr>
<td>David</td><td>Wannenburg</td><td>Green U16</td><td>EP RFU</td><td>U/16</td><td><Br></td><td><Br></td><td>13.86</td><td>U/16</td><td><Br></td><td>8/9/2003</td></tr>
<td>Louis</td><td>Coetzee</td><td>Green U16</td><td>Leopards RU</td><td>U/16</td><td><Br></td><td><Br></td><td>16</td><td><Br></td><td><Br></td><td>8/5/2003</td></tr>
<td>Zander</td><td>de Kock</td><td>Green U16</td><td>Golden Lions RU</td><td>U/16</td><td><Br></td><td><Br></td><td>1.56</td><td>U/16</td><td><Br></td><td>8/5/2003</td></tr>
<td>Christoff</td><td>Storm</td><td>Green U19</td><td>Griffons RU</td><td>U/18</td><td><Br></td><td><Br></td><td>14.82</td><td>U/19</td><td><Br></td><td>8/11/2003</td></tr>
<td>Renier</td><td>Strydom</td><td>Green U16</td><td>Griqualand West RU</td><td>U/16</td><td><Br></td><td><Br></td><td>15.66</td><td>U/16</td><td><Br></td><td>8/4/2003</td></tr>
<td>David</td><td>Temo</td><td>Green U16</td><td>Blue Bulls RU</td><td>U/16</td><td><Br></td><td><Br></td><td>16.1</td><td>U/16</td><td><Br></td><td>8/5/2003</td></tr>
<td>Jean</td><td>van Zyl</td><td>Green U16</td><td>Free State RU</td><td>U/16</td><td><Br></td><td><Br></td><td>15.73</td><td>U/16</td><td><Br></td><td>8/5/2003</td></tr>
<td>Jarryd</td><td>Greyvenstein</td><td>Green U16</td><td>Border RU</td><td>U/16</td><td><Br></td><td><Br></td><td>14.76</td><td>U/16</td><td><Br></td><td>8/7/2003</td></tr>
<td>Anthonie</td><td>Gronum</td><td>Green U19</td><td>SWD RFU</td><td>U/18</td><td><Br></td><td><Br></td><td>16.09</td><td>U/19</td><td><Br></td><td>8/11/2003</td></tr>
<td>Lubabalo</td><td>Gwavu</td><td>Green U16</td><td>EP RFU</td><td>U/16</td><td><Br></td><td><Br></td><td>14.81</td><td>U/16</td><td><Br></td><td>8/9/2003</td></tr>
<td>Alistair</td><td>Hargreaves</td><td>Green U19</td><td>Natal RU</td><td>U/18</td><td><Br></td><td><Br></td><td>15.4</td><td>U/19</td><td><Br></td><td>8/6/2003</td></tr>
<td>Hendrik</td><td>Kilian</td><td>Green U16</td><td>Leopards RU</td><td>U/16</td><td><Br></td><td><Br></td><td>15.5</td><td>U/16</td><td><Br></td><td>8/5/2003</td></tr>
<td>Madoda</td><td>Manoni</td><td>Green U19</td><td>EP RFU</td><td>U/18</td><td><Br></td><td><Br></td><td>14.64</td><td>U/19</td><td><Br></td><td>8/9/2003</td></tr>
<td>Dumani</td><td>Mtya</td><td>Green U19</td><td>Border RU</td><td>U/18</td><td><Br></td><td><Br></td><td>14.77</td><td>U/19</td><td><Br></td><td>8/7/2003</td></tr>
<td>Michael</td><td>Rhodes</td><td>Green U16</td><td>Natal RU</td><td>U/16</td><td><Br></td><td><Br></td><td>17.01</td><td>U/16</td><td><Br></td><td>8/6/2003</td></tr>
<td>Lefa</td><td>Silo</td><td>Green U16</td><td>Griffons RU</td><td>U/16</td><td><Br></td><td><Br></td><td>14.76</td><td>U/16</td><td><Br></td><td>8/4/2003</td></tr>
<td>Frederik</td><td>Spies</td><td>Green U19</td><td>Griffons RU</td><td>U/18</td><td><Br></td><td><Br></td><td>15.23</td><td>U/19</td><td><Br></td><td>8/11/2003</td></tr>
<td>Flip</td><td>van der Merwe</td><td>Green U19</td><td>Free State RU</td><td>U/18</td><td><Br></td><td><Br></td><td>15.3</td><td>U/19</td><td><Br></td><td>8/5/2003</td></tr>
<td>Izak</td><td>van der Westhuizen</td><td>Green U19</td><td>Griqualand West RU</td><td>U/18</td><td><Br></td><td><Br></td><td>14.53</td><td>U/19</td><td><Br></td><td>8/4/2003</td></tr>
<td>Morne</td><td>van der Westhuyzen</td><td>Green U16</td><td>EP RFU</td><td>U/16</td><td><Br></td><td><Br></td><td>14.9</td><td>U/16</td><td><Br></td><td>8/9/2003</td></tr>
<td>Hendrik</td><td>van Niekerk</td><td>Green U19</td><td>Blue Bulls RU</td><td>U/18</td><td><Br></td><td><Br></td><td>16.3</td><td>U/19</td><td><Br></td><td>8/5/2003</td></tr>
<td>Daniel</td><td>Crous</td><td>Green U16</td><td>Free State RU</td><td>U/16</td><td><Br></td><td><Br></td><td>14.62</td><td>U/16</td><td><Br></td><td>8/5/2003</td></tr>
<td>Johannes</td><td>Janse van Rensburg</td><td>Green U16</td><td>Golden Lions RU</td><td>U/16</td><td><Br></td><td><Br></td><td>1.49</td><td>U/16</td><td><Br></td><td>8/5/2003</td></tr>
<td>Lukhanyo</td><td>Majorman</td><td>Green U19</td><td>Border RU</td><td>U/18</td><td><Br></td><td><Br></td><td>14.73</td><td>U/19</td><td><Br></td><td>8/7/2003</td></tr>
<td>Dewald</td><td>Potgieter</td><td>Green U16</td><td>EP RFU</td><td>U/16</td><td><Br></td><td><Br></td><td>14.46</td><td>U/16</td><td><Br></td><td>8/9/2003</td></tr>
<td>Glen</td><td>Poulton</td><td>Green U16</td><td>Griqualand West RU</td><td>U/16</td><td><Br></td><td><Br></td><td>15.23</td><td>U/16</td><td><Br></td><td>8/4/2003</td></tr>
<td>Werner</td><td>van Staden</td><td>Green U16</td><td>Griqualand West RU</td><td>U/16</td><td><Br></td><td><Br></td><td>14.6</td><td>U/16</td><td><Br></td><td>8/4/2003</td></tr>
<td>Jonathan</td><td>Dangoumou</td><td>Green U19</td><td>Golden Lions RU</td><td>U/18</td><td><Br></td><td><Br></td><td>14.6</td><td>U/19</td><td><Br></td><td>8/5/2003</td></tr>
<td>Teboho</td><td>Dhlamini</td><td>Green U19</td><td>Free State RU</td><td>U/18</td><td><Br></td><td><Br></td><td>14.56</td><td>U/19</td><td><Br></td><td>8/5/2003</td></tr>
<td>Friedrich</td><td>Kamffer</td><td>Green U16</td><td>Free State RU</td><td>U/16</td><td><Br></td><td><Br></td><td>14.54</td><td>U/16</td><td><Br></td><td>8/5/2003</td></tr>
<td>Eric</td><td>Ngoie</td><td>Green U16</td><td>Natal RU</td><td>U/16</td><td><Br></td><td><Br></td><td>16.46</td><td>U/16</td><td><Br></td><td>8/6/2003</td></tr>
<td>Richardt</td><td>Strauss</td><td>Green U19</td><td>Free State RU</td><td>U/18</td><td><Br></td><td><Br></td><td>15.05</td><td>U/19</td><td><Br></td><td>8/5/2003</td></tr>
<td>Julian</td><td>Erasmus</td><td>Green U16</td><td>Blue Bulls RU</td><td>U/16</td><td><Br></td><td><Br></td><td>15.6</td><td>U/16</td><td><Br></td><td>8/5/2003</td></tr>
<td>Ivan</td><td>Grobler</td><td>Green U16</td><td>Golden Lions RU</td><td>U/16</td><td><Br></td><td><Br></td><td>15.1</td><td>U/16</td><td><Br></td><td>8/5/2003</td></tr>
<td>Cornelius</td><td>Kemp</td><td>Green U19</td><td>SWD RFU</td><td>U/18</td><td><Br></td><td><Br></td><td>15.33</td><td>U/19</td><td><Br></td><td>8/11/2003</td></tr>
<td>Sisa</td><td>Mafu</td><td>Green U19</td><td>EP RFU</td><td>U/18</td><td><Br></td><td><Br></td><td>14.53</td><td>U/19</td><td><Br></td><td>8/9/2003</td></tr>
<td>Coenraad</td><td>Pieterse</td><td>Green U16</td><td>Free State RU</td><td>U/16</td><td><Br></td><td><Br></td><td>14.06</td><td>U/16</td><td><Br></td><td>8/5/2003</td></tr>
<td>Christian</td><td>Potgieter</td><td>Boland CC 2003</td><td>Boland RU</td><td>U/12</td><td><Br></td><td><Br></td><td>654</td><td>U/14</td><td><Br></td><td>2/1/2004</td></tr>
<td>Johnny</td><td>Schoeman</td><td>Green U16</td><td>Griffons RU</td><td>U/16</td><td><Br></td><td><Br></td><td>14.74</td><td>U/16</td><td><Br></td><td>8/4/2003</td></tr>
<td>Jaco</td><td>Swanepoel</td><td>Green U16</td><td>EP RFU</td><td>U/16</td><td><Br></td><td><Br></td><td>15</td><td>U/16</td><td><Br></td><td>8/9/2003</td></tr>
<td>Jakobus</td><td>Swanepoel</td><td>Green U19</td><td>Free State RU</td><td>U/18</td><td><Br></td><td><Br></td><td>15.04</td><td>U/19</td><td><Br></td><td>8/5/2003</td></tr>
<td>Neil</td><td>de Kock</td><td>Springbok</td><td>WP RFU</td><td>Open</td><td><Br></td><td>161</td><td>14.38</td><td>Open</td><td><Br></td><td>8/28/2003</td></tr>
<td>Damian</td><td>Labans</td><td>Green U19</td><td>Griffons RU</td><td>U/18</td><td><Br></td><td><Br></td><td>14.92</td><td>U/19</td><td><Br></td><td>8/4/2003</td></tr>
<td>Marlon</td><td>Lewis</td><td>Green U16</td><td>EP RFU</td><td>U/16</td><td><Br></td><td><Br></td><td>14.6</td><td>U/16</td><td><Br></td><td>8/9/2003</td></tr>
<td>Warren</td><td>Malgas</td><td>Green U19</td><td>SWD RFU</td><td>U/18</td><td><Br></td><td><Br></td><td>15.31</td><td>U/19</td><td><Br></td><td>8/11/2003</td></tr>
<td>Shane</td><td>Vergotine</td><td>Green U19</td><td>SWD RFU</td><td>U/18</td><td><Br></td><td><Br></td><td>15.4</td><td>U/19</td><td><Br></td><td>8/11/2003</td></tr>
<td>Jano</td><td>Vermaak</td><td>Green U19</td><td>Falcons RU</td><td>U/18</td><td><Br></td><td><Br></td><td>14.84</td><td>U/19</td><td><Br></td><td>8/5/2003</td></tr>
<td>Andisa</td><td>Gqobo</td><td>Green U19</td><td>Border RU</td><td>U/18</td><td><Br></td><td><Br></td><td>14.54</td><td>U/19</td><td><Br></td><td>8/7/2003</td></tr>
<td>Daniel</td><td>Philander</td><td>Boland CC 2003</td><td>Boland RU</td><td>U/15</td><td><Br></td><td><Br></td><td>12</td><td>U/15</td><td><Br></td><td>1/1/2004</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>U/16</td><td><Br></td><td><Br></td><td>215</td><td>U/16</td><td><Br></td><td>11/12/2003</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>U/16</td><td><Br></td><td><Br></td><td>80</td><td>U/16</td><td><Br></td><td>11/19/2003</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>U/16</td><td><Br></td><td><Br></td><td>80</td><td>U/16</td><td><Br></td><td>11/19/2003</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>U/16</td><td><Br></td><td><Br></td><td>80</td><td>U/16</td><td><Br></td><td>11/19/2003</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>U/16</td><td><Br></td><td><Br></td><td>80</td><td>U/16</td><td><Br></td><td>11/19/2003</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>U/16</td><td><Br></td><td><Br></td><td>80</td><td>U/16</td><td><Br></td><td>11/19/2003</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>U/16</td><td><Br></td><td><Br></td><td>80</td><td>U/16</td><td><Br></td><td>11/19/2003</td></tr>
<td>Gideon</td><td>Stander</td><td>Green U19</td><td>Falcons RU</td><td>U/18</td><td><Br></td><td><Br></td><td>14.49</td><td>U/19</td><td><Br></td><td>8/5/2003</td></tr>
<td>Matthew</td><td>Tayler-Smith</td><td>Green U16</td><td>EP RFU</td><td>U/16</td><td><Br></td><td><Br></td><td>14.4</td><td>U/16</td><td><Br></td><td>8/9/2003</td></tr>
<td>Johan</td><td>Heunis</td><td>Green U16</td><td>SWD RFU</td><td>U/16</td><td><Br></td><td><Br></td><td>15.18</td><td>U/16</td><td><Br></td><td>8/11/2003</td></tr>
<td>Sakhiwo</td><td>Jaji</td><td>Green U19</td><td>Border RU</td><td>U/18</td><td><Br></td><td><Br></td><td>14.45</td><td>U/19</td><td><Br></td><td>8/7/2003</td></tr>
<td>Luvuyo</td><td>Mhlobiso</td><td>Green U19</td><td>EP RFU</td><td>U/18</td><td><Br></td><td><Br></td><td>14.46</td><td>U/19</td><td><Br></td><td>8/9/2003</td></tr>
<td>Luxolo</td><td>Nondwangu</td><td>Green U16</td><td>Border RU</td><td>U/16</td><td><Br></td><td><Br></td><td>14.3</td><td>U/16</td><td><Br></td><td>8/7/2003</td></tr>
<td>Craig</td><td>Patrick</td><td>Green U16</td><td>Blue Bulls RU</td><td>U/16</td><td><Br></td><td><Br></td><td>14.4</td><td>U/16</td><td><Br></td><td>8/5/2003</td></tr>
<td>Sifundo</td><td>Show</td><td>Green U16</td><td>EP RFU</td><td>U/16</td><td><Br></td><td><Br></td><td>14.53</td><td>U/16</td><td><Br></td><td>8/9/2003</td></tr>
<td>Pierre</td><td>Spies</td><td>Green U19</td><td>Blue Bulls RU</td><td>U/18</td><td><Br></td><td><Br></td><td>14.1</td><td>U/19</td><td><Br></td><td>8/5/2003</td></tr>
<td>Rowan</td><td>Walters</td><td>Green U16</td><td>Griqualand West RU</td><td>U/16</td><td><Br></td><td><Br></td><td>14.07</td><td>U/16</td><td><Br></td><td>8/4/2003</td></tr>
<td>Beyers</td><td>Broodryk</td><td>Green U16</td><td>Leopards RU</td><td>U/16</td><td><Br></td><td><Br></td><td>19.51</td><td>U/16</td><td><Br></td><td>8/5/2003</td></tr>
<td>Noel</td><td>de Villiers</td><td>Green U19</td><td>EP RFU</td><td>U/18</td><td><Br></td><td><Br></td><td>13.94</td><td>U/19</td><td><Br></td><td>8/9/2003</td></tr>
<td>Farrol</td><td>Domingo</td><td>Green U16</td><td>EP RFU</td><td>U/16</td><td><Br></td><td><Br></td><td>15.16</td><td>U/16</td><td><Br></td><td>8/9/2003</td></tr>
<td>Dabeon</td><td>Draghoender</td><td>Green U16</td><td>Griffons RU</td><td>U/16</td><td><Br></td><td><Br></td><td>14.46</td><td>U/16</td><td><Br></td><td>8/18/2003</td></tr>
<td>Alwyn</td><td>Hollenbach</td><td>Green U19</td><td>Free State RU</td><td>U/18</td><td><Br></td><td><Br></td><td>14.72</td><td>U/19</td><td><Br></td><td>8/5/2003</td></tr>
<td>Cornelius</td><td>Minnie</td><td>Green U16</td><td>Blue Bulls RU</td><td>U/16</td><td><Br></td><td><Br></td><td>14.4</td><td>U/16</td><td><Br></td><td>8/5/2003</td></tr>
<td>Ashwin</td><td>Scott</td><td>Green U19</td><td>SWD RFU</td><td>U/18</td><td><Br></td><td><Br></td><td><Br></td><td>U/19</td><td><Br></td><td>8/11/2003</td></tr>
<td>Siyabonga</td><td>Sono</td><td>Green U16</td><td>Border RU</td><td>U/16</td><td><Br></td><td><Br></td><td>14.85</td><td>U/16</td><td><Br></td><td>8/7/2003</td></tr>
<td>Jacques</td><td>de Kock</td><td>Green U16</td><td>Griqualand West RU</td><td>U/16</td><td><Br></td><td><Br></td><td>14.38</td><td>U/16</td><td><Br></td><td>8/4/2003</td></tr>
<td>Mfana</td><td>Hlatshwayo</td><td>Green U16</td><td>Mpumalanga RU</td><td>U/16</td><td><Br></td><td><Br></td><td>14.1</td><td>U/16</td><td><Br></td><td>8/5/2003</td></tr>
<td>Ncedo</td><td>Koyana</td><td>Green U19</td><td>Border RU</td><td>U/18</td><td><Br></td><td><Br></td><td>14.29</td><td>U/19</td><td><Br></td><td>8/7/2003</td></tr>
<td>Luyanda</td><td>Madiba</td><td>Green U19</td><td>Border RU</td><td>U/18</td><td><Br></td><td><Br></td><td>14.25</td><td>U/19</td><td><Br></td><td>8/7/2003</td></tr>
<td>Pieter</td><td>Spaumer</td><td>Green U19</td><td>Blue Bulls RU</td><td>U/18</td><td><Br></td><td><Br></td><td>14.3</td><td>U/19</td><td><Br></td><td>8/5/2003</td></tr>
<td>Elrich</td><td>van Vuuren</td><td>Green U19</td><td>EP RFU</td><td>U/18</td><td><Br></td><td><Br></td><td>15.07</td><td>U/19</td><td><Br></td><td>8/9/2003</td></tr>
<td>Jerome</td><td>Horn</td><td>Green U16</td><td>SWD RFU</td><td>U/16</td><td><Br></td><td><Br></td><td>15.24</td><td>U/16</td><td><Br></td><td>8/11/2003</td></tr>
<td>Yandisa</td><td>Jaxa</td><td>Green U16</td><td>Border RU</td><td>U/16</td><td><Br></td><td><Br></td><td>14.96</td><td>U/16</td><td><Br></td><td>8/7/2003</td></tr>
<td>Booi</td><td>Malgas</td><td>Green U16</td><td>Griqualand West RU</td><td>U/16</td><td><Br></td><td><Br></td><td>14.5</td><td>U/16</td><td><Br></td><td>8/4/2003</td></tr>
<td>Lubabalo</td><td>Ntuntwana</td><td>Green U16</td><td>EP RFU</td><td>U/16</td><td><Br></td><td><Br></td><td>14.71</td><td>U/16</td><td><Br></td><td>8/9/2003</td></tr>
<td>Jerome</td><td>Williams</td><td>Green U19</td><td>EP RFU</td><td>U/18</td><td><Br></td><td><Br></td><td>14.14</td><td>U/19</td><td><Br></td><td>8/9/2003</td></tr>
<td>Marvin</td><td>Christians</td><td>Green U16</td><td>WP RFU</td><td>U/16</td><td><Br></td><td>101</td><td>14.52</td><td>Open</td><td><Br></td><td>8/28/2003</td></tr>
<td>Marius</td><td>Delport</td><td>Green U19</td><td>Blue Bulls RU</td><td>U/18</td><td><Br></td><td><Br></td><td>14.5</td><td>U/19</td><td><Br></td><td>8/5/2003</td></tr>
<td>Rickus</td><td>Meintjies</td><td>Green U16</td><td>EP RFU</td><td>U/16</td><td><Br></td><td><Br></td><td>14.43</td><td>U/16</td><td><Br></td><td>8/9/2003</td></tr>
<td>Christopher</td><td>Micklewood</td><td>Green U16</td><td>Natal RU</td><td>U/16</td><td><Br></td><td><Br></td><td><Br></td><td>U/16</td><td><Br></td><td>8/6/2003</td></tr>
<td>Johann</td><td>Myburgh</td><td>Green U16</td><td>Border RU</td><td>U/16</td><td><Br></td><td><Br></td><td>14.32</td><td>U/16</td><td><Br></td><td>8/7/2003</td></tr>
<td>Antonius</td><td>Verhoeven</td><td>Boland CC 2003</td><td>Boland RU</td><td>U/17</td><td><Br></td><td><Br></td><td>54</td><td>U/14</td><td><Br></td><td>2/2/2004</td></tr>
<td>Mawande</td><td>Zenzile</td><td>Green U19</td><td>Border RU</td><td>U/18</td><td><Br></td><td><Br></td><td>14.53</td><td>U/19</td><td><Br></td><td>8/7/2003</td></tr>
<tr><td style='background-color:#CFDAE2; text-align:right' class=cellhere colspan='14'>114 Records</td></tr></table></td></tr></table><br>
