<table align='center' id='ReportMain' name='ReportMain' cellspacing=0 style='BORDER-BOTTOM: 1px solid;BORDER-RIGHT: 1px solid;position:relative;top:-10px;left:-5px;width:90%'><tr><td><Table cellpadding=4 cellspacing=0 border=0 bordercolor=#999999 style='BORDER-BOTTOM: 1px solid;BORDER-RIGHT: 1px solid;width:100%'><tr id='Headers' name='Headers'><td style='padding:0' colspan=10><table cellpadding='0' cellspacing='0' border='0' style='width:100%;padding:3 0 3 0;'><tr><th id='ReportName' name='ReportName' class=cellhere2 style='text-align:left'>&nbsp;&nbsp;Agility Test for  - 2004/05/18</th></tr></table></td></tr><tr><th>FIRSTNAME</th><th>SURNAME</th><th>POSITION</th><th>RUGBYUNION</th><th>Result</th><th>Surface</th><th>TestDate</th></tr><tr><td style='background-color:#CFDAE2; text-align:left' colspan='10'><b>Green U16</b></td></tr><td>Beyers</td><td>Broodryk</td><td>Inside centre</td><td>Leopards RU</td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Shaun</td><td>de Vos</td><td>Scrum-half</td><td>Leopards RU</td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Ivan</td><td>Grobler</td><td>No 8</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Mfana</td><td>Hlatshwayo</td><td>Outside centre</td><td>Mpumalanga RU</td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Hendrik</td><td>Kilian</td><td>Second-row or Lock</td><td>Leopards RU</td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Rickus</td><td>Meintjies</td><td>Fullback</td><td>EP RFU</td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Renier</td><td>Strydom</td><td>Tighthead prop</td><td>Griqualand West RU</td><td><Br></td><td><Br></td><td><Br></td></tr>
<tr><td style='background-color:#CFDAE2; text-align:left' colspan='10'><b>Green U18 </b></td></tr><td>Marvin</td><td>Arendse</td><td>Left wing</td><td>Boland RU</td><td><Br></td><td><Br></td><td><Br></td></tr>
<tr><td style='background-color:#CFDAE2; text-align:right' class=cellhere colspan='10'>8 Records</td></tr></table></td></tr></table><br>
