<table align='center' id='ReportMain' name='ReportMain' cellspacing=0 style='BORDER-BOTTOM: 1px solid;BORDER-RIGHT: 1px solid;position:relative;top:-10px;left:-5px;width:90%'><tr><td><Table cellpadding=4 cellspacing=0 border=0 bordercolor=#999999 style='BORDER-BOTTOM: 1px solid;BORDER-RIGHT: 1px solid;width:100%'><tr id='Headers' name='Headers'><td style='padding:0' colspan=10><table cellpadding='0' cellspacing='0' border='0' style='width:100%;padding:3 0 3 0;'><tr><th id='ReportName' name='ReportName' class=cellhere2 style='text-align:left'>&nbsp;&nbsp;Passing for Accuracy Over 4m for  - 2004/05/18</th></tr></table></td></tr><tr><th>FIRSTNAME</th><th>SURNAME</th><th>POSITION</th><th>RUGBYUNION</th><th>ResultL</th><th>ResultR</th><th>TestDate</th></tr><tr><td style='background-color:#CFDAE2; text-align:left' colspan='10'><b>Green U16</b></td></tr><td>Yuseph</td><td>Abrahams</td><td>Scrum-half</td><td>EP RFU</td><td>3</td><td>4</td><td>2003/08/04</td></tr>
<td>Yuseph</td><td>Abrahams</td><td>Scrum-half</td><td>EP RFU</td><td>5</td><td>5</td><td>2004/02/12</td></tr>
<td>Llewellyn</td><td>Adonis</td><td>Fullback</td><td>WP RFU</td><td>3</td><td>3</td><td>2004/02/12</td></tr>
<td>Johannes</td><td>Barnard</td><td>Loosehead prop</td><td>Griffons RU</td><td>4</td><td>2</td><td>2003/08/04</td></tr>
<td>Gideon</td><td>Basson</td><td>Hooker</td><td>WP RFU</td><td>4</td><td>3</td><td>2004/02/12</td></tr>
<td>Ibrahim</td><td>Bligenhoudt</td><td>No 8</td><td>Mpumalanga RU</td><td>2</td><td>3</td><td>2003/08/05</td></tr>
<td>Ludwe</td><td>Booi</td><td>Hooker</td><td>Blue Bulls RU</td><td>2</td><td>1</td><td>2004/02/16</td></tr>
<td>Franco</td><td>Booysen</td><td>Outside centre</td><td>Falcons RU</td><td>4</td><td>3</td><td>2004/02/16</td></tr>
<td>Ruan</td><td>Boshoff</td><td>Fly-half</td><td>Mpumalanga RU</td><td>2</td><td>1</td><td>2003/08/05</td></tr>
<td>Beyers</td><td>Broodryk</td><td>Inside centre</td><td>Leopards RU</td><td>3</td><td>2</td><td>2004/02/16</td></tr>
<td>Inus</td><td>Carstens</td><td>Inside centre</td><td>WP RFU</td><td>4</td><td>2</td><td>2003/08/07</td></tr>
<td>Marvin</td><td>Christians</td><td>Fullback</td><td>WP RFU</td><td>2</td><td>3</td><td>2004/02/12</td></tr>
<td>Louis</td><td>Coetzee</td><td>Tighthead prop</td><td>Leopards RU</td><td>3</td><td>1</td><td>2003/08/05</td></tr>
<td>Jaco</td><td>Colyn</td><td>Scrum-half</td><td>SWD RFU</td><td>1</td><td>3</td><td>2003/08/11</td></tr>
<td>Daniel</td><td>Crous</td><td>Blindside flanker</td><td>Free State RU</td><td>4</td><td>2</td><td>2004/02/09</td></tr>
<td>Willem</td><td>Daries</td><td>Right wing</td><td>Boland RU</td><td>3</td><td>3</td><td>2004/02/12</td></tr>
<td>Zander</td><td>de Kock</td><td>Tighthead prop</td><td>Falcons RU</td><td>4</td><td>2</td><td>2004/02/16</td></tr>
<td>Jacques</td><td>de Kock</td><td>Outside centre</td><td>Griqualand West RU</td><td>4</td><td>2</td><td>2003/08/04</td></tr>
<td>Shaun</td><td>de Vos</td><td>Scrum-half</td><td>Leopards RU</td><td>2</td><td>4</td><td>2004/02/16</td></tr>
<td>Farrol</td><td>Domingo</td><td>Inside centre</td><td>EP RFU</td><td>2</td><td>0</td><td>2003/08/08</td></tr>
<td>Dabeon</td><td>Draghoender</td><td>Inside centre</td><td>Griffons RU</td><td>2</td><td>5</td><td>2003/08/04</td></tr>
<td>Rikus</td><td>du Bruyn</td><td>Hooker</td><td>Golden Lions RU</td><td>2</td><td>3</td><td>2003/08/05</td></tr>
<td>Rikus</td><td>du Bruyn</td><td>Hooker</td><td>Golden Lions RU</td><td>0</td><td>1</td><td>2004/02/16</td></tr>
<td>Riacco</td><td>Eilerd</td><td>Loosehead prop</td><td>Griqualand West RU</td><td>4</td><td>3</td><td>2004/02/09</td></tr>
<td>Riacco</td><td>Eilerd</td><td>Loosehead prop</td><td>Griqualand West RU</td><td>2</td><td>1</td><td>2003/08/04</td></tr>
<td>Danwill</td><td>Erasmus</td><td>Right wing</td><td>WP RFU</td><td>4</td><td>3</td><td>2004/02/12</td></tr>
<td>Julian</td><td>Erasmus</td><td>No 8</td><td>Blue Bulls RU</td><td>3</td><td>3</td><td>2004/02/16</td></tr>
<td>Jobrey</td><td>Fortuin</td><td>Left wing</td><td>Boland RU</td><td>3</td><td>1</td><td>2004/02/12</td></tr>
<td>Kirwan</td><td>Frieslaar</td><td>Openside flanker</td><td>EP RFU</td><td>4</td><td>1</td><td>2003/08/08</td></tr>
<td>Kirwan</td><td>Frieslaar</td><td>Openside flanker</td><td>EP RFU</td><td>3</td><td>3</td><td>2004/02/12</td></tr>
<td>Byron</td><td>Godfrey</td><td>Fullback</td><td>Golden Lions RU</td><td>3</td><td>0</td><td>2003/08/05</td></tr>
<td>Byron</td><td>Godfrey</td><td>Fullback</td><td>Golden Lions RU</td><td>3</td><td>4</td><td>2004/02/16</td></tr>
<td>Lazola</td><td>Gonya</td><td>Openside flanker</td><td>WP RFU</td><td>1</td><td>3</td><td>2004/02/12</td></tr>
<td>Jarryd</td><td>Greyvenstein</td><td>Second-row or Lock</td><td>Border RU</td><td>2</td><td>1</td><td>2003/08/07</td></tr>
<td>Ivan</td><td>Grobler</td><td>No 8</td><td>Golden Lions RU</td><td>2</td><td>3</td><td>2003/08/05</td></tr>
<td>Ivan</td><td>Grobler</td><td>No 8</td><td>Golden Lions RU</td><td>2</td><td>2</td><td>2004/02/16</td></tr>
<td>Hayden</td><td>Groepes</td><td>Fullback</td><td>Boland RU</td><td>3</td><td>4</td><td>2004/02/12</td></tr>
<td>Lubabalo</td><td>Gwavu</td><td>Second-row or Lock</td><td>EP RFU</td><td>2</td><td>2</td><td>2003/08/08</td></tr>
<td>Eldon</td><td>Hess</td><td>Left wing</td><td>WP RFU</td><td>1</td><td>2</td><td>2004/02/12</td></tr>
<td>Johan</td><td>Heunis</td><td>Left wing</td><td>SWD RFU</td><td>4</td><td>3</td><td>2003/08/11</td></tr>
<td>Mfana</td><td>Hlatshwayo</td><td>Outside centre</td><td>Mpumalanga RU</td><td>2</td><td>1</td><td>2003/08/09</td></tr>
<td>Conrad</td><td>Hoffmann</td><td>Scrum-half</td><td>WP RFU</td><td>5</td><td>3</td><td>2004/02/12</td></tr>
<td>Rufus</td><td>Holtzhausen</td><td>No 8</td><td>Leopards RU</td><td>1</td><td>2</td><td>2003/08/05</td></tr>
<td>Jerome</td><td>Horn</td><td>Right wing</td><td>SWD RFU</td><td>2</td><td>3</td><td>2003/08/11</td></tr>
<td>Johannes</td><td>Janse van Rensburg</td><td>Blindside flanker</td><td>Golden Lions RU</td><td>3</td><td>3</td><td>2003/08/05</td></tr>
<td>Johannes</td><td>Janse van Rensburg</td><td>Blindside flanker</td><td>Golden Lions RU</td><td>5</td><td>3</td><td>2004/02/16</td></tr>
<td>Yandisa</td><td>Jaxa</td><td>Right wing</td><td>Border RU</td><td>1</td><td>0</td><td>2004/02/13</td></tr>
<td>Friedrich</td><td>Kamffer</td><td>Openside flanker</td><td>Free State RU</td><td>2</td><td>4</td><td>2004/02/09</td></tr>
<td>Hendrik</td><td>Kilian</td><td>Second-row or Lock</td><td>Leopards RU</td><td>3</td><td>3</td><td>2004/02/16</td></tr>
<td>Johann</td><td>Kritzinger</td><td>Tighthead prop</td><td>WP RFU</td><td>2</td><td>0</td><td>2004/02/12</td></tr>
<td>Gert</td><td>Kroukamp</td><td>Openside flanker</td><td>WP RFU</td><td>3</td><td>2</td><td>2004/02/12</td></tr>
<td>Thato</td><td>Lebitsa</td><td>Loosehead prop</td><td>KZN RU</td><td>1</td><td>0</td><td>2003/08/06</td></tr>
<td>Marlon</td><td>Lewis</td><td>Scrum-half</td><td>EP RFU</td><td>1</td><td>4</td><td>2003/08/08</td></tr>
<td>Marlon</td><td>Lewis</td><td>Scrum-half</td><td>EP RFU</td><td>2</td><td>4</td><td>2004/02/12</td></tr>
<td>Thamzamile</td><td>Majola</td><td>Fly-half</td><td>Golden Lions RU</td><td>3</td><td>3</td><td>2003/08/05</td></tr>
<td>Thamzamile</td><td>Majola</td><td>Fly-half</td><td>Golden Lions RU</td><td>5</td><td>4</td><td>2004/02/16</td></tr>
<td>Booi</td><td>Malgas</td><td>Right wing</td><td>Griqualand West RU</td><td>3</td><td>5</td><td>2004/02/09</td></tr>
<td>Booi</td><td>Malgas</td><td>Right wing</td><td>Griqualand West RU</td><td>3</td><td>2</td><td>2003/08/04</td></tr>
<td>Ghaliel</td><td>Markus</td><td>Right wing</td><td>Golden Lions RU</td><td>3</td><td>3</td><td>2003/08/05</td></tr>
<td>Ghaliel</td><td>Markus</td><td>Right wing</td><td>Golden Lions RU</td><td>1</td><td>0</td><td>2004/02/16</td></tr>
<td>Justin</td><td>Meanwell</td><td>Hooker</td><td>KZN RU</td><td>4</td><td>1</td><td>2003/08/06</td></tr>
<td>Rickus</td><td>Meintjies</td><td>Fullback</td><td>EP RFU</td><td>5</td><td>3</td><td>2003/08/08</td></tr>
<td>Rickus</td><td>Meintjies</td><td>Fullback</td><td>EP RFU</td><td>4</td><td>3</td><td>2004/02/12</td></tr>
<td>Christopher</td><td>Micklewood</td><td>Fullback</td><td>KZN RU</td><td>5</td><td>1</td><td>2003/08/06</td></tr>
<td>Johann</td><td>Myburgh</td><td>Fullback</td><td>Border RU</td><td>4</td><td>2</td><td>2003/08/07</td></tr>
<td>Eric</td><td>Ngoie</td><td>Openside flanker</td><td>KZN RU</td><td>2</td><td>3</td><td>2003/08/06</td></tr>
<td>Malungisa</td><td>Nkosi</td><td>Second-row or Lock</td><td>Golden Lions RU</td><td>2</td><td>4</td><td>2003/08/05</td></tr>
<td>Malungisa</td><td>Nkosi</td><td>Second-row or Lock</td><td>Golden Lions RU</td><td>3</td><td>1</td><td>2004/02/16</td></tr>
<td>Luxolo</td><td>Nondwangu</td><td>Left wing</td><td>Border RU</td><td>2</td><td>1</td><td>2004/02/13</td></tr>
<td>Lubabalo</td><td>Ntuntwana</td><td>Right wing</td><td>EP RFU</td><td>2</td><td>3</td><td>2004/02/12</td></tr>
<td>Lubabalo</td><td>Ntuntwana</td><td>Right wing</td><td>EP RFU</td><td>2</td><td>1</td><td>2003/08/08</td></tr>
<td>Craig</td><td>Patrick</td><td>Left wing</td><td>Blue Bulls RU</td><td>3</td><td>2</td><td>2004/02/16</td></tr>
<td>Morne</td><td>Pereira</td><td>Hooker</td><td>Boland RU</td><td>0</td><td>3</td><td>2004/02/12</td></tr>
<td>Coenraad</td><td>Pieterse</td><td>No 8</td><td>Free State RU</td><td>4</td><td>2</td><td>2004/02/09</td></tr>
<td>Dewald</td><td>Potgieter</td><td>Blindside flanker</td><td>EP RFU</td><td>5</td><td>3</td><td>2003/08/08</td></tr>
<td>Glen</td><td>Poulton</td><td>Blindside flanker</td><td>Griqualand West RU</td><td>2</td><td>2</td><td>2004/02/09</td></tr>
<td>Glen</td><td>Poulton</td><td>Blindside flanker</td><td>Griqualand West RU</td><td>1</td><td>3</td><td>2003/08/04</td></tr>
<td>Michael</td><td>Rhodes</td><td>Second-row or Lock</td><td>KZN RU</td><td>0</td><td>1</td><td>2003/08/06</td></tr>
<td>Johnny</td><td>Schoeman</td><td>No 8</td><td>Griffons RU</td><td>2</td><td>4</td><td>2003/08/04</td></tr>
<td>Ramano</td><td>Sebia</td><td>Hooker</td><td>Griffons RU</td><td>2</td><td>4</td><td>2003/08/04</td></tr>
<td>Sifundo</td><td>Show</td><td>Left wing</td><td>EP RFU</td><td>2</td><td>2</td><td>2003/08/08</td></tr>
<td>Lefa</td><td>Silo</td><td>Second-row or Lock</td><td>Griffons RU</td><td>3</td><td>3</td><td>2003/08/04</td></tr>
<td>Andre</td><td>Smith</td><td>Fly-half</td><td>WP RFU</td><td>5</td><td>4</td><td>2004/02/12</td></tr>
<td>Siyabonga</td><td>Sono</td><td>Inside centre</td><td>Border RU</td><td>0</td><td>0</td><td>2004/02/13</td></tr>
<td>Justin</td><td>St Jerry</td><td>Fullback</td><td>Golden Lions RU</td><td>2</td><td>2</td><td>2003/08/05</td></tr>
<td>Justin</td><td>St Jerry</td><td>Fullback</td><td>Golden Lions RU</td><td>2</td><td>1</td><td>2004/02/16</td></tr>
<td>Jakobus</td><td>Stofberg</td><td>Second-row or Lock</td><td>WP RFU</td><td>1</td><td>3</td><td>2004/02/12</td></tr>
<td>Renier</td><td>Strydom</td><td>Tighthead prop</td><td>Griqualand West RU</td><td>1</td><td>3</td><td>2003/08/04</td></tr>
<td>Renier</td><td>Strydom</td><td>Tighthead prop</td><td>Griqualand West RU</td><td>3</td><td>3</td><td>2004/02/09</td></tr>
<td>Jaco</td><td>Swanepoel</td><td>No 8</td><td>EP RFU</td><td>3</td><td>2</td><td>2003/08/08</td></tr>
<td>Jaco</td><td>Swanepoel</td><td>No 8</td><td>EP RFU</td><td>2</td><td>4</td><td>2004/02/12</td></tr>
<td>Matthew</td><td>Tayler-Smith</td><td>Fly-half</td><td>EP RFU</td><td>3</td><td>3</td><td>2004/02/12</td></tr>
<td>Gordon</td><td>Thomas</td><td>Loosehead prop</td><td>Golden Lions RU</td><td>2</td><td>2</td><td>2003/08/05</td></tr>
<td>Gordon</td><td>Thomas</td><td>Loosehead prop</td><td>Golden Lions RU</td><td>3</td><td>2</td><td>2004/02/16</td></tr>
<td>Cassim</td><td>Tiry</td><td>Loosehead prop</td><td>EP RFU</td><td>0</td><td>0</td><td>2003/08/08</td></tr>
<td>Morne</td><td>van der Westhuyzen</td><td>Second-row or Lock</td><td>EP RFU</td><td>3</td><td>4</td><td>2003/08/08</td></tr>
<td>Morne</td><td>van der Westhuyzen</td><td>Second-row or Lock</td><td>EP RFU</td><td>3</td><td>2</td><td>2004/02/12</td></tr>
<td>Carel</td><td>Van Lill</td><td>Outside centre</td><td>WP RFU</td><td>4</td><td>1</td><td>2004/02/12</td></tr>
<td>Werner</td><td>van Staden</td><td>Blindside flanker</td><td>Griqualand West RU</td><td>2</td><td>2</td><td>2003/08/04</td></tr>
<td>Werner</td><td>van Staden</td><td>Blindside flanker</td><td>Griqualand West RU</td><td>3</td><td>2</td><td>2004/02/09</td></tr>
<td>Tiaan</td><td>Van Wyk</td><td>Outside centre</td><td>Boland RU</td><td>5</td><td>3</td><td>2004/02/12</td></tr>
<td>Jean</td><td>van Zyl</td><td>Tighthead prop</td><td>Free State RU</td><td>1</td><td>4</td><td>2003/08/05</td></tr>
<td>Frederick</td><td>Viljoen</td><td>Fly-half</td><td>Boland RU</td><td>2</td><td>3</td><td>2004/02/12</td></tr>
<td>Rowan</td><td>Walters</td><td>Left wing</td><td>Griqualand West RU</td><td>5</td><td>3</td><td>2004/02/09</td></tr>
<td>Rowan</td><td>Walters</td><td>Left wing</td><td>Griqualand West RU</td><td>3</td><td>3</td><td>2003/08/04</td></tr>
<td>David</td><td>Wannenburg</td><td>Hooker</td><td>EP RFU</td><td>1</td><td>2</td><td>2004/02/12</td></tr>
<td>David</td><td>Wannenburg</td><td>Hooker</td><td>EP RFU</td><td>2</td><td>2</td><td>2003/08/08</td></tr>
<td>Bertram</td><td>Willemse</td><td>Outside centre</td><td>Boland RU</td><td>2</td><td>2</td><td>2004/02/12</td></tr>
<tr><td style='background-color:#CFDAE2; text-align:left' colspan='10'><b>Green U18 </b></td></tr><td>Jacobus</td><td>Adriaanse</td><td>Tighthead prop</td><td>WP RFU</td><td>5</td><td>5</td><td>2003/08/12</td></tr>
<td>Marvin</td><td>Arendse</td><td>Left wing</td><td>Boland RU</td><td>1</td><td>1</td><td>2004/02/12</td></tr>
<td>Bradley</td><td>Barritt</td><td>Inside centre</td><td>KZN RU</td><td>3</td><td>3</td><td>2003/08/06</td></tr>
<td>Robert</td><td>Berrington</td><td>Second-row or Lock</td><td>Golden Lions RU</td><td>2</td><td>3</td><td>2004/02/16</td></tr>
<td>Robert</td><td>Berrington</td><td>Second-row or Lock</td><td>Golden Lions RU</td><td>2</td><td>3</td><td>2003/08/08</td></tr>
<td>Nikolai</td><td>Blignaut</td><td>Second-row or Lock</td><td>KZN RU</td><td>3</td><td>2</td><td>2003/08/06</td></tr>
<td>Meyer</td><td>Bosman</td><td>Fly-half</td><td>Free State RU</td><td>5</td><td>3</td><td>2003/08/11</td></tr>
<td>Jonathan</td><td>Dangoumou</td><td>Openside flanker</td><td>Blue Bulls RU</td><td>4</td><td>2</td><td>2003/08/05</td></tr>
<td>Noel</td><td>de Villiers</td><td>Inside centre</td><td>KZN RU</td><td>3</td><td>4</td><td>2003/08/08</td></tr>
<td>Teboho</td><td>Dhlamini</td><td>Openside flanker</td><td>Free State RU</td><td>3</td><td>1</td><td>2004/02/09</td></tr>
<td>Andrew</td><td>Dikobo</td><td>No 8</td><td>Golden Lions RU</td><td>1</td><td>0</td><td>2003/08/05</td></tr>
<td>Andrew</td><td>Dikobo</td><td>No 8</td><td>Golden Lions RU</td><td>1</td><td>2</td><td>2004/02/16</td></tr>
<td>Jan</td><td>du Plessis</td><td>Fullback</td><td>WP RFU</td><td>4</td><td>4</td><td>2004/02/12</td></tr>
<td>Daniel</td><td>du Plessis</td><td>Loosehead prop</td><td>WP RFU</td><td>3</td><td>1</td><td>2003/08/11</td></tr>
<td>Sylvester</td><td>Engelbrecht</td><td>Outside centre</td><td>Golden Lions RU</td><td>5</td><td>4</td><td>2003/08/05</td></tr>
<td>Sylvester</td><td>Engelbrecht</td><td>Outside centre</td><td>Golden Lions RU</td><td>2</td><td>2</td><td>2004/02/16</td></tr>
<td>Gugulethu</td><td>Fata</td><td>Loosehead prop</td><td>KZN RU</td><td>5</td><td>2</td><td>2003/08/05</td></tr>
<td>Andisa</td><td>Gqobo</td><td>Fly-half</td><td>Border RU</td><td>1</td><td>4</td><td>2003/08/07</td></tr>
<td>Gert</td><td>Greyling</td><td>Tighthead prop</td><td>Free State RU</td><td>1</td><td>2</td><td>2004/02/09</td></tr>
<td>Anthonie</td><td>Gronum</td><td>Second-row or Lock</td><td>SWD RFU</td><td>3</td><td>1</td><td>2003/08/11</td></tr>
<td>Alistair</td><td>Hargreaves</td><td>Second-row or Lock</td><td>KZN RU</td><td>2</td><td>3</td><td>2003/08/06</td></tr>
<td>Berwan</td><td>Haupt</td><td>Inside centre</td><td>WP RFU</td><td>3</td><td>4</td><td>2004/02/12</td></tr>
<td>Alwyn</td><td>Hollenbach</td><td>Inside centre</td><td>Free State RU</td><td>2</td><td>2</td><td>2003/08/05</td></tr>
<td>Thando</td><td>Jacobs</td><td>Fly-half</td><td>WP RFU</td><td>1</td><td>2</td><td>2004/02/12</td></tr>
<td>Sakhiwo</td><td>Jaji</td><td>Left wing</td><td>Border RU</td><td>4</td><td>4</td><td>2003/08/07</td></tr>
<td>Whybro</td><td>Johnson</td><td>Left wing</td><td>Falcons RU</td><td>5</td><td>2</td><td>2004/02/16</td></tr>
<td>Ashley</td><td>Johnson</td><td>Openside flanker</td><td>WP RFU</td><td>2</td><td>2</td><td>2004/02/12</td></tr>
<td>Leon</td><td>Karemaker</td><td>Blindside flanker</td><td>WP RFU</td><td>3</td><td>5</td><td>2003/08/07</td></tr>
<td>Cornelius</td><td>Kemp</td><td>No 8</td><td>Bulls</td><td>2</td><td>3</td><td>2003/08/11</td></tr>
<td>Chester</td><td>Koyana</td><td>Outside centre</td><td>Border RU</td><td>3</td><td>4</td><td>2003/08/07</td></tr>
<td>Damian</td><td>Labans</td><td>Scrum-half</td><td>Boland RU</td><td>2</td><td>3</td><td>2003/08/04</td></tr>
<td>Samuel</td><td>Leburu</td><td>Loosehead prop</td><td>Free State RU</td><td>3</td><td>4</td><td>2003/08/04</td></tr>
<td>Pieter</td><td>Louw</td><td>No 8</td><td>WP RFU</td><td>3</td><td>5</td><td>2003/08/12</td></tr>
<td>Luyanda</td><td>Madiba</td><td>Outside centre</td><td>Border RU</td><td>2</td><td>4</td><td>2003/08/07</td></tr>
<td>Sisa</td><td>Mafu</td><td>No 8</td><td>Blue Bulls RU</td><td>2</td><td>3</td><td>2003/08/08</td></tr>
<td>Lukhanyo</td><td>Majorman</td><td>Blindside flanker</td><td>WP RFU</td><td>2</td><td>4</td><td>2004/02/12</td></tr>
<td>Warren</td><td>Malgas</td><td>Scrum-half</td><td>SWD RFU</td><td>3</td><td>1</td><td>2003/08/11</td></tr>
<td>Madoda</td><td>Manoni</td><td>Second-row or Lock</td><td>EP RFU</td><td>1</td><td>1</td><td>2004/02/12</td></tr>
<td>Madoda</td><td>Manoni</td><td>Second-row or Lock</td><td>EP RFU</td><td>1</td><td>5</td><td>2003/08/08</td></tr>
<td>Divan</td><td>Manus</td><td>Loosehead prop</td><td>Griqualand West RU</td><td>4</td><td>3</td><td>2003/08/04</td></tr>
<td>Luvuyo</td><td>Mhlobiso</td><td>Left wing</td><td>EP RFU</td><td>3</td><td>1</td><td>2003/08/08</td></tr>
<td>Jason</td><td>Mitchell</td><td>Left wing</td><td>WP RFU</td><td>4</td><td>2</td><td>2004/02/12</td></tr>
<td>Dumani</td><td>Mtya</td><td>Second-row or Lock</td><td>WP RFU</td><td>4</td><td>2</td><td>2004/02/12</td></tr>
<td>Sangoni</td><td>Mxoli</td><td>Tighthead prop</td><td>KZN RU</td><td>2</td><td>0</td><td>2003/08/06</td></tr>
<td>Thobela</td><td>Ngonyoza</td><td>Openside flanker</td><td>WP RFU</td><td>1</td><td>2</td><td>2003/08/07</td></tr>
<td>Thato</td><td>Ntechane</td><td>Hooker</td><td>Free State RU</td><td>1</td><td>3</td><td>2003/08/05</td></tr>
<td>Siviwe</td><td>Nyobole</td><td>Openside flanker</td><td>WP RFU</td><td>1</td><td>2</td><td>2004/02/12</td></tr>
<td>Chiliboy</td><td>Ralepelle</td><td>Hooker</td><td>Blue Bulls RU</td><td>2</td><td>2</td><td>2003/08/05</td></tr>
<td>Steph</td><td>Roberts</td><td>Loosehead prop</td><td>Free State RU</td><td>3</td><td>2</td><td>2003/08/05</td></tr>
<td>Jody</td><td>Rose</td><td>Fly-half</td><td>WP RFU</td><td>3</td><td>2</td><td>2003/08/07</td></tr>
<td>Curtis</td><td>Siegelaar</td><td>Scrum-half</td><td>WP RFU</td><td>2</td><td>2</td><td>2004/02/12</td></tr>
<td>Frederik</td><td>Spies</td><td>Second-row or Lock</td><td>Griffons RU</td><td>4</td><td>3</td><td>2003/08/11</td></tr>
<td>Gideon</td><td>Stander</td><td>Fly-half</td><td>Falcons RU</td><td>4</td><td>4</td><td>2004/02/16</td></tr>
<td>Jabez</td><td>Steenkamp</td><td>Second-row or Lock</td><td>Blue Bulls RU</td><td>1</td><td>1</td><td>2004/02/16</td></tr>
<td>Jabez</td><td>Steenkamp</td><td>Second-row or Lock</td><td>Blue Bulls RU</td><td>3</td><td>2</td><td>2003/08/12</td></tr>
<td>Christoff</td><td>Storm</td><td>Tighthead prop</td><td>Golden Lions RU</td><td>5</td><td>5</td><td>2003/08/11</td></tr>
<td>Adriaan</td><td>Strauss</td><td>Hooker</td><td>Free State RU</td><td>3</td><td>2</td><td>2003/08/05</td></tr>
<td>Richardt</td><td>Strauss</td><td>Openside flanker</td><td>Free State RU</td><td>2</td><td>2</td><td>2003/08/05</td></tr>
<td>Riaan</td><td>Swanepoel</td><td>No 8</td><td>Free State RU</td><td>2</td><td>4</td><td>2003/08/05</td></tr>
<td>Wongama</td><td>Tom</td><td>Right wing</td><td>EP RFU</td><td>1</td><td>1</td><td>2004/02/12</td></tr>
<td>Wongama</td><td>Tom</td><td>Right wing</td><td>EP RFU</td><td>1</td><td>4</td><td>2004/02/12</td></tr>
<td>Linda</td><td>Tyapile</td><td>Second-row or Lock</td><td>Golden Lions RU</td><td>2</td><td>3</td><td>2004/02/16</td></tr>
<td>Linda</td><td>Tyapile</td><td>Second-row or Lock</td><td>Golden Lions RU</td><td>4</td><td>3</td><td>2003/08/05</td></tr>
<td>Francois</td><td>Uys</td><td>Openside flanker</td><td>Falcons RU</td><td>4</td><td>2</td><td>2003/08/05</td></tr>
<td>Phillip</td><td>van der Merwe</td><td>Hooker</td><td>WP RFU</td><td>3</td><td>4</td><td>2003/08/12</td></tr>
<td>Flip</td><td>van der Merwe</td><td>Second-row or Lock</td><td>Free State RU</td><td>3</td><td>3</td><td>2003/08/05</td></tr>
<td>Izak</td><td>van der Westhuizen</td><td>Second-row or Lock</td><td>Griqualand West RU</td><td>3</td><td>3</td><td>2003/08/04</td></tr>
<td>Elrich</td><td>van Vuuren</td><td>Outside centre</td><td>Free State RU</td><td>4</td><td>1</td><td>2003/08/08</td></tr>
<td>Gert</td><td>van Wyk</td><td>Loosehead prop</td><td>WP RFU</td><td>3</td><td>3</td><td>2003/08/07</td></tr>
<td>Shane</td><td>Vergotine</td><td>Scrum-half</td><td>Blue Bulls RU</td><td>4</td><td>2</td><td>2003/08/11</td></tr>
<td>Jano</td><td>Vermaak</td><td>Scrum-half</td><td>Golden Lions RU</td><td>3</td><td>4</td><td>2003/08/05</td></tr>
<td>Juan</td><td>Visser</td><td>Outside centre</td><td>Golden Lions RU</td><td>2</td><td>3</td><td>2003/08/05</td></tr>
<td>Juan</td><td>Visser</td><td>Outside centre</td><td>Golden Lions RU</td><td>2</td><td>2</td><td>2004/02/16</td></tr>
<td>Jan</td><td>Volschenk</td><td>Loosehead prop</td><td>SWD RFU</td><td>1</td><td>0</td><td>2003/08/11</td></tr>
<td>Daniel</td><td>Vosloo</td><td>Scrum-half</td><td>EP RFU</td><td>2</td><td>5</td><td>2004/02/12</td></tr>
<td>Daniel</td><td>Vosloo</td><td>Scrum-half</td><td>EP RFU</td><td>1</td><td>1</td><td>2003/08/08</td></tr>
<td>Frank</td><td>Wagenstroom</td><td>Right wing</td><td>WP RFU</td><td>1</td><td>0</td><td>2003/08/07</td></tr>
<td>Elgar</td><td>Watts</td><td>Fly-half</td><td>Boland RU</td><td>1</td><td>4</td><td>2004/02/12</td></tr>
<td>Jerome</td><td>Williams</td><td>Right wing</td><td>EP RFU</td><td>1</td><td>1</td><td>2004/02/12</td></tr>
<td>Mawande</td><td>Zenzile</td><td>Fullback</td><td>WP RFU</td><td>2</td><td>4</td><td>2004/02/12</td></tr>
<tr><td style='background-color:#CFDAE2; text-align:right' class=cellhere colspan='10'>188 Records</td></tr></table></td></tr></table><br>
