<table align='center' id='ReportMain' name='ReportMain' cellspacing=0 style='BORDER-BOTTOM: 1px solid;BORDER-RIGHT: 1px solid;position:relative;top:-10px;left:-5px;width:90%'><tr><td><Table cellpadding=4 cellspacing=0 border=0 bordercolor=#999999 style='BORDER-BOTTOM: 1px solid;BORDER-RIGHT: 1px solid;width:100%'><tr id='Headers' name='Headers'><td style='padding:0' colspan=14><table cellpadding='0' cellspacing='0' border='0' style='width:100%;padding:3 0 3 0;'><tr><th id='ReportName' name='ReportName' class=cellhere2 style='text-align:left'>&nbsp;&nbsp;Anthropometry - 1/16/2004</th></tr></table></td></tr><tr><th>FirstName</th><th>Surname</th><th>Squad</th><th>RugbyUnion</th><th>Anthropometry Test Date</th><th>Height</th><th>Weight</th><th>Sum Seven Skin Folds</th><th>% Muscle</th><th>% Body Fat</th><th>Endomorphy</th><th>Mesomorphy</th><th>Ectomorphy</th></tr><td>Heathesh</td><td>Bhandari</td><td>Green U16</td><td><Br></td><td>1/1/2001</td><td>11</td><td>1</td><td>7</td><td><Br></td><td><Br></td><td>-0.29</td><td>4.83</td><td>0.1</td></tr>
<td>Heathesh</td><td>Bhandari</td><td>Green U16</td><td><Br></td><td>1/16/2004</td><td>170</td><td>60</td><td>140</td><td><Br></td><td><Br></td><td>5.84</td><td>14.79</td><td>3.45</td></tr>
<td>Heathesh</td><td>Bhandari</td><td>Green U16</td><td><Br></td><td>12/12/2002</td><td>1</td><td>1</td><td>7</td><td><Br></td><td><Br></td><td>-0.29</td><td>6.14</td><td>0.1</td></tr>
<td>Heathesh</td><td>Bhandari</td><td>Green U16</td><td><Br></td><td>2/2/2003</td><td>23</td><td>123</td><td>1316</td><td><Br></td><td><Br></td><td>6.52</td><td>619.13</td><td>0.1</td></tr>
<td>Fabian</td><td>Brandt</td><td>Boland CC 2003</td><td>Boland RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Ashley</td><td>Buys</td><td>SWD CC 2003</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Wilhelm</td><td>Carstens</td><td>Boland CC 2003</td><td>Boland RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Rudi</td><td>Coetzee</td><td>Gold</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>John</td><td>Cooper</td><td>SWD CC 2003</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Shaun</td><td>de Vos</td><td>Green U16</td><td>Leopards RU</td><td>8/5/2003</td><td>169</td><td>68</td><td>57.2</td><td><Br></td><td><Br></td><td>2.51</td><td>103.63</td><td>1.94</td></tr>
<td>gsdfgsdf</td><td>dfgdfgd</td><td>Green U19</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>dfd</td><td>dgdf</td><td>Green U16</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Matime</td><td>Diale</td><td>All Management</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Frikkie</td><td>Du Plessis</td><td>Green U16</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>New</td><td>Dude</td><td>Green U16</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Tobile</td><td>Dunjwa</td><td>All Management</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Eugene</td><td>Eloff</td><td>All Management</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jaque</td><td>Fourie</td><td>Springbok</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Josh</td><td>Freislich</td><td>Golden Lions CC 2003</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Joshua</td><td>Freislich</td><td>Springbok</td><td>Griqualand West RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Neil</td><td>Fullard</td><td>Gold</td><td>WP RFU</td><td>8/12/2003</td><td>183.2</td><td>112.2</td><td>93.2</td><td><Br></td><td><Br></td><td>5.06</td><td>8.97</td><td>0.1</td></tr>
<td>Gordon</td><td>Gilfillan</td><td>Gold</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>heath</td><td>heath</td><td>Springbok</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Adrian</td><td>Hendricks</td><td>SWD CC 2003</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Anthony</td><td>Heugh</td><td>All Management</td><td>EP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>jam</td><td>jam</td><td>Green U17 </td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Enrico</td><td>Januarie</td><td>Gold</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Elton</td><td>Manakka</td><td>SWD CC 2003</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Mbuso</td><td>Methula</td><td>Gold</td><td>Natal RU</td><td>8/6/2003</td><td>178</td><td>111</td><td>113</td><td><Br></td><td><Br></td><td>5.1</td><td>122.69</td><td>0.1</td></tr>
<td>Jan</td><td>Moller</td><td>Gold</td><td>WP RFU</td><td>8/12/2003</td><td>188</td><td>112.7</td><td>86.8</td><td><Br></td><td><Br></td><td>4.28</td><td>7.23</td><td>0.43</td></tr>
<td>Raymond</td><td>Mordt</td><td>All Management</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jorrie</td><td>Muller</td><td>Springbok</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>JOsh</td><td>Pete</td><td>Green U19</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>s</td><td>s</td><td>Green U17 </td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>asd</td><td>saasd</td><td>Green U19</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>dde</td><td>simmons</td><td>Green U16</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Nicolaas</td><td>Smit</td><td>Boland CC 2003</td><td>Boland RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Kevin</td><td>Stevenson</td><td>All Management</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Rudolf</td><td>Straeuli</td><td>All Management</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Andries</td><td>Swanepoel</td><td>SWD CC 2003</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Philip</td><td>Terblanche</td><td>SWD CC 2003</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Wikus</td><td>van Dyk</td><td>Green U19</td><td>Boland RU</td><td>8/1/2003</td><td>176.3</td><td>80.2</td><td>42.6</td><td><Br></td><td><Br></td><td>2.11</td><td>6.45</td><td>1.56</td></tr>
<td>Deon</td><td>Carstens</td><td>Springbok</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Daniel</td><td>du Plessis</td><td>Green U19</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Riacco</td><td>Eilerd</td><td>Green U16</td><td>Griqualand West RU</td><td>8/4/2003</td><td>182.3</td><td>88.4</td><td>92.9</td><td><Br></td><td><Br></td><td>3.59</td><td>4.86</td><td>1.61</td></tr>
<td>Gugulethu</td><td>Fata</td><td>Green U19</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Schalk</td><td>Ferreira</td><td>Gold</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Daniel</td><td>Human</td><td>Springbok</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Andre</td><td>le Roux</td><td>Springbok</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Thato</td><td>Lebitsa</td><td>Green U16</td><td>Natal RU</td><td>8/6/2003</td><td>175</td><td>86.6</td><td>149</td><td><Br></td><td><Br></td><td>6.22</td><td>116.9</td><td>0.7</td></tr>
<td>Samuel</td><td>Leburu</td><td>Green U19</td><td>Griqualand West RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Divan</td><td>Manus</td><td>Green U19</td><td>Griqualand West RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Stefan</td><td>Nel</td><td>Green U19</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Willem</td><td>Roberts</td><td>Green U19</td><td>Free State RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Wessel</td><td>Roux</td><td>Springbok</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Gordon</td><td>Thomas</td><td>Green U16</td><td>Golden Lions RU</td><td>8/5/2003</td><td>170.5</td><td>110.5</td><td>133.4</td><td><Br></td><td><Br></td><td>6.4</td><td>127.36</td><td>0.1</td></tr>
<td>Cassim</td><td>Tiry</td><td>Green U16</td><td>EP RFU</td><td>8/9/2003</td><td>173</td><td>74.1</td><td>52</td><td><Br></td><td><Br></td><td>2.37</td><td>6.33</td><td>1.84</td></tr>
<td>Heinke</td><td>van der Merwe</td><td>Green U19</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Gerrit</td><td>van Wyk</td><td>Green U19</td><td>WP RFU</td><td>8/7/2003</td><td>176.1</td><td>69.2</td><td>59</td><td><Br></td><td><Br></td><td>2.37</td><td>4.02</td><td>3.06</td></tr>
<td>Danie</td><td>Coetzee</td><td>Springbok</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Rikus</td><td>du Bruyn</td><td>Green U16</td><td>Golden Lions RU</td><td>8/5/2003</td><td>1.73</td><td>80.5</td><td>90.4</td><td><Br></td><td><Br></td><td>3.63</td><td>139.39</td><td>0.1</td></tr>
<td>Bismarck</td><td>du Plessis</td><td>Gold</td><td>Free State RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Deon</td><td>Fourie</td><td>Green U19</td><td>Limpopo</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Bobby</td><td>Freislich</td><td>Free State CC 2003</td><td>Free State RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Gert</td><td>Greyling</td><td>Green U19</td><td>Free State RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Erasmus</td><td>Jansen van Vuuren</td><td>Green U19</td><td>Mpumalanga RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Justin</td><td>Meanwell</td><td>Green U16</td><td>Natal RU</td><td>8/6/2003</td><td>178.5</td><td>80.6</td><td>97</td><td><Br></td><td><Br></td><td>4.47</td><td>113.03</td><td>1.94</td></tr>
<td>Thato</td><td>Ntechane</td><td>Green U19</td><td>Free State RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Morne</td><td>Pereira</td><td>Green U16</td><td>Boland RU</td><td>8/1/2003</td><td>170.5</td><td>71.1</td><td>57.6</td><td><Br></td><td><Br></td><td>2.66</td><td>5.96</td><td>1.76</td></tr>
<td>Gustav</td><td>Rademeyer</td><td>Boland CC 2003</td><td>Boland RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Mahlatse</td><td>Ralepelle</td><td>Green U19</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Dale</td><td>Santon</td><td>Springbok</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Gary</td><td>Scott</td><td>Green U19</td><td>EP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Ramano</td><td>Sebia</td><td>Green U16</td><td>Griffons RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Hanyani</td><td>Shimange</td><td>Gold</td><td>Free State RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>John</td><td>Smit</td><td>Springbok</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Adriaan</td><td>Strauss</td><td>Green U19</td><td>Free State RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Raaths</td><td>Sydney</td><td>SWD CC 2003</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Lukas</td><td>van Biljon</td><td>Springbok</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Phillip</td><td>van der Merwe</td><td>Green U19</td><td>WP RFU</td><td>8/12/2003</td><td>177.5</td><td>92.4</td><td>75.6</td><td><Br></td><td><Br></td><td>3.23</td><td>7.17</td><td>0.59</td></tr>
<td>Jonathan</td><td>van Vuuren</td><td>SWD CC 2003</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>David</td><td>Wannenburg</td><td>Green U16</td><td>EP RFU</td><td>8/9/2003</td><td>173.6</td><td>79</td><td>64</td><td><Br></td><td><Br></td><td>3.19</td><td>5.48</td><td>1.15</td></tr>
<td>Louis</td><td>Coetzee</td><td>Green U16</td><td>Leopards RU</td><td>8/5/2003</td><td>180</td><td>100</td><td>83.8</td><td><Br></td><td><Br></td><td>3.4</td><td>125.06</td><td>0.37</td></tr>
<td>Zander</td><td>de Kock</td><td>Green U16</td><td>Golden Lions RU</td><td>8/5/2003</td><td>1.76</td><td>106.4</td><td>128.6</td><td><Br></td><td><Br></td><td>4.99</td><td>152.21</td><td>0.1</td></tr>
<td>Jacobus</td><td>du Randt</td><td>Springbok</td><td>Free State RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Robert</td><td>Kempson</td><td>Springbok</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Johann</td><td>Kritzinger</td><td>Green U16</td><td>WP RFU</td><td>8/7/2003</td><td>181</td><td>112.6</td><td>113.8</td><td><Br></td><td><Br></td><td>4.78</td><td>7.56</td><td>0.1</td></tr>
<td>Sangoni</td><td>Mxoli</td><td>Green U19</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Stephanus</td><td>Rautenbach</td><td>Springbok</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Lawrence</td><td>Sephaka</td><td>Springbok</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Christoff</td><td>Storm</td><td>Green U19</td><td>Griffons RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Renier</td><td>Strydom</td><td>Green U16</td><td>Griqualand West RU</td><td>8/4/2003</td><td>183.4</td><td>103</td><td>177.3</td><td><Br></td><td><Br></td><td>6.8</td><td>6.06</td><td>0.51</td></tr>
<td>David</td><td>Temo</td><td>Green U16</td><td>Blue Bulls RU</td><td>8/5/2003</td><td>1.67</td><td>78.7</td><td>67.2</td><td><Br></td><td><Br></td><td>2.66</td><td>145.19</td><td>0.1</td></tr>
<td>Jean</td><td>van Zyl</td><td>Green U16</td><td>Free State RU</td><td>8/5/2003</td><td>176.9</td><td>110.2</td><td>245.1</td><td><Br></td><td><Br></td><td>9.48</td><td>7.64</td><td>0.1</td></tr>
<td>Isak</td><td>Visagie</td><td>Springbok</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>John</td><td>Botha</td><td>Springbok</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Divan</td><td>Burger</td><td>Green U16</td><td>Golden Lions RU</td><td>8/5/2003</td><td>1.93</td><td>86.8</td><td>56.2</td><td><Br></td><td><Br></td><td>2.82</td><td>144.35</td><td>0.1</td></tr>
<td>tatenda</td><td>chidzawo</td><td>Green U16</td><td>Natal RU</td><td>8/6/2003</td><td>183.5</td><td>95.8</td><td>136.5</td><td><Br></td><td><Br></td><td>6.15</td><td>121.02</td><td>0.96</td></tr>
<td>Geo</td><td>Cronje</td><td>Springbok</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Quinton</td><td>Davids</td><td>Springbok</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Claude</td><td>Dry</td><td>Green U19</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Augustinus</td><td>Gerber</td><td>SWD CC 2003</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jarryd</td><td>Greyvenstein</td><td>Green U16</td><td>Border RU</td><td>8/7/2003</td><td>193</td><td>89.3</td><td>96.6</td><td><Br></td><td><Br></td><td>3.81</td><td>4.16</td><td>3.29</td></tr>
<td>Anthonie</td><td>Gronum</td><td>Green U19</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Lubabalo</td><td>Gwavu</td><td>Green U16</td><td>EP RFU</td><td>8/9/2003</td><td>183</td><td>89.6</td><td>74.4</td><td><Br></td><td><Br></td><td>3.04</td><td>6.27</td><td>1.59</td></tr>
<td>Alistair</td><td>Hargreaves</td><td>Green U19</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Hendrik</td><td>Kilian</td><td>Green U16</td><td>Leopards RU</td><td>8/5/2003</td><td>182</td><td>86.5</td><td>53.6</td><td><Br></td><td><Br></td><td>2.28</td><td>114.75</td><td>1.76</td></tr>
<td>Jannes</td><td>Labuschagne</td><td>Springbok</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Madoda</td><td>Manoni</td><td>Green U19</td><td>EP RFU</td><td>8/9/2003</td><td>186</td><td>79.6</td><td>73.2</td><td><Br></td><td><Br></td><td>2.95</td><td>3.52</td><td>3.29</td></tr>
<td>Victor</td><td>Matfield</td><td>Springbok</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Dumani</td><td>Mtya</td><td>Green U19</td><td>Border RU</td><td>8/7/2003</td><td>187</td><td>90.9</td><td>70.2</td><td><Br></td><td><Br></td><td>3.38</td><td>5.87</td><td>2.11</td></tr>
<td>Malungisa</td><td>Nkosi</td><td>Green U16</td><td>Golden Lions RU</td><td>8/5/2003</td><td>1.83</td><td>86.2</td><td>49.2</td><td><Br></td><td><Br></td><td>2.04</td><td>141.64</td><td>0.1</td></tr>
<td>Michael</td><td>Noemdo</td><td>Boland CC 2003</td><td>Boland RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Michael</td><td>Rhodes</td><td>Green U16</td><td>Natal RU</td><td>8/6/2003</td><td>195</td><td>101.8</td><td>120</td><td><Br></td><td><Br></td><td>5.27</td><td>128.03</td><td>2.25</td></tr>
<td>Lefa</td><td>Silo</td><td>Green U16</td><td>Griffons RU</td><td>8/4/2003</td><td>177.6</td><td>68.6</td><td>47.3</td><td><Br></td><td><Br></td><td>1.85</td><td>3.76</td><td>3.4</td></tr>
<td>Frederik</td><td>Spies</td><td>Green U19</td><td>Griffons RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jabez</td><td>Steenkamp</td><td>Green U19</td><td>WP RFU</td><td>8/12/2003</td><td>200</td><td>90.6</td><td>48</td><td><Br></td><td><Br></td><td>2.37</td><td>4.18</td><td>4.3</td></tr>
<td>Jakobus</td><td>Stofberg</td><td>Green U16</td><td>WP RFU</td><td>8/7/2003</td><td>188</td><td>83</td><td>54.6</td><td><Br></td><td><Br></td><td>2.48</td><td>-0.21</td><td>3.18</td></tr>
<td>Linda</td><td>Tyapile</td><td>Green U19</td><td>Falcons RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Albert</td><td>van den Berg</td><td>Springbok</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Flip</td><td>van der Merwe</td><td>Green U19</td><td>Free State RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Izak</td><td>van der Westhuizen</td><td>Green U19</td><td>Griqualand West RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Morne</td><td>van der Westhuyzen</td><td>Green U16</td><td>EP RFU</td><td>8/9/2003</td><td>188</td><td>80.6</td><td>47.4</td><td><Br></td><td><Br></td><td>1.92</td><td>4.78</td><td>3.55</td></tr>
<td>Hendrik</td><td>van Niekerk</td><td>Green U19</td><td>Blue Bulls RU</td><td>8/5/2003</td><td>1.95</td><td>93</td><td>55</td><td><Br></td><td><Br></td><td>2.55</td><td>139.14</td><td>0.1</td></tr>
<td>Albertus</td><td>Venter</td><td>Springbok</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jacques</td><td>Cronje</td><td>Gold</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Daniel</td><td>Crous</td><td>Green U16</td><td>Free State RU</td><td>8/5/2003</td><td>176</td><td>82.8</td><td>45.1</td><td><Br></td><td><Br></td><td>1.89</td><td>6</td><td>1.1</td></tr>
<td>Johannes</td><td>Janse van Rensburg</td><td>Green U16</td><td>Golden Lions RU</td><td>8/5/2003</td><td>1.73</td><td>78</td><td>72.4</td><td><Br></td><td><Br></td><td>3.3</td><td>138.85</td><td>0.1</td></tr>
<td>Leon</td><td>Karemaker</td><td>Green U19</td><td>WP RFU</td><td>8/7/2003</td><td>189.5</td><td>94.6</td><td>49.6</td><td><Br></td><td><Br></td><td>2.37</td><td>7</td><td>2.11</td></tr>
<td>Leon</td><td>Karemaker</td><td>Green U19</td><td>WP RFU</td><td>8/7/2003</td><td>189.5</td><td>94.6</td><td>49.6</td><td><Br></td><td><Br></td><td>2.37</td><td>7.01</td><td>2.11</td></tr>
<td>Francois</td><td>la Grange</td><td>Green U19</td><td>Mpumalanga RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Hilton</td><td>Lobberts</td><td>Green U19</td><td>Boland RU</td><td>8/1/2003</td><td>188</td><td>86</td><td>46.6</td><td><Br></td><td><Br></td><td>2.51</td><td>5.05</td><td>2.83</td></tr>
<td>Lukhanyo</td><td>Majorman</td><td>Green U19</td><td>Border RU</td><td>8/7/2003</td><td>173</td><td>76.9</td><td>70.3</td><td><Br></td><td><Br></td><td>2.82</td><td>7.48</td><td>1.22</td></tr>
<td>Gere</td><td>Maree</td><td>Green U19</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Dewald</td><td>Potgieter</td><td>Green U16</td><td>EP RFU</td><td>8/9/2003</td><td>188.6</td><td>78.4</td><td>60</td><td><Br></td><td><Br></td><td>2.91</td><td>3.94</td><td>3.95</td></tr>
<td>Glen</td><td>Poulton</td><td>Green U16</td><td>Griqualand West RU</td><td>8/4/2003</td><td>179.7</td><td>83.8</td><td>55.2</td><td><Br></td><td><Br></td><td>2.61</td><td>4.43</td><td>1.72</td></tr>
<td>Deon</td><td>Stegmann</td><td>Green U19</td><td>Free State RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Solomon</td><td>van der Merwe</td><td>SWD CC 2003</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Pieter</td><td>van Dyk</td><td>Green U19</td><td>Griqualand West RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Johannes</td><td>van Heerden</td><td>Springbok</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Werner</td><td>van Staden</td><td>Green U16</td><td>Griqualand West RU</td><td>8/4/2003</td><td>179.1</td><td>77.8</td><td>49</td><td><Br></td><td><Br></td><td>2.17</td><td>5.82</td><td>2.39</td></tr>
<td>Schalk</td><td>Burger</td><td>Springbok</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jonathan</td><td>Dangoumou</td><td>Green U19</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Teboho</td><td>Dhlamini</td><td>Green U19</td><td>Free State RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Lazola</td><td>Gonya</td><td>Green U16</td><td>WP RFU</td><td>8/7/2003</td><td>178.5</td><td>66</td><td>44.3</td><td><Br></td><td><Br></td><td>1.75</td><td>0.4</td><td>3.96</td></tr>
<td>Ashley</td><td>Johnson</td><td>Green U19</td><td>WP RFU</td><td>8/12/2003</td><td>179.5</td><td>93.3</td><td>73.6</td><td><Br></td><td><Br></td><td>3.63</td><td>6.81</td><td>0.71</td></tr>
<td>Friedrich</td><td>Kamffer</td><td>Green U16</td><td>Free State RU</td><td>8/5/2003</td><td>182.8</td><td>97.6</td><td>128.4</td><td><Br></td><td><Br></td><td>4.86</td><td>5.66</td><td>0.77</td></tr>
<td>Petrus</td><td>Krause</td><td>Springbok</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Cornelius</td><td>Krige</td><td>Springbok</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Gert</td><td>Kroukamp</td><td>Green U16</td><td>WP RFU</td><td>8/7/2003</td><td>179.6</td><td>83.3</td><td>60.6</td><td><Br></td><td><Br></td><td>3.04</td><td>2</td><td>1.77</td></tr>
<td>Eric</td><td>Ngoie</td><td>Green U16</td><td>Natal RU</td><td>8/6/2003</td><td>184</td><td>79.4</td><td>82</td><td><Br></td><td><Br></td><td>3.79</td><td>117.12</td><td>3.02</td></tr>
<td>Thobela</td><td>Ngonyoza</td><td>Green U19</td><td>WP RFU</td><td>8/7/2003</td><td>173.5</td><td>82</td><td>64.4</td><td><Br></td><td><Br></td><td>2.73</td><td>2.21</td><td>0.88</td></tr>
<td>Hendro</td><td>Scholtz</td><td>Springbok</td><td>Free State RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Richardt</td><td>Strauss</td><td>Green U19</td><td>Free State RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Francois</td><td>Uys</td><td>Green U19</td><td>Falcons RU</td><td>8/5/2003</td><td>185</td><td>94</td><td>59.4</td><td><Br></td><td><Br></td><td>2.18</td><td>6.48</td><td>1.45</td></tr>
<td>Joost</td><td>van der Westhuizen</td><td>Springbok</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Wayne</td><td>van Heerden</td><td>Gold</td><td>EP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Luke</td><td>Watson</td><td>Gold</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Wesley</td><td>Wilkins</td><td>Green U19</td><td>Border RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Deon</td><td>Coetzer</td><td>SWD CC 2003</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Andrew</td><td>Dikobo</td><td>Green U19</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Julian</td><td>Erasmus</td><td>Green U16</td><td>Blue Bulls RU</td><td>8/5/2003</td><td>175</td><td>82.7</td><td>88.4</td><td><Br></td><td><Br></td><td>4.11</td><td>112.83</td><td>1</td></tr>
<td>Bobby</td><td>Freislich</td><td>Free State CC 2003</td><td>Free State RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Ivan</td><td>Grobler</td><td>Green U16</td><td>Golden Lions RU</td><td>8/5/2003</td><td>1.78</td><td>87.5</td><td>72</td><td><Br></td><td><Br></td><td>3.06</td><td>140.29</td><td>0.1</td></tr>
<td>Rufus</td><td>Holtzhausen</td><td>Green U16</td><td>Leopards RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Rufus</td><td>Holtzhausen</td><td>Green U16</td><td>Leopards RU</td><td>8/5/2003</td><td>182</td><td>81.5</td><td>65.4</td><td><Br></td><td><Br></td><td>2.91</td><td>115.91</td><td>2.39</td></tr>
<td>Cornelius</td><td>Kemp</td><td>Green U19</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Juandre</td><td>Kruger</td><td>Green U19</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Pieter</td><td>Louw</td><td>Green U19</td><td>WP RFU</td><td>8/12/2003</td><td>190.2</td><td>92.4</td><td>62.4</td><td><Br></td><td><Br></td><td>2.23</td><td>5.77</td><td>2.49</td></tr>
<td>Sisa</td><td>Mafu</td><td>Green U19</td><td>EP RFU</td><td>8/9/2003</td><td>184.2</td><td>83.98</td><td>68.2</td><td><Br></td><td><Br></td><td>3.63</td><td>4.49</td><td>2.47</td></tr>
<td>Gerhardus</td><td>Meyer</td><td>Green U19</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Coenraad</td><td>Pieterse</td><td>Green U16</td><td>Free State RU</td><td>8/5/2003</td><td>180.3</td><td>75</td><td>52.3</td><td><Br></td><td><Br></td><td>2.24</td><td>5.49</td><td>2.97</td></tr>
<td>Christian</td><td>Potgieter</td><td>Boland CC 2003</td><td>Boland RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Corne</td><td>Potgieter</td><td>SWD CC 2003</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Johnny</td><td>Schoeman</td><td>Green U16</td><td>Griffons RU</td><td>8/4/2003</td><td>188</td><td>73.2</td><td>41.6</td><td><Br></td><td><Br></td><td>1.61</td><td>2.75</td><td>4.55</td></tr>
<td>Robert</td><td>Skinstad</td><td>Springbok</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jaun</td><td>Smith</td><td>Springbok</td><td>Free State RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Richard</td><td>Sowerby</td><td>Springbok</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jakobus</td><td>Swanepoel</td><td>Green U19</td><td>Free State RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jaco</td><td>Swanepoel</td><td>Green U16</td><td>EP RFU</td><td>8/9/2003</td><td>185.8</td><td>86.5</td><td>69.6</td><td><Br></td><td><Br></td><td>3.04</td><td>5.89</td><td>2.39</td></tr>
<td>Pedrie</td><td>Wannenburg</td><td>Springbok</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jaco</td><td>Colyn</td><td>Green U16</td><td>SWD RFU</td><td>8/11/2003</td><td>171</td><td>66.5</td><td>87</td><td><Br></td><td><Br></td><td>1.95</td><td>5.65</td><td>2.53</td></tr>
<td>Johannes</td><td>Conradie</td><td>Springbok</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Craig</td><td>Davidson</td><td>Springbok</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Neil</td><td>de Kock</td><td>Springbok</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Paul</td><td>Delport</td><td>Gold</td><td>WP RFU</td><td>8/7/2003</td><td>169</td><td>76.4</td><td>35</td><td><Br></td><td><Br></td><td>1.44</td><td>7.4</td><td>0.83</td></tr>
<td>Fourie</td><td>du Preez</td><td>Gold</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Joshua</td><td>Freislich</td><td>Green U16</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Conrad</td><td>Hoffmann</td><td>Green U16</td><td>WP RFU</td><td>8/12/2003</td><td>175</td><td>33.6</td><td>46.8</td><td><Br></td><td><Br></td><td>1.8</td><td>3.7</td><td>11.4</td></tr>
<td>Quintin</td><td>Kruger</td><td>Green U19</td><td>Leopards RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Damian</td><td>Labans</td><td>Green U19</td><td>Griffons RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Marlon</td><td>Lewis</td><td>Green U16</td><td>EP RFU</td><td>8/9/2003</td><td>160</td><td>61.5</td><td>48.2</td><td><Br></td><td><Br></td><td>2.3</td><td>5.61</td><td>1.17</td></tr>
<td>Warren</td><td>Malgas</td><td>Green U19</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Dru</td><td>Nass</td><td>Boland CC 2003</td><td>Boland RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Grant</td><td>Paulse</td><td>Green U16</td><td>Boland RU</td><td>8/1/2003</td><td>161.7</td><td>56.3</td><td>44.4</td><td><Br></td><td><Br></td><td>1.8</td><td>5.66</td><td>2.53</td></tr>
<td>Curtis</td><td>Siegelaar</td><td>Green U19</td><td>WP RFU</td><td>8/7/2003</td><td>164.5</td><td>73</td><td>55</td><td><Br></td><td><Br></td><td>2.62</td><td>3.17</td><td>0.64</td></tr>
<td>Daniel</td><td>van der Merwe</td><td>Green U19</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Shane</td><td>Vergotine</td><td>Green U19</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jano</td><td>Vermaak</td><td>Green U19</td><td>Falcons RU</td><td>8/5/2003</td><td>167</td><td>72</td><td>36.8</td><td><Br></td><td><Br></td><td>1.56</td><td>7.06</td><td>1</td></tr>
<td>Meyer</td><td>Bosman</td><td>Green U19</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Isma-eel</td><td>Dollie</td><td>Green U19</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Gerhard</td><td>Goosen</td><td>Boland CC 2003</td><td>Boland RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Andisa</td><td>Gqobo</td><td>Green U19</td><td>Border RU</td><td>8/7/2003</td><td>170</td><td>74.9</td><td>42</td><td><Br></td><td><Br></td><td>1.68</td><td>6.6</td><td>1.07</td></tr>
<td>Derick</td><td>Hougaard</td><td>Springbok</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jakobus</td><td>Immelman</td><td>Boland CC 2003</td><td>Boland RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Thando</td><td>Jacobs</td><td>Green U19</td><td>WP RFU</td><td>8/7/2003</td><td>176.5</td><td>67.1</td><td>58.2</td><td><Br></td><td><Br></td><td>2.53</td><td>0.34</td><td>3.44</td></tr>
<td>Andrew</td><td>James</td><td>Springbok</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Thamzamile</td><td>Majola</td><td>Green U16</td><td>Golden Lions RU</td><td>8/5/2003</td><td>1.68</td><td>70</td><td>74.4</td><td><Br></td><td><Br></td><td>3.1</td><td>129.47</td><td>0.1</td></tr>
<td>Preston</td><td>Mommsen</td><td>Green U16</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Daniel</td><td>Philander</td><td>Boland CC 2003</td><td>Boland RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Andre</td><td>Pretorius</td><td>Springbok</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jody</td><td>Rose</td><td>Green U19</td><td>WP RFU</td><td>8/7/2003</td><td>176</td><td>69.8</td><td>71</td><td><Br></td><td><Br></td><td>3.23</td><td>0.38</td><td>2.96</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/1/2003</td><td>1</td><td>1</td><td>7</td><td><Br></td><td><Br></td><td>-0.29</td><td><Br></td><td>0.1</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/1/2003</td><td>1</td><td>1</td><td>7</td><td><Br></td><td><Br></td><td>-0.29</td><td><Br></td><td>0.1</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>185</td><td>85</td><td>196</td><td><Br></td><td><Br></td><td>7.25</td><td>47.23</td><td>2.47</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>185</td><td>85</td><td>196</td><td><Br></td><td><Br></td><td>7.25</td><td>47.23</td><td>2.47</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/1/2003</td><td>1</td><td>1</td><td>7</td><td><Br></td><td><Br></td><td>-0.29</td><td>6.14</td><td>0.1</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>185</td><td>85</td><td>196</td><td><Br></td><td><Br></td><td>7.25</td><td>47.23</td><td>2.47</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>185</td><td>85</td><td>196</td><td><Br></td><td><Br></td><td>7.25</td><td>47.23</td><td>2.47</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>185</td><td>85</td><td>196</td><td><Br></td><td><Br></td><td>7.25</td><td>47.23</td><td>2.47</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>8/12/2003</td><td>168.5</td><td>64.2</td><td>46.2</td><td><Br></td><td><Br></td><td>2.18</td><td>3.95</td><td>2.46</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/12/2003</td><td>211</td><td>122</td><td>1729</td><td><Br></td><td><Br></td><td>265.81</td><td>1674.44</td><td>2.83</td></tr>
<td>Andre</td><td>Smith</td><td>Green U16</td><td>WP RFU</td><td>11/19/2003</td><td>185</td><td>85</td><td>196</td><td><Br></td><td><Br></td><td>7.25</td><td>47.23</td><td>2.47</td></tr>
<td>Gideon</td><td>Stander</td><td>Green U19</td><td>Falcons RU</td><td>8/5/2003</td><td>171</td><td>73.5</td><td>58.2</td><td><Br></td><td><Br></td><td>2.32</td><td>6.32</td><td>1.57</td></tr>
<td>Bradwell</td><td>Swartz</td><td>Green U16</td><td>Boland RU</td><td>8/1/2003</td><td>163.6</td><td>61.7</td><td>53.2</td><td><Br></td><td><Br></td><td>2.23</td><td>5.23</td><td>1.94</td></tr>
<td>Bradwell</td><td>Swartz</td><td>Green U16</td><td>Boland RU</td><td>11/5/2003</td><td>5</td><td>5</td><td>35</td><td><Br></td><td><Br></td><td>1.31</td><td><Br></td><td>0.1</td></tr>
<td>Matthew</td><td>Tayler-Smith</td><td>Green U16</td><td>EP RFU</td><td>8/9/2003</td><td>177</td><td>75.9</td><td>62</td><td><Br></td><td><Br></td><td>2.62</td><td>5.37</td><td>2.25</td></tr>
<td>Frederick</td><td>Viljoen</td><td>Green U16</td><td>Boland RU</td><td>8/1/2003</td><td>177.4</td><td>72.9</td><td>47</td><td><Br></td><td><Br></td><td>1.8</td><td>6.27</td><td>2.76</td></tr>
<td>Reino</td><td>Erasmus</td><td>SWD CC 2003</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Edrick</td><td>Fredericks</td><td>Springbok</td><td>Free State RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Dirk</td><td>Froneman</td><td>Green U19</td><td>Free State RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Dean</td><td>Hall</td><td>Springbok</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Eldon</td><td>Hess</td><td>Green U16</td><td>WP RFU</td><td>8/7/2003</td><td>168</td><td>62.2</td><td>37.6</td><td><Br></td><td><Br></td><td>1.63</td><td>3.82</td><td>2.67</td></tr>
<td>Johan</td><td>Heunis</td><td>Green U16</td><td>SWD RFU</td><td>8/11/2003</td><td>176</td><td>81</td><td>69.8</td><td><Br></td><td><Br></td><td>2.91</td><td>5.89</td><td>1.44</td></tr>
<td>Andrew</td><td>Irumba</td><td>Green U19</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Sakhiwo</td><td>Jaji</td><td>Green U19</td><td>Border RU</td><td>8/7/2003</td><td>167</td><td>61.5</td><td>43.2</td><td><Br></td><td><Br></td><td>1.95</td><td>5.64</td><td>2.65</td></tr>
<td>Whybro</td><td>Johnson</td><td>Green U19</td><td>Leopards RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Heinrich</td><td>Jordaan</td><td>SWD CC 2003</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Deon</td><td>Kayser</td><td>Springbok</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Luvuyo</td><td>Mhlobiso</td><td>Green U19</td><td>EP RFU</td><td>8/9/2003</td><td>180.2</td><td>87.7</td><td>62.2</td><td><Br></td><td><Br></td><td>2.66</td><td>5.95</td><td>1.16</td></tr>
<td>Jason</td><td>Mitchell</td><td>Green U19</td><td>WP RFU</td><td>8/7/2003</td><td>171.5</td><td>67.1</td><td>37</td><td><Br></td><td><Br></td><td>1.68</td><td>-4.38</td><td>2.54</td></tr>
<td>Luxolo</td><td>Nondwangu</td><td>Green U16</td><td>Border RU</td><td>8/7/2003</td><td>164</td><td>58.3</td><td>50</td><td><Br></td><td><Br></td><td>2.21</td><td>5.41</td><td>2.64</td></tr>
<td>Craig</td><td>Patrick</td><td>Green U16</td><td>Blue Bulls RU</td><td>8/5/2003</td><td>168</td><td>63.9</td><td>44.2</td><td><Br></td><td><Br></td><td>1.58</td><td>110.62</td><td>2.44</td></tr>
<td>Warren</td><td>Petersen</td><td>Boland CC 2003</td><td>Boland RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Anton</td><td>Pitout</td><td>Springbok</td><td>Free State RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Pieter</td><td>Rossouw</td><td>Springbok</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Sifundo</td><td>Show</td><td>Green U16</td><td>EP RFU</td><td>8/9/2003</td><td>171.7</td><td>72.38</td><td>84.6</td><td><Br></td><td><Br></td><td>4.54</td><td>5.46</td><td>1.83</td></tr>
<td>Pierre</td><td>Spies</td><td>Green U19</td><td>Blue Bulls RU</td><td>8/5/2003</td><td>1.92</td><td>99.2</td><td>54.4</td><td><Br></td><td><Br></td><td>2.18</td><td>145.97</td><td>0.1</td></tr>
<td>Rowan</td><td>Walters</td><td>Green U16</td><td>Griqualand West RU</td><td>8/4/2003</td><td>172.2</td><td>69.2</td><td>62.7</td><td><Br></td><td><Br></td><td>2.59</td><td>3.73</td><td>2.36</td></tr>
<td>Ashwin</td><td>Willemse</td><td>Springbok</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Beyers</td><td>Broodryk</td><td>Green U16</td><td>Leopards RU</td><td>11/3/2003</td><td>3</td><td>3</td><td>21</td><td><Br></td><td><Br></td><td>0.53</td><td><Br></td><td>0.1</td></tr>
<td>Beyers</td><td>Broodryk</td><td>Green U16</td><td>Leopards RU</td><td>8/5/2003</td><td>176.9</td><td>77.35</td><td>62.5</td><td><Br></td><td><Br></td><td>2.51</td><td>5.56</td><td>2.09</td></tr>
<td>Beyers</td><td>Broodryk</td><td>Green U16</td><td>Leopards RU</td><td>11/3/2003</td><td>3</td><td>3</td><td>21</td><td><Br></td><td><Br></td><td>0.53</td><td>9.43</td><td>0.1</td></tr>
<td>Beyers</td><td>Broodryk</td><td>Green U16</td><td>Leopards RU</td><td>11/3/2003</td><td>3</td><td>3</td><td>21</td><td><Br></td><td><Br></td><td>0.53</td><td><Br></td><td>0.1</td></tr>
<td>Inus</td><td>Carstens</td><td>Green U16</td><td>WP RFU</td><td>8/12/2003</td><td>168.2</td><td>76.8</td><td>53.4</td><td><Br></td><td><Br></td><td>1.88</td><td>7.09</td><td>0.74</td></tr>
<td>Noel</td><td>de Villiers</td><td>Green U19</td><td>EP RFU</td><td>8/9/2003</td><td>185</td><td>92</td><td>97</td><td><Br></td><td><Br></td><td>3.75</td><td>5.51</td><td>1.65</td></tr>
<td>Farrol</td><td>Domingo</td><td>Green U16</td><td>EP RFU</td><td>8/9/2003</td><td>177.5</td><td>69.78</td><td>42.2</td><td><Br></td><td><Br></td><td>1.92</td><td>4.1</td><td>3.24</td></tr>
<td>Dabeon</td><td>Draghoender</td><td>Green U16</td><td>Griffons RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Peter</td><td>Grant</td><td>Gold</td><td>WP RFU</td><td>8/12/2003</td><td>186.6</td><td>87.3</td><td>46</td><td><Br></td><td><Br></td><td>2.07</td><td>5.87</td><td>2.45</td></tr>
<td>Trevor</td><td>Halstead</td><td>Springbok</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Berwan</td><td>Haupt</td><td>Green U19</td><td>WP RFU</td><td>8/7/2003</td><td>176.3</td><td>66.2</td><td>58.6</td><td><Br></td><td><Br></td><td>2.89</td><td>3.95</td><td>3.56</td></tr>
<td>Alwyn</td><td>Hollenbach</td><td>Green U19</td><td>Free State RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Adrian</td><td>Jacobs</td><td>Springbok</td><td>Falcons RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Wayne</td><td>Julies</td><td>Springbok</td><td>Free State RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Cornelius</td><td>Minnie</td><td>Green U16</td><td>Blue Bulls RU</td><td>8/5/2003</td><td>1.67</td><td>72.7</td><td>62.8</td><td><Br></td><td><Br></td><td>2.3</td><td>137.06</td><td>0.1</td></tr>
<td>Earl</td><td>Rose</td><td>Gold</td><td>WP RFU</td><td>8/12/2003</td><td>178.6</td><td>73.4</td><td>49.6</td><td><Br></td><td><Br></td><td>2.18</td><td>4.16</td><td>2.9</td></tr>
<td>Ashwin</td><td>Scott</td><td>Green U19</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Joseph</td><td>Snyman</td><td>SWD CC 2003</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Siyabonga</td><td>Sono</td><td>Green U16</td><td>Border RU</td><td>8/7/2003</td><td>161</td><td>47</td><td>35</td><td><Br></td><td><Br></td><td>1.41</td><td>3.63</td><td>4.36</td></tr>
<td>Willem</td><td>Van Zyl</td><td>Boland CC 2003</td><td>Boland RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jacques</td><td>de Kock</td><td>Green U16</td><td>Griqualand West RU</td><td>8/4/2003</td><td>181</td><td>76.2</td><td>39.3</td><td><Br></td><td><Br></td><td>1.61</td><td>4.85</td><td>2.94</td></tr>
<td>Jean</td><td>de Villiers</td><td>Springbok</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Sylvester</td><td>Engelbrecht</td><td>Green U19</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Robert</td><td>Fleck</td><td>Springbok</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Mfana</td><td>Hlatshwayo</td><td>Green U16</td><td>Mpumalanga RU</td><td>8/5/2003</td><td>1.67</td><td>65.5</td><td>37.2</td><td><Br></td><td><Br></td><td>1.51</td><td>126.37</td><td>0.1</td></tr>
<td>Marius</td><td>Joubert</td><td>Springbok</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Ncedo</td><td>Koyana</td><td>Green U19</td><td>Border RU</td><td>8/7/2003</td><td>166</td><td>69.3</td><td>54.2</td><td><Br></td><td><Br></td><td>2.21</td><td>6.57</td><td>1.12</td></tr>
<td>Luyanda</td><td>Madiba</td><td>Green U19</td><td>Border RU</td><td>8/7/2003</td><td>169</td><td>71</td><td>56.4</td><td><Br></td><td><Br></td><td>2.95</td><td>6.55</td><td>1.57</td></tr>
<td>Kevin</td><td>Pikaan</td><td>SWD CC 2003</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Andries</td><td>Snyman</td><td>Springbok</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Pieter</td><td>Spaumer</td><td>Green U19</td><td>Blue Bulls RU</td><td>8/5/2003</td><td>177</td><td>90.5</td><td>53</td><td><Br></td><td><Br></td><td>2.46</td><td>118.28</td><td>0.66</td></tr>
<td>Dewey</td><td>Swartbooi</td><td>Gold</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Carel</td><td>Van Lill</td><td>Green U16</td><td>WP RFU</td><td>8/7/2003</td><td>178.7</td><td>86.1</td><td>63.8</td><td><Br></td><td><Br></td><td>3.17</td><td>6.05</td><td>1.13</td></tr>
<td>Elrich</td><td>van Vuuren</td><td>Green U19</td><td>EP RFU</td><td>8/9/2003</td><td>181.8</td><td>86.5</td><td>99.8</td><td><Br></td><td><Br></td><td>4.58</td><td>5.65</td><td>1.73</td></tr>
<td>Tiaan</td><td>Van Wyk</td><td>Green U16</td><td>Boland RU</td><td>8/1/2003</td><td>176.1</td><td>69.2</td><td>59</td><td><Br></td><td><Br></td><td>2.37</td><td>4.02</td><td>3.06</td></tr>
<td>Bertram</td><td>Willemse</td><td>Green U16</td><td>Boland RU</td><td>11/2/2003</td><td>2</td><td>2</td><td>14</td><td><Br></td><td><Br></td><td>0.13</td><td><Br></td><td>0.1</td></tr>
<td>Bertram</td><td>Willemse</td><td>Green U16</td><td>Boland RU</td><td>8/1/2003</td><td>180.5</td><td>76.5</td><td>53.2</td><td><Br></td><td><Br></td><td>2.53</td><td>4.59</td><td>2.78</td></tr>
<td>Bertram</td><td>Willemse</td><td>Green U16</td><td>Boland RU</td><td>11/2/2003</td><td>2</td><td>2</td><td>14</td><td><Br></td><td><Br></td><td>0.13</td><td>7.78</td><td>0.1</td></tr>
<td>Bertram</td><td>Willemse</td><td>Green U16</td><td>Boland RU</td><td>11/2/2003</td><td>2</td><td>2</td><td>14</td><td><Br></td><td><Br></td><td>0.13</td><td><Br></td><td>0.1</td></tr>
<td>Willem</td><td>Daries</td><td>Green U16</td><td>Boland RU</td><td>8/1/2003</td><td>160.4</td><td>66.7</td><td>48.8</td><td><Br></td><td><Br></td><td>2.04</td><td>5.73</td><td>0.7</td></tr>
<td>Danwill</td><td>Erasmus</td><td>Green U16</td><td>WP RFU</td><td>8/7/2003</td><td>177</td><td>71.2</td><td>59.8</td><td><Br></td><td><Br></td><td>2.73</td><td>0.83</td><td>2.91</td></tr>
<td>Jerome</td><td>Horn</td><td>Green U16</td><td>SWD RFU</td><td>8/11/2003</td><td>168</td><td>67.8</td><td>61.2</td><td><Br></td><td><Br></td><td>2.35</td><td>5.44</td><td>1.84</td></tr>
<td>Yandisa</td><td>Jaxa</td><td>Green U16</td><td>Border RU</td><td>8/7/2003</td><td>178</td><td>67.9</td><td>43</td><td><Br></td><td><Br></td><td>1.8</td><td>4.86</td><td>3.63</td></tr>
<td>Friedrich</td><td>Lombard</td><td>Springbok</td><td>Free State RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Booi</td><td>Malgas</td><td>Green U16</td><td>Griqualand West RU</td><td>8/4/2003</td><td>173.3</td><td>76.4</td><td>54.8</td><td><Br></td><td><Br></td><td>1.92</td><td>5.11</td><td>1.54</td></tr>
<td>Booi</td><td>Malgas</td><td>Green U16</td><td>Griqualand West RU</td><td>11/4/2003</td><td>4</td><td>4</td><td>28</td><td><Br></td><td><Br></td><td>0.93</td><td>11.07</td><td>0.1</td></tr>
<td>Booi</td><td>Malgas</td><td>Green U16</td><td>Griqualand West RU</td><td>11/4/2003</td><td>4</td><td>4</td><td>28</td><td><Br></td><td><Br></td><td>0.93</td><td><Br></td><td>0.1</td></tr>
<td>Ghaliel</td><td>Markus</td><td>Green U16</td><td>Golden Lions RU</td><td>8/5/2003</td><td>1.73</td><td>67.9</td><td>41.2</td><td><Br></td><td><Br></td><td>1.61</td><td>128.47</td><td>0.1</td></tr>
<td>Cedric</td><td>Mkhize</td><td>Green U19</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Lubabalo</td><td>Ntuntwana</td><td>Green U16</td><td>EP RFU</td><td>8/9/2003</td><td>172.8</td><td>68.54</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>2.55</td></tr>
<td>Quintin</td><td>Snyman</td><td>Green U19</td><td>Falcons RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Stefan</td><td>Terblanche</td><td>Springbok</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Wongama</td><td>Tom</td><td>Green U19</td><td>EP RFU</td><td>8/9/2003</td><td>176.4</td><td>71.38</td><td>45.4</td><td><Br></td><td><Br></td><td>1.95</td><td>4.04</td><td>2.81</td></tr>
<td>Jerome</td><td>Williams</td><td>Green U19</td><td>EP RFU</td><td>8/9/2003</td><td>168</td><td>69.9</td><td>61</td><td><Br></td><td><Br></td><td>2.64</td><td>5.42</td><td>1.54</td></tr>
<td>Marvin</td><td>Christians</td><td>Green U16</td><td>WP RFU</td><td>8/7/2003</td><td>183.5</td><td>80.4</td><td>55.6</td><td><Br></td><td><Br></td><td>2.46</td><td>1.39</td><td>2.79</td></tr>
<td>Marius</td><td>Delport</td><td>Green U19</td><td>Blue Bulls RU</td><td>8/5/2003</td><td>188</td><td>85</td><td>43</td><td><Br></td><td><Br></td><td>1.68</td><td>5.62</td><td>2.96</td></tr>
<td>Gerhardus</td><td>Delport</td><td>Springbok</td><td>Falcons RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jan</td><td>du Plessis</td><td>Green U19</td><td>WP RFU</td><td>8/7/2003</td><td>170.5</td><td>68.1</td><td>43.4</td><td><Br></td><td><Br></td><td>1.99</td><td>5.05</td><td>2.21</td></tr>
<td>Arnu</td><td>Fourie</td><td>Green U19</td><td>Free State RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Curlian</td><td>Genis</td><td>Green U19</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Byron</td><td>Godfrey</td><td>Green U16</td><td>Golden Lions RU</td><td>8/5/2003</td><td>173.5</td><td>71.7</td><td>38.4</td><td><Br></td><td><Br></td><td>1.61</td><td>114.95</td><td>2.22</td></tr>
<td>Werner</td><td>Greeff</td><td>Springbok</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Hayden</td><td>Groepes</td><td>Green U16</td><td>Boland RU</td><td>8/1/2003</td><td>176.7</td><td>69.8</td><td>39.6</td><td><Br></td><td><Br></td><td>1.73</td><td>4.82</td><td>3.09</td></tr>
<td>Conrad</td><td>Jantjes</td><td>Springbok</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Ricardo</td><td>Loubscher</td><td>Springbok</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Rickus</td><td>Meintjies</td><td>Green U16</td><td>EP RFU</td><td>8/9/2003</td><td>173</td><td>73.5</td><td>84.6</td><td><Br></td><td><Br></td><td>4.2</td><td>4.84</td><td>1.92</td></tr>
<td>Christopher</td><td>Micklewood</td><td>Green U16</td><td>Natal RU</td><td>8/6/2003</td><td>183</td><td>76.8</td><td>53</td><td><Br></td><td><Br></td><td>2.33</td><td>107.8</td><td>3.21</td></tr>
<td>Johann</td><td>Myburgh</td><td>Green U16</td><td>Border RU</td><td>8/7/2003</td><td>186</td><td>80.9</td><td>46.6</td><td><Br></td><td><Br></td><td>1.97</td><td>5.13</td><td>3.14</td></tr>
<td>Brent</td><td>Russell</td><td>Springbok</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Edward</td><td>Squires</td><td>Green U19</td><td>Natal RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Justin</td><td>St Jerry</td><td>Green U16</td><td>Golden Lions RU</td><td>8/5/2003</td><td>1.76</td><td>77.2</td><td>54.8</td><td><Br></td><td><Br></td><td>2.04</td><td>135.78</td><td>0.1</td></tr>
<td>Jacobus</td><td>van der Westhuyzen</td><td>Springbok</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Antonius</td><td>Verhoeven</td><td>Boland CC 2003</td><td>Boland RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Mawande</td><td>Zenzile</td><td>Green U19</td><td>Border RU</td><td>8/7/2003</td><td>166</td><td>73.5</td><td>69.8</td><td><Br></td><td><Br></td><td>2.75</td><td>7.04</td><td>0.76</td></tr>
<td>Nicolaas</td><td>Zoutman</td><td>SWD CC 2003</td><td>SWD RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<tr><td style='background-color:#CFDAE2; text-align:right' class=cellhere colspan='14'>325 Records</td></tr></table></td></tr></table><br>
