<table align='center' id='ReportMain' name='ReportMain' cellspacing=0 style='BORDER-BOTTOM: 1px solid;BORDER-RIGHT: 1px solid;position:relative;top:-10px;left:-5px;width:90%'><tr><td><Table cellpadding=4 cellspacing=0 border=0 bordercolor=#999999 style='BORDER-BOTTOM: 1px solid;BORDER-RIGHT: 1px solid;width:100%'><tr id='Headers' name='Headers'><td style='padding:0' colspan=14><table cellpadding='0' cellspacing='0' border='0' style='width:100%;padding:3 0 3 0;'><tr><th id='ReportName' name='ReportName' class=cellhere2 style='text-align:left'>&nbsp;&nbsp;Anthropometry for  - 2004/05/18</th></tr></table></td></tr><tr><th>FirstName</th><th>Surname</th><th>Position</th><th>RugbyUnion</th><th>Anthropometry Test Date</th><th>Height</th><th>Weight</th><th>Sum Seven Skin Folds</th><th>% Muscle</th><th>% Body Fat</th><th>Endomorphy</th><th>Mesomorphy</th><th>Ectomorphy</th></tr><tr><td style='background-color:#CFDAE2; text-align:left' colspan='14'><b>Green U16</b></td></tr><td>Yuseph</td><td>Abrahams</td><td>Scrum-half</td><td>EP RFU</td><td>2003/08/18</td><td>150.3</td><td>45.2</td><td>36.3</td><td>55.33</td><td>12.53</td><td>1.4</td><td>4.67</td><td>2.53</td></tr>
<td>Yuseph</td><td>Abrahams</td><td>Scrum-half</td><td>EP RFU</td><td>2004/02/12</td><td>154.8</td><td>46.2</td><td>42.4</td><td>60.65</td><td>15.21</td><td>1.92</td><td>5.25</td><td>3.27</td></tr>
<td>Llewellyn</td><td>Adonis</td><td>Fullback</td><td>WP RFU</td><td>2004/02/12</td><td>172.5</td><td>64.9</td><td>53.8</td><td>63.47</td><td>11.85</td><td>2.16</td><td>3.25</td><td>3.11</td></tr>
<td>Johannes</td><td>Barnard</td><td>Loosehead prop</td><td>Griffons RU</td><td>2003/08/18</td><td>176.5</td><td>91.1</td><td>103.6</td><td>62.14</td><td>19.21</td><td>4.38</td><td>7.26</td><td>0.57</td></tr>
<td>Gideon</td><td>Basson</td><td>Hooker</td><td>WP RFU</td><td>2003/08/12</td><td>173.8</td><td>91.5</td><td>95.6</td><td>59.1</td><td>19.73</td><td>4.76</td><td>6.12</td><td>0.25</td></tr>
<td>Ibrahim</td><td>Bligenhoudt</td><td>No 8</td><td>Mpumalanga RU</td><td>2003/08/05</td><td>181</td><td>69.7</td><td>43.6</td><td>67.88</td><td>9.76</td><td>1.68</td><td>4.14</td><td>3.86</td></tr>
<td>Ludwe</td><td>Booi</td><td>Hooker</td><td>Blue Bulls RU</td><td>2003/08/05</td><td>169</td><td>74</td><td>60.2</td><td>68.7</td><td>13.83</td><td>2.82</td><td>6.6</td><td>1.04</td></tr>
<td>Ludwe</td><td>Booi</td><td>Hooker</td><td>Blue Bulls RU</td><td>2004/02/16</td><td>173</td><td>74</td><td>68</td><td>66.65</td><td>16.22</td><td>3.48</td><td><Br></td><td>1.84</td></tr>
<td>Franco</td><td>Booysen</td><td>Outside centre</td><td>Falcons RU</td><td>2004/02/16</td><td>177</td><td>75.7</td><td>56.8</td><td>54.15</td><td>12.88</td><td>2.33</td><td>5.73</td><td>2.32</td></tr>
<td>Ruan</td><td>Boshoff</td><td>Fly-half</td><td>Mpumalanga RU</td><td>2003/08/05</td><td>174</td><td>72</td><td>66.6</td><td><Br></td><td>12.42</td><td>2.37</td><td>5.16</td><td>2.31</td></tr>
<td>Beyers</td><td>Broodryk</td><td>Inside centre</td><td>Leopards RU</td><td>2004/02/16</td><td>177</td><td>82.5</td><td>63.4</td><td><Br></td><td>14.44</td><td>2.75</td><td>5.61</td><td>1.21</td></tr>
<td>Divan</td><td>Burger</td><td>Second-row or Lock</td><td>Golden Lions RU</td><td>2003/08/05</td><td>193</td><td>86.8</td><td>56.2</td><td>69.07</td><td>14.03</td><td>2.82</td><td>4.69</td><td>3.59</td></tr>
<td>Divan</td><td>Burger</td><td>Second-row or Lock</td><td>Golden Lions RU</td><td>2004/02/16</td><td>198</td><td>88.7</td><td>78</td><td>53.59</td><td>16.77</td><td>3.69</td><td><Br></td><td>4.19</td></tr>
<td>Inus</td><td>Carstens</td><td>Inside centre</td><td>WP RFU</td><td>2003/08/12</td><td>168.2</td><td>76.8</td><td>53.4</td><td>61.03</td><td>10.99</td><td>1.88</td><td>7.09</td><td>0.74</td></tr>
<td>Tatenda</td><td>Chidzawo</td><td>Second-row or Lock</td><td>KZN RU</td><td>2003/08/06</td><td>183.5</td><td>95.8</td><td>136.5</td><td>58.49</td><td>23.36</td><td>6.15</td><td>6.31</td><td>0.96</td></tr>
<td>Tatenda</td><td>Chidzawo</td><td>Second-row or Lock</td><td>KZN RU</td><td>2004/02/26</td><td>185</td><td>104</td><td>138</td><td>60.58</td><td>23.13</td><td>6.07</td><td><Br></td><td>0.59</td></tr>
<td>Marvin</td><td>Christians</td><td>Fullback</td><td>WP RFU</td><td>2004/02/12</td><td>184.2</td><td>86.8</td><td>67.4</td><td>66.85</td><td>15.51</td><td>3.15</td><td>6.36</td><td>2.12</td></tr>
<td>Louis</td><td>Coetzee</td><td>Tighthead prop</td><td>Leopards RU</td><td>2004/02/16</td><td>184</td><td>97</td><td>96.2</td><td>54.91</td><td>18.58</td><td>4.19</td><td>6.59</td><td>0.93</td></tr>
<td>Jaco</td><td>Colyn</td><td>Scrum-half</td><td>SWD RFU</td><td>2003/08/11</td><td>171</td><td>66.5</td><td>87</td><td>45.89</td><td>21.46</td><td>1.95</td><td>5.65</td><td>2.53</td></tr>
<td>Jaco</td><td>Colyn</td><td>Scrum-half</td><td>SWD RFU</td><td>2004/02/17</td><td>169.5</td><td>65</td><td>55.3</td><td>60.36</td><td>11.21</td><td>2.01</td><td><Br></td><td>2.48</td></tr>
<td>Daniel</td><td>Crous</td><td>Blindside flanker</td><td>Free State RU</td><td>2004/02/09</td><td>177.3</td><td>83.8</td><td>50</td><td>64.5</td><td>11.6</td><td>2.19</td><td>6.38</td><td>1.15</td></tr>
<td>Willem</td><td>Daries</td><td>Right wing</td><td>Boland RU</td><td>2004/02/12</td><td>161.1</td><td>60.8</td><td>52.8</td><td>59.48</td><td>12.45</td><td>2.35</td><td><Br></td><td>1.62</td></tr>
<td>Zander</td><td>de Kock</td><td>Tighthead prop</td><td>Falcons RU</td><td>2004/02/16</td><td>180</td><td>110.8</td><td>130.2</td><td>56.91</td><td>21.46</td><td>5.2</td><td>9.18</td><td>0.1</td></tr>
<td>Jacques</td><td>de Kock</td><td>Outside centre</td><td>Griqualand West RU</td><td>2003/08/04</td><td>181</td><td>76.2</td><td>39.3</td><td>61.28</td><td>9.36</td><td>1.61</td><td>4.85</td><td>2.94</td></tr>
<td>Shaun</td><td>de Vos</td><td>Scrum-half</td><td>Leopards RU</td><td>2004/02/16</td><td>175</td><td>68</td><td>60.7</td><td>57.9</td><td>13.1</td><td>2.56</td><td>4.09</td><td>3.02</td></tr>
<td>Farrol</td><td>Domingo</td><td>Inside centre</td><td>EP RFU</td><td>2003/08/09</td><td>177.5</td><td>69.78</td><td>42.2</td><td>56.88</td><td>10.44</td><td>1.92</td><td>4.1</td><td>3.24</td></tr>
<td>Dabeon</td><td>Draghoender</td><td>Inside centre</td><td>Griffons RU</td><td>2004/02/09</td><td>169.9</td><td>72.4</td><td>57.9</td><td>62.64</td><td>12.69</td><td>2.38</td><td>5.77</td><td>1.51</td></tr>
<td>Rikus</td><td>du Bruyn</td><td>Hooker</td><td>Golden Lions RU</td><td>2003/08/05</td><td>173</td><td>80.5</td><td>90.4</td><td>67.72</td><td>16.39</td><td>3.63</td><td>7.19</td><td>0.95</td></tr>
<td>Rikus</td><td>du Bruyn</td><td>Hooker</td><td>Golden Lions RU</td><td>2004/02/16</td><td>177</td><td>84.2</td><td>93.2</td><td>58.2</td><td>18.34</td><td>4.39</td><td><Br></td><td>1.08</td></tr>
<td>Riacco</td><td>Eilerd</td><td>Loosehead prop</td><td>Griqualand West RU</td><td>2004/02/09</td><td>182.2</td><td>87.3</td><td>93</td><td>60.46</td><td>17.78</td><td>4.11</td><td>5.63</td><td>1.73</td></tr>
<td>Riacco</td><td>Eilerd</td><td>Loosehead prop</td><td>Griqualand West RU</td><td>2003/08/04</td><td>182.3</td><td>88.4</td><td>92.9</td><td>64.27</td><td>16.33</td><td>3.59</td><td>4.86</td><td>1.61</td></tr>
<td>Julian</td><td>Erasmus</td><td>No 8</td><td>Blue Bulls RU</td><td>2003/08/05</td><td>175</td><td>82.7</td><td>88.4</td><td>66.66</td><td>18.01</td><td>4.11</td><td>6.3</td><td>1</td></tr>
<td>Danwill</td><td>Erasmus</td><td>Right wing</td><td>WP RFU</td><td>2004/02/12</td><td>177.6</td><td>68.3</td><td>58.8</td><td>63.29</td><td>13.25</td><td>2.55</td><td>5.72</td><td>3.48</td></tr>
<td>Julian</td><td>Erasmus</td><td>No 8</td><td>Blue Bulls RU</td><td>2004/02/16</td><td>179</td><td>85</td><td>85.4</td><td>55.49</td><td>17.3</td><td>3.79</td><td><Br></td><td>1.46</td></tr>
<td>Jobrey</td><td>Fortuin</td><td>Left wing</td><td>Boland RU</td><td>2003/08/01</td><td>170.4</td><td>63.5</td><td>47.2</td><td>65.82</td><td>13.83</td><td>2.78</td><td>4.86</td><td>2.96</td></tr>
<td>Jobrey</td><td>Fortuin</td><td>Left wing</td><td>Boland RU</td><td>2004/02/12</td><td>171.5</td><td>65.3</td><td>72.6</td><td>64.9</td><td>15.99</td><td>3.44</td><td><Br></td><td>2.85</td></tr>
<td>Kirwan</td><td>Frieslaar</td><td>Openside flanker</td><td>EP RFU</td><td>2004/02/12</td><td>179</td><td>87.3</td><td>69.2</td><td>65.86</td><td>15.39</td><td>3.27</td><td>6.22</td><td>1.08</td></tr>
<td>Kirwan</td><td>Frieslaar</td><td>Openside flanker</td><td>EP RFU</td><td>2003/08/09</td><td>178.4</td><td>85.27</td><td>73</td><td>67.13</td><td>17.71</td><td>4.09</td><td>3.51</td><td>1.19</td></tr>
<td>Byron</td><td>Godfrey</td><td>Fullback</td><td>Golden Lions RU</td><td>2003/08/05</td><td>173.5</td><td>71.7</td><td>38.4</td><td>65.86</td><td>9.46</td><td>1.61</td><td>6.11</td><td>2.22</td></tr>
<td>Byron</td><td>Godfrey</td><td>Fullback</td><td>Golden Lions RU</td><td>2004/02/16</td><td>179</td><td>74.3</td><td>51.8</td><td>60.74</td><td>12.49</td><td>2.16</td><td><Br></td><td>2.82</td></tr>
<td>Lazola</td><td>Gonya</td><td>Openside flanker</td><td>WP RFU</td><td>2004/02/12</td><td>180.2</td><td>65.2</td><td>37.1</td><td>62.33</td><td>8.93</td><td>1.48</td><td>4.85</td><td>4.44</td></tr>
<td>Jarryd</td><td>Greyvenstein</td><td>Second-row or Lock</td><td>Border RU</td><td>2003/08/07</td><td>193</td><td>89.3</td><td>96.6</td><td>68.15</td><td>17.66</td><td>3.81</td><td>4.16</td><td>3.29</td></tr>
<td>Jarryd</td><td>Greyvenstein</td><td>Second-row or Lock</td><td>Border RU</td><td>2004/02/13</td><td>196</td><td>88</td><td>88</td><td>70.26</td><td>15.33</td><td>3.06</td><td><Br></td><td>3.93</td></tr>
<td>Ivan</td><td>Grobler</td><td>No 8</td><td>Golden Lions RU</td><td>2003/08/05</td><td>178</td><td>87.5</td><td>72</td><td>68.98</td><td>14.44</td><td>3.06</td><td>6.97</td><td>0.97</td></tr>
<td>Ivan</td><td>Grobler</td><td>No 8</td><td>Golden Lions RU</td><td>2004/02/16</td><td>182</td><td>82.6</td><td>68.4</td><td>62.26</td><td>14.5</td><td>3.06</td><td><Br></td><td>2.25</td></tr>
<td>Hayden</td><td>Groepes</td><td>Fullback</td><td>Boland RU</td><td>2004/02/12</td><td>178.3</td><td>73</td><td>43.4</td><td>63.26</td><td>10.67</td><td>1.92</td><td><Br></td><td>2.92</td></tr>
<td>Hayden</td><td>Groepes</td><td>Fullback</td><td>Boland RU</td><td>2003/08/01</td><td>176.7</td><td>69.8</td><td>39.6</td><td>63.36</td><td>9.96</td><td>1.73</td><td>4.82</td><td>3.09</td></tr>
<td>Lubabalo</td><td>Gwavu</td><td>Second-row or Lock</td><td>EP RFU</td><td>2003/08/09</td><td>183</td><td>89.6</td><td>74.4</td><td>65.89</td><td>15.02</td><td>3.04</td><td>6.27</td><td>1.59</td></tr>
<td>Eldon</td><td>Hess</td><td>Left wing</td><td>WP RFU</td><td>2004/02/12</td><td>169</td><td>59.7</td><td>42.6</td><td>61.54</td><td>10.53</td><td>1.88</td><td>3.67</td><td>3.34</td></tr>
<td>Johan</td><td>Heunis</td><td>Left wing</td><td>SWD RFU</td><td>2003/08/11</td><td>176</td><td>81</td><td>69.8</td><td>61.8</td><td>14.44</td><td>2.91</td><td>5.89</td><td>1.44</td></tr>
<td>Johan</td><td>Heunis</td><td>Left wing</td><td>SWD RFU</td><td>2004/02/17</td><td>175.3</td><td>83.4</td><td>89</td><td>61.6</td><td>17.22</td><td>3.66</td><td><Br></td><td>0.99</td></tr>
<td>Mfana</td><td>Hlatshwayo</td><td>Outside centre</td><td>Mpumalanga RU</td><td>2003/08/05</td><td>167</td><td>65.5</td><td>37.2</td><td>73.28</td><td>8.61</td><td>1.51</td><td>5.53</td><td>1.95</td></tr>
<td>Conrad</td><td>Hoffmann</td><td>Scrum-half</td><td>WP RFU</td><td>2004/02/12</td><td>177.1</td><td>67.4</td><td>47.2</td><td>62.06</td><td>9.66</td><td>1.71</td><td>3.45</td><td>3.55</td></tr>
<td>Rufus</td><td>Holtzhausen</td><td>No 8</td><td>Leopards RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Rufus</td><td>Holtzhausen</td><td>No 8</td><td>Leopards RU</td><td>2004/02/16</td><td>186</td><td>91</td><td>77</td><td>54.41</td><td>15.84</td><td>3.32</td><td>4.49</td><td>1.95</td></tr>
<td>Jerome</td><td>Horn</td><td>Right wing</td><td>SWD RFU</td><td>2003/08/11</td><td>168</td><td>67.8</td><td>61.2</td><td>60.1</td><td>17.19</td><td>2.35</td><td>5.44</td><td>1.84</td></tr>
<td>Johannes</td><td>Janse van Rensburg</td><td>Blindside flanker</td><td>Golden Lions RU</td><td>2003/08/05</td><td>173</td><td>78</td><td>72.4</td><td>67.29</td><td>15.57</td><td>3.3</td><td>6.49</td><td>1.13</td></tr>
<td>Johannes</td><td>Janse van Rensburg</td><td>Blindside flanker</td><td>Golden Lions RU</td><td>2004/02/16</td><td>176</td><td>77</td><td>57</td><td>31.44</td><td>11.34</td><td>2.04</td><td><Br></td><td>1.93</td></tr>
<td>Yandisa</td><td>Jaxa</td><td>Right wing</td><td>Border RU</td><td>2004/02/13</td><td>181</td><td>68</td><td>45.4</td><td>64.29</td><td>10.62</td><td>1.97</td><td><Br></td><td>4.09</td></tr>
<td>Yandisa</td><td>Jaxa</td><td>Right wing</td><td>Border RU</td><td>2003/08/07</td><td>178</td><td>67.9</td><td>43</td><td>70.68</td><td>9.96</td><td>1.8</td><td>4.86</td><td>3.63</td></tr>
<td>Friedrich</td><td>Kamffer</td><td>Openside flanker</td><td>Free State RU</td><td>2004/02/09</td><td>182.5</td><td>95.8</td><td>115.4</td><td>60.13</td><td>19.77</td><td>4.71</td><td>6.38</td><td>0.86</td></tr>
<td>Hendrik</td><td>Kilian</td><td>Second-row or Lock</td><td>Leopards RU</td><td>2004/02/16</td><td>186</td><td>88.2</td><td>53.1</td><td>64.94</td><td>11.25</td><td>1.99</td><td>6.64</td><td>2.28</td></tr>
<td>Divan</td><td>Kotze</td><td>Fly-half</td><td>Blue Bulls RU</td><td>2004/02/16</td><td>179</td><td>75</td><td>50.9</td><td>61.88</td><td>15.98</td><td>2.22</td><td><Br></td><td>2.74</td></tr>
<td>Johann</td><td>Kritzinger</td><td>Tighthead prop</td><td>WP RFU</td><td>2004/02/12</td><td>183</td><td>115</td><td>106.2</td><td>63.84</td><td>19.69</td><td>4.58</td><td>7.55</td><td>0.1</td></tr>
<td>Gert</td><td>Kroukamp</td><td>Openside flanker</td><td>WP RFU</td><td>2004/02/12</td><td>181</td><td>83.1</td><td>59.6</td><td>64.11</td><td>15.14</td><td>3.02</td><td>6.65</td><td>2.01</td></tr>
<td>Thato</td><td>Lebitsa</td><td>Loosehead prop</td><td>KZN RU</td><td>2003/08/06</td><td>175</td><td>86.6</td><td>149</td><td>57.27</td><td>23.75</td><td>6.22</td><td>6.44</td><td>0.7</td></tr>
<td>Thato</td><td>Lebitsa</td><td>Loosehead prop</td><td>KZN RU</td><td>2004/02/26</td><td>174</td><td>90.2</td><td>114</td><td>59.83</td><td>21.78</td><td>5.52</td><td><Br></td><td>0.35</td></tr>
<td>Marlon</td><td>Lewis</td><td>Scrum-half</td><td>EP RFU</td><td>2003/08/09</td><td>160</td><td>61.5</td><td>48.2</td><td>61.88</td><td>12.01</td><td>2.3</td><td>5.61</td><td>1.17</td></tr>
<td>Marlon</td><td>Lewis</td><td>Scrum-half</td><td>EP RFU</td><td>2004/02/12</td><td>161</td><td>63.4</td><td>50.8</td><td>61.41</td><td>12.18</td><td>2.37</td><td>6.17</td><td>1.1</td></tr>
<td>Thamzamile</td><td>Majola</td><td>Fly-half</td><td>Golden Lions RU</td><td>2003/08/05</td><td>168</td><td>70</td><td>74.4</td><td>66.51</td><td>15.21</td><td>3.1</td><td>5.64</td><td>1.47</td></tr>
<td>Thamzamile</td><td>Majola</td><td>Fly-half</td><td>Golden Lions RU</td><td>2004/02/16</td><td>171</td><td>70.9</td><td>71.6</td><td>58.36</td><td>15.81</td><td>3.27</td><td><Br></td><td>1.92</td></tr>
<td>Booi</td><td>Malgas</td><td>Right wing</td><td>Griqualand West RU</td><td>2004/02/09</td><td>175.2</td><td>76.5</td><td>72.7</td><td>62.95</td><td>13.83</td><td>2.66</td><td>5.74</td><td>1.87</td></tr>
<td>Booi</td><td>Malgas</td><td>Right wing</td><td>Griqualand West RU</td><td>2003/08/04</td><td>173.3</td><td>76.4</td><td>54.8</td><td>57.7</td><td>10.81</td><td>1.92</td><td>5.11</td><td>1.54</td></tr>
<td>Ghaliel</td><td>Markus</td><td>Right wing</td><td>Golden Lions RU</td><td>2003/08/05</td><td>173</td><td>67.9</td><td>41.2</td><td>78.9</td><td>9.15</td><td>1.61</td><td>4.69</td><td>2.74</td></tr>
<td>Ghaliel</td><td>Markus</td><td>Right wing</td><td>Golden Lions RU</td><td>2004/02/16</td><td>179</td><td>70.8</td><td>48.5</td><td>58.7</td><td>11.38</td><td>2.05</td><td><Br></td><td>3.34</td></tr>
<td>Justin</td><td>Meanwell</td><td>Hooker</td><td>KZN RU</td><td>2004/02/26</td><td>179</td><td>84.4</td><td>76</td><td>58.83</td><td>15.33</td><td>3.17</td><td><Br></td><td>1.54</td></tr>
<td>Justin</td><td>Meanwell</td><td>Hooker</td><td>KZN RU</td><td>2003/08/06</td><td>178.5</td><td>80.6</td><td>97</td><td>57.52</td><td>18.99</td><td>4.47</td><td>5.51</td><td>1.94</td></tr>
<td>Rickus</td><td>Meintjies</td><td>Fullback</td><td>EP RFU</td><td>2003/08/09</td><td>173</td><td>73.5</td><td>84.6</td><td>58.74</td><td>18.15</td><td>4.2</td><td>4.84</td><td>1.92</td></tr>
<td>Rickus</td><td>Meintjies</td><td>Fullback</td><td>EP RFU</td><td>2004/02/12</td><td>174</td><td>75.4</td><td>99.8</td><td>75.59</td><td>18.94</td><td>4.51</td><td>5.94</td><td>1.8</td></tr>
<td>Christopher</td><td>Micklewood</td><td>Fullback</td><td>KZN RU</td><td>2003/08/06</td><td>183</td><td>76.8</td><td>53</td><td>60.51</td><td>11.97</td><td>2.33</td><td>3.6</td><td>3.21</td></tr>
<td>Christopher</td><td>Micklewood</td><td>Fullback</td><td>KZN RU</td><td>2004/02/26</td><td>183</td><td>79</td><td>48</td><td>58.63</td><td>11.77</td><td>2.28</td><td><Br></td><td>2.92</td></tr>
<td>Cornelius</td><td>Minnie</td><td>Inside centre</td><td>Blue Bulls RU</td><td>2004/02/16</td><td>171</td><td>73</td><td>59</td><td>42.5</td><td>12.96</td><td>2.39</td><td><Br></td><td>1.64</td></tr>
<td>Cornelius</td><td>Minnie</td><td>Inside centre</td><td>Blue Bulls RU</td><td>2003/08/05</td><td>167</td><td>72.7</td><td>62.8</td><td>64.58</td><td>12.65</td><td>2.3</td><td>6.87</td><td>0.91</td></tr>
<td>Preston</td><td>Mommsen</td><td>Fly-half</td><td>KZN RU</td><td>2003/08/06</td><td>175</td><td>64.4</td><td>70</td><td>59.4</td><td>15.93</td><td>3.38</td><td>4.01</td><td>3.65</td></tr>
<td>Johann</td><td>Myburgh</td><td>Fullback</td><td>Border RU</td><td>2004/02/13</td><td>188</td><td>82</td><td>55</td><td>68.3</td><td>11.77</td><td>2.16</td><td><Br></td><td>3.33</td></tr>
<td>Johann</td><td>Myburgh</td><td>Fullback</td><td>Border RU</td><td>2003/08/07</td><td>186</td><td>80.9</td><td>46.6</td><td>73.29</td><td>10.99</td><td>1.97</td><td>5.13</td><td>3.14</td></tr>
<td>Eric</td><td>Ngoie</td><td>Openside flanker</td><td>KZN RU</td><td>2003/08/06</td><td>184</td><td>79.4</td><td>82</td><td>58.05</td><td>16.77</td><td>3.79</td><td>4.49</td><td>3.02</td></tr>
<td>Eric</td><td>Ngoie</td><td>Openside flanker</td><td>KZN RU</td><td>2004/02/26</td><td>184</td><td>83.7</td><td>69</td><td>59.99</td><td>14.7</td><td>3.06</td><td><Br></td><td>2.44</td></tr>
<td>Malungisa</td><td>Nkosi</td><td>Second-row or Lock</td><td>Golden Lions RU</td><td>2004/02/16</td><td>188</td><td>91</td><td>60</td><td>65.15</td><td>12.18</td><td>2.18</td><td><Br></td><td>2.27</td></tr>
<td>Malungisa</td><td>Nkosi</td><td>Second-row or Lock</td><td>Golden Lions RU</td><td>2003/08/05</td><td>183</td><td>86.2</td><td>49.2</td><td>70.86</td><td>11.34</td><td>2.04</td><td>5.9</td><td>2</td></tr>
<td>Luxolo</td><td>Nondwangu</td><td>Left wing</td><td>Border RU</td><td>2004/02/13</td><td>166</td><td>60</td><td>59.2</td><td>69.3</td><td>14.1</td><td>2.64</td><td><Br></td><td>2.7</td></tr>
<td>Luxolo</td><td>Nondwangu</td><td>Left wing</td><td>Border RU</td><td>2003/08/07</td><td>164</td><td>58.3</td><td>50</td><td>54.67</td><td>12.34</td><td>2.21</td><td>5.41</td><td>2.64</td></tr>
<td>Lubabalo</td><td>Ntuntwana</td><td>Right wing</td><td>EP RFU</td><td>2003/08/09</td><td>172.8</td><td>68.54</td><td><Br></td><td>70.89</td><td><Br></td><td><Br></td><td><Br></td><td>2.55</td></tr>
<td>Lubabalo</td><td>Ntuntwana</td><td>Right wing</td><td>EP RFU</td><td>2004/02/12</td><td>173.1</td><td>71.6</td><td>109.4</td><td>68.33</td><td>20.62</td><td>5.12</td><td>5.67</td><td>2.15</td></tr>
<td>Craig</td><td>Patrick</td><td>Left wing</td><td>Blue Bulls RU</td><td>2003/08/05</td><td>168</td><td>63.9</td><td>44.2</td><td>69.34</td><td>9.25</td><td>1.58</td><td>5.64</td><td>2.44</td></tr>
<td>Craig</td><td>Patrick</td><td>Left wing</td><td>Blue Bulls RU</td><td>2004/02/16</td><td>171</td><td>65</td><td>42</td><td>64.39</td><td>8.93</td><td>1.56</td><td><Br></td><td>2.76</td></tr>
<td>Grant</td><td>Paulse</td><td>Scrum-half</td><td>Griffons RU</td><td>2003/08/01</td><td>161.7</td><td>56.3</td><td>44.4</td><td>66.04</td><td>10.62</td><td>1.8</td><td>5.66</td><td>2.53</td></tr>
<td>Morne</td><td>Pereira</td><td>Hooker</td><td>Boland RU</td><td>2003/08/01</td><td>170.5</td><td>71.1</td><td>57.6</td><td>61.95</td><td>13.61</td><td>2.66</td><td>5.96</td><td>1.76</td></tr>
<td>Morne</td><td>Pereira</td><td>Hooker</td><td>Boland RU</td><td>2004/02/12</td><td>175</td><td>71.6</td><td>63.3</td><td>62.4</td><td>14.34</td><td>2.83</td><td><Br></td><td>2.49</td></tr>
<td>Coenraad</td><td>Pieterse</td><td>No 8</td><td>Free State RU</td><td>2004/02/09</td><td>180.4</td><td>77.3</td><td>60.1</td><td>65.15</td><td>14.44</td><td>2.84</td><td>4.42</td><td>2.69</td></tr>
<td>Dewald</td><td>Potgieter</td><td>Blindside flanker</td><td>EP RFU</td><td>2003/08/09</td><td>188.6</td><td>78.4</td><td>60</td><td>64.83</td><td>14.44</td><td>2.91</td><td>3.94</td><td>3.95</td></tr>
<td>Glen</td><td>Poulton</td><td>Blindside flanker</td><td>Griqualand West RU</td><td>2003/08/04</td><td>179.7</td><td>83.8</td><td>55.2</td><td>62.35</td><td>13.22</td><td>2.61</td><td>4.43</td><td>1.72</td></tr>
<td>Glen</td><td>Poulton</td><td>Blindside flanker</td><td>Griqualand West RU</td><td>2004/02/09</td><td>179.2</td><td>85.6</td><td>63.1</td><td>60.44</td><td>14.27</td><td>2.91</td><td>5.97</td><td>1.23</td></tr>
<td>Michael</td><td>Rhodes</td><td>Second-row or Lock</td><td>KZN RU</td><td>2004/02/26</td><td>195</td><td>104</td><td>109</td><td>64.19</td><td>19.65</td><td>4.74</td><td><Br></td><td>1.99</td></tr>
<td>Michael</td><td>Rhodes</td><td>Second-row or Lock</td><td>KZN RU</td><td>2003/08/06</td><td>195</td><td>101.8</td><td>120</td><td>59.42</td><td>21.42</td><td>5.27</td><td>5.98</td><td>2.25</td></tr>
<td>Johnny</td><td>Schoeman</td><td>No 8</td><td>Griffons RU</td><td>2004/02/09</td><td>188</td><td>73.9</td><td>47.1</td><td>57.4</td><td>10.3</td><td>1.79</td><td>4.36</td><td>4.46</td></tr>
<td>Ramano</td><td>Sebia</td><td>Hooker</td><td>Griffons RU</td><td>2003/08/04</td><td>175.5</td><td>79.8</td><td>82.5</td><td>60.44</td><td>17.04</td><td>3.67</td><td>6.57</td><td>1.49</td></tr>
<td>Sifundo</td><td>Show</td><td>Left wing</td><td>EP RFU</td><td>2003/08/09</td><td>171.7</td><td>72.38</td><td>84.6</td><td>65.85</td><td>18.99</td><td>4.54</td><td>5.46</td><td>1.83</td></tr>
<td>Lefa</td><td>Silo</td><td>Second-row or Lock</td><td>Griffons RU</td><td>2003/08/04</td><td>177.6</td><td>68.6</td><td>47.3</td><td>55.21</td><td>10.76</td><td>1.85</td><td>3.76</td><td>3.4</td></tr>
<td>Andre</td><td>Smith</td><td>Fly-half</td><td>WP RFU</td><td>2004/02/12</td><td>170</td><td>65.2</td><td>50.4</td><td>66.7</td><td>13.18</td><td>2.48</td><td>3.82</td><td>2.58</td></tr>
<td>Siyabonga</td><td>Sono</td><td>Inside centre</td><td>Border RU</td><td>2004/02/13</td><td>164</td><td>50</td><td>38.6</td><td>48.96</td><td>13.71</td><td>1.68</td><td><Br></td><td>4.25</td></tr>
<td>Siyabonga</td><td>Sono</td><td>Inside centre</td><td>Border RU</td><td>2003/08/07</td><td>161</td><td>47</td><td>35</td><td>60.19</td><td>12.36</td><td>1.41</td><td>3.63</td><td>4.36</td></tr>
<td>Justin</td><td>St Jerry</td><td>Fullback</td><td>Golden Lions RU</td><td>2003/08/05</td><td>176</td><td>77.2</td><td>54.8</td><td>63.89</td><td>11.08</td><td>2.04</td><td>5.66</td><td>1.93</td></tr>
<td>Justin</td><td>St Jerry</td><td>Fullback</td><td>Golden Lions RU</td><td>2004/02/16</td><td>180</td><td>77.1</td><td>56</td><td>65.38</td><td>12.96</td><td>2.51</td><td><Br></td><td>2.62</td></tr>
<td>Jakobus</td><td>Stofberg</td><td>Second-row or Lock</td><td>WP RFU</td><td>2004/02/12</td><td>189.4</td><td>83.6</td><td>55</td><td>62.33</td><td>12.65</td><td>2.48</td><td>4.93</td><td>3.34</td></tr>
<td>Renier</td><td>Strydom</td><td>Tighthead prop</td><td>Griqualand West RU</td><td>2003/08/04</td><td>183.4</td><td>103</td><td>177.3</td><td>61.76</td><td>24.29</td><td>6.8</td><td>6.06</td><td>0.51</td></tr>
<td>Renier</td><td>Strydom</td><td>Tighthead prop</td><td>Griqualand West RU</td><td>2004/02/09</td><td>183.9</td><td>104.1</td><td>198.7</td><td>75.61</td><td>26.55</td><td>7.76</td><td>6.95</td><td>0.49</td></tr>
<td>Jaco</td><td>Swanepoel</td><td>No 8</td><td>EP RFU</td><td>2003/08/09</td><td>185.8</td><td>86.5</td><td>69.6</td><td>60.07</td><td>14.96</td><td>3.04</td><td>5.89</td><td>2.39</td></tr>
<td>Jaco</td><td>Swanepoel</td><td>No 8</td><td>EP RFU</td><td>2004/02/12</td><td>185.9</td><td>90.1</td><td>85.8</td><td>55.78</td><td>17.46</td><td>3.95</td><td>6.26</td><td>2</td></tr>
<td>Bradwell</td><td>Swartz</td><td>Fly-half</td><td>Boland RU</td><td>2003/08/01</td><td>163.6</td><td>61.7</td><td>53.2</td><td>62.76</td><td>12.42</td><td>2.23</td><td>5.23</td><td>1.94</td></tr>
<td>Matthew</td><td>Tayler-Smith</td><td>Fly-half</td><td>EP RFU</td><td>2003/08/09</td><td>177</td><td>75.9</td><td>62</td><td>66.4</td><td>13.33</td><td>2.62</td><td>5.37</td><td>2.25</td></tr>
<td>Matthew</td><td>Tayler-Smith</td><td>Fly-half</td><td>EP RFU</td><td>2004/02/12</td><td>177.7</td><td>80.2</td><td>62.8</td><td>61.41</td><td>13.61</td><td>2.78</td><td>6.47</td><td>1.8</td></tr>
<td>David</td><td>Temo</td><td>Tighthead prop</td><td>Blue Bulls RU</td><td>2003/08/05</td><td>167</td><td>78.7</td><td>67.2</td><td>67.57</td><td>13.61</td><td>2.66</td><td>8.59</td><td>0.44</td></tr>
<td>Gordon</td><td>Thomas</td><td>Loosehead prop</td><td>Golden Lions RU</td><td>2003/08/05</td><td>170.5</td><td>110.5</td><td>133.4</td><td>62.59</td><td>23.38</td><td>6.4</td><td>9.87</td><td>0.1</td></tr>
<td>Gordon</td><td>Thomas</td><td>Loosehead prop</td><td>Golden Lions RU</td><td>2004/02/16</td><td>174</td><td>112</td><td>157</td><td>54.18</td><td>25.44</td><td>7.19</td><td><Br></td><td>0.1</td></tr>
<td>Cassim</td><td>Tiry</td><td>Loosehead prop</td><td>EP RFU</td><td>2003/08/09</td><td>173</td><td>74.1</td><td>52</td><td>66.74</td><td>12.26</td><td>2.37</td><td>6.33</td><td>1.84</td></tr>
<td>Morne</td><td>van der Westhuyzen</td><td>Second-row or Lock</td><td>EP RFU</td><td>2003/08/09</td><td>188</td><td>80.6</td><td>47.4</td><td>60.96</td><td>10.53</td><td>1.92</td><td>4.78</td><td>3.55</td></tr>
<td>Morne</td><td>van der Westhuyzen</td><td>Second-row or Lock</td><td>EP RFU</td><td>2004/02/12</td><td>188.4</td><td>80</td><td>44.8</td><td>67.5</td><td>10.44</td><td>1.92</td><td>4.98</td><td>3.69</td></tr>
<td>Carel</td><td>Van Lill</td><td>Outside centre</td><td>WP RFU</td><td>2004/02/12</td><td>178.5</td><td>79.1</td><td>54</td><td>66.85</td><td>13.61</td><td>2.64</td><td>5.97</td><td>2.08</td></tr>
<td>Werner</td><td>van Staden</td><td>Blindside flanker</td><td>Griqualand West RU</td><td>2003/08/04</td><td>179.1</td><td>77.8</td><td>49</td><td>59.94</td><td>11.64</td><td>2.17</td><td>5.82</td><td>2.39</td></tr>
<td>Werner</td><td>van Staden</td><td>Blindside flanker</td><td>Griqualand West RU</td><td>2004/02/09</td><td>179.2</td><td>78.3</td><td>49.4</td><td>65.3</td><td>12.01</td><td>2.25</td><td>5.21</td><td>2.34</td></tr>
<td>Tiaan</td><td>Van Wyk</td><td>Outside centre</td><td>Boland RU</td><td>2003/08/01</td><td>176.1</td><td>69.2</td><td>59</td><td>61.62</td><td>12.49</td><td>2.37</td><td>4.02</td><td>3.06</td></tr>
<td>Tiaan</td><td>Van Wyk</td><td>Outside centre</td><td>Boland RU</td><td>2004/02/12</td><td>177.1</td><td>71</td><td>74.7</td><td>58.99</td><td>14.54</td><td>2.86</td><td><Br></td><td>3.01</td></tr>
<td>Jean</td><td>van Zyl</td><td>Tighthead prop</td><td>Free State RU</td><td>2004/02/09</td><td>177.6</td><td>112.5</td><td>301.4</td><td>51.86</td><td>33.03</td><td>10.69</td><td>8.16</td><td>0.1</td></tr>
<td>Frederick</td><td>Viljoen</td><td>Fly-half</td><td>Boland RU</td><td>2003/08/01</td><td>177.4</td><td>72.9</td><td>47</td><td>63.25</td><td>10.44</td><td>1.8</td><td>6.27</td><td>2.76</td></tr>
<td>Frederick</td><td>Viljoen</td><td>Fly-half</td><td>Boland RU</td><td>2004/02/12</td><td>178.5</td><td>75.3</td><td>57.1</td><td>61.29</td><td>12.84</td><td>2.52</td><td><Br></td><td>2.58</td></tr>
<td>Rowan</td><td>Walters</td><td>Left wing</td><td>Griqualand West RU</td><td>2003/08/04</td><td>172.2</td><td>69.2</td><td>62.7</td><td>66.92</td><td>13.22</td><td>2.59</td><td>3.73</td><td>2.36</td></tr>
<td>Rowan</td><td>Walters</td><td>Left wing</td><td>Griqualand West RU</td><td>2004/02/09</td><td>172.5</td><td>72.5</td><td>97.8</td><td>63.99</td><td>17.51</td><td>4.03</td><td>5.27</td><td>1.98</td></tr>
<td>David</td><td>Wannenburg</td><td>Hooker</td><td>EP RFU</td><td>2003/08/09</td><td>173.6</td><td>79</td><td>64</td><td>62.17</td><td>15.21</td><td>3.19</td><td>5.48</td><td>1.15</td></tr>
<td>David</td><td>Wannenburg</td><td>Hooker</td><td>EP RFU</td><td>2004/02/12</td><td>173.8</td><td>80</td><td>51.4</td><td>62.32</td><td>13.03</td><td>2.6</td><td>6.9</td><td>1.08</td></tr>
<td>Bertram</td><td>Willemse</td><td>Outside centre</td><td>Boland RU</td><td>2004/02/12</td><td>181.5</td><td>79.2</td><td>73</td><td>66.9</td><td>14.76</td><td>2.95</td><td><Br></td><td>2.59</td></tr>
<td>Bertram</td><td>Willemse</td><td>Outside centre</td><td>Boland RU</td><td>2003/08/01</td><td>180.5</td><td>76.5</td><td>53.2</td><td>67.32</td><td>13.25</td><td>2.53</td><td>4.59</td><td>2.78</td></tr>
<td>Wynand</td><td>Willis</td><td>Left wing</td><td>Blue Bulls RU</td><td>2004/02/16</td><td>180</td><td>78</td><td>52.76</td><td>61.69</td><td>17.06</td><td>2.25</td><td><Br></td><td>2.47</td></tr>
<tr><td style='background-color:#CFDAE2; text-align:left' colspan='14'><b>Green U18 </b></td></tr><td>Jacobus</td><td>Adriaanse</td><td>Tighthead prop</td><td>WP RFU</td><td>2003/11/25</td><td>174.5</td><td>109.5</td><td>155.4</td><td>52.78</td><td>25.77</td><td>7.02</td><td>9.29</td><td>0.1</td></tr>
<td>Jacobus</td><td>Adriaanse</td><td>Tighthead prop</td><td>WP RFU</td><td>2003/08/12</td><td>174.2</td><td>104.6</td><td>118.6</td><td>59.21</td><td>22.13</td><td>5.79</td><td>9.46</td><td>0.1</td></tr>
<td>Marvin</td><td>Arendse</td><td>Left wing</td><td>Boland RU</td><td>2004/02/12</td><td>175</td><td>83.1</td><td>82.3</td><td>63.02</td><td>17.53</td><td>3.88</td><td><Br></td><td>0.95</td></tr>
<td>Bradley</td><td>Barritt</td><td>Inside centre</td><td>KZN RU</td><td>2003/08/06</td><td>183</td><td>84.8</td><td>54</td><td>64.11</td><td>12.18</td><td>2.28</td><td>5.23</td><td>2.14</td></tr>
<td>Bradley</td><td>Barritt</td><td>Inside centre</td><td>KZN RU</td><td>2004/02/26</td><td>183</td><td>84.8</td><td>54</td><td>64.11</td><td>12.18</td><td>2.28</td><td><Br></td><td>2.14</td></tr>
<td>Robert</td><td>Berrington</td><td>Second-row or Lock</td><td>Golden Lions RU</td><td>2004/02/16</td><td>190</td><td>90</td><td>54.1</td><td><Br></td><td>10.48</td><td>1.83</td><td><Br></td><td>2.74</td></tr>
<td>Robert</td><td>Berrington</td><td>Second-row or Lock</td><td>Golden Lions RU</td><td>2003/08/09</td><td>191.5</td><td>88.96</td><td>54.2</td><td>63.97</td><td>12.42</td><td>2.41</td><td>4.51</td><td>3.05</td></tr>
<td>Nikolai</td><td>Blignaut</td><td>Second-row or Lock</td><td>KZN RU</td><td>2003/08/06</td><td>194</td><td>98.8</td><td>63.5</td><td>55.82</td><td>15.63</td><td>3.27</td><td>4.43</td><td>2.36</td></tr>
<td>Nikolai</td><td>Blignaut</td><td>Second-row or Lock</td><td>KZN RU</td><td>2003/11/25</td><td>193.7</td><td>100.6</td><td>46.6</td><td>58.9</td><td>10.99</td><td>1.92</td><td>4.52</td><td>2.18</td></tr>
<td>Meyer</td><td>Bosman</td><td>Fly-half</td><td>Free State RU</td><td>2003/11/25</td><td>191.1</td><td>93.3</td><td>63.4</td><td>58.24</td><td>14.89</td><td>3.08</td><td>4.91</td><td>2.5</td></tr>
<td>Meyer</td><td>Bosman</td><td>Fly-half</td><td>Free State RU</td><td>2003/08/11</td><td>193</td><td>87.7</td><td>54</td><td>59.22</td><td>12.26</td><td>2.3</td><td>4.45</td><td>3.44</td></tr>
<td>Jonathan</td><td>Dangoumou</td><td>Openside flanker</td><td>Blue Bulls RU</td><td>2003/08/05</td><td>178</td><td>79.5</td><td>51</td><td>64.62</td><td>12.42</td><td>2.46</td><td>5.76</td><td>1.99</td></tr>
<td>Noel</td><td>de Villiers</td><td>Inside centre</td><td>KZN RU</td><td>2003/11/25</td><td>184</td><td>92.2</td><td>73.8</td><td>59.42</td><td>14.63</td><td>2.82</td><td>6.34</td><td>1.49</td></tr>
<td>Noel</td><td>de Villiers</td><td>Inside centre</td><td>KZN RU</td><td>2003/08/09</td><td>185</td><td>92</td><td>97</td><td>63.18</td><td>17.25</td><td>3.75</td><td>5.51</td><td>1.65</td></tr>
<td>Noel</td><td>de Villiers</td><td>Inside centre</td><td>KZN RU</td><td>2004/02/26</td><td>186</td><td>94.6</td><td>88</td><td>58.97</td><td>16.5</td><td>3.38</td><td><Br></td><td>1.54</td></tr>
<td>Albertus</td><td>Delport</td><td>Fly-half</td><td>Golden Lions RU</td><td>2003/08/09</td><td>177.4</td><td>82.5</td><td>46.6</td><td>68.1</td><td>12.73</td><td>2.53</td><td>6.65</td><td>1.47</td></tr>
<td>Marius</td><td>Delport</td><td>Fullback</td><td>Blue Bulls RU</td><td>2003/08/05</td><td>188</td><td>85</td><td>43</td><td>70.36</td><td>9.46</td><td>1.68</td><td>5.62</td><td>2.96</td></tr>
<td>Marius</td><td>Delport</td><td>Fullback</td><td>Blue Bulls RU</td><td>2003/11/25</td><td>189</td><td>84.1</td><td>38.4</td><td>62.85</td><td>8.93</td><td>1.56</td><td>4.94</td><td>3.28</td></tr>
<td>Albertus</td><td>Delport</td><td>Fly-half</td><td>Golden Lions RU</td><td>2003/12/01</td><td>177</td><td>86.4</td><td>45.6</td><td>80.19</td><td>11.34</td><td>2.16</td><td><Br></td><td>0.95</td></tr>
<td>Albertus</td><td>Delport</td><td>Fly-half</td><td>Golden Lions RU</td><td>2003/11/25</td><td>177</td><td>86.4</td><td>45.6</td><td>80.19</td><td>11.34</td><td>2.16</td><td>7.16</td><td>0.95</td></tr>
<td>Teboho</td><td>Dhlamini</td><td>Openside flanker</td><td>Free State RU</td><td>2004/02/09</td><td>175.2</td><td>74.1</td><td>60.5</td><td>61.98</td><td>13.51</td><td>2.66</td><td>5.81</td><td>2.22</td></tr>
<td>Andrew</td><td>Dikobo</td><td>No 8</td><td>Golden Lions RU</td><td>2003/08/05</td><td>172</td><td>89.2</td><td>65.2</td><td>69.84</td><td>14.83</td><td>3.17</td><td>8.47</td><td>0.23</td></tr>
<td>Andrew</td><td>Dikobo</td><td>No 8</td><td>Golden Lions RU</td><td>2004/02/16</td><td>177</td><td>90.5</td><td>69.7</td><td>62.25</td><td>15.54</td><td>3.22</td><td><Br></td><td>0.66</td></tr>
<td>Isma-eel</td><td>Dollie</td><td>Fly-half</td><td>WP RFU</td><td>2003/11/25</td><td>170.8</td><td>77.4</td><td>79.4</td><td>56.78</td><td>17.04</td><td>3.83</td><td><Br></td><td>0.93</td></tr>
<td>Claude</td><td>Dry</td><td>Second-row or Lock</td><td>KZN RU</td><td>2004/02/26</td><td>203</td><td>103</td><td>63</td><td>65.55</td><td>12.57</td><td>2.39</td><td><Br></td><td>3.37</td></tr>
<td>Jan</td><td>du Plessis</td><td>Fullback</td><td>WP RFU</td><td>2004/02/12</td><td>171.6</td><td>71.9</td><td>44.8</td><td>61.07</td><td>10.9</td><td>1.95</td><td>4.99</td><td>1.89</td></tr>
<td>Daniel</td><td>du Plessis</td><td>Loosehead prop</td><td>WP RFU</td><td>2003/08/11</td><td>186</td><td>92</td><td>76.2</td><td>62.44</td><td>16.61</td><td>3.77</td><td>5.42</td><td>1.81</td></tr>
<td>Sylvester</td><td>Engelbrecht</td><td>Outside centre</td><td>Golden Lions RU</td><td>2003/08/05</td><td>181</td><td>96.4</td><td>84.4</td><td>66.84</td><td>15.99</td><td>3.36</td><td>7.9</td><td>0.67</td></tr>
<td>Sylvester</td><td>Engelbrecht</td><td>Outside centre</td><td>Golden Lions RU</td><td>2003/11/25</td><td>184.2</td><td>95.5</td><td>93.2</td><td>60.3</td><td>17.2</td><td>3.71</td><td><Br></td><td>1.07</td></tr>
<td>Sylvester</td><td>Engelbrecht</td><td>Outside centre</td><td>Golden Lions RU</td><td>2004/02/16</td><td>184</td><td>91.6</td><td>87.2</td><td>56.7</td><td>16.27</td><td>3.4</td><td><Br></td><td>1.55</td></tr>
<td>Gugulethu</td><td>Fata</td><td>Loosehead prop</td><td>KZN RU</td><td>2004/02/26</td><td>178</td><td>94.8</td><td>118</td><td>61.95</td><td>21.6</td><td>5.44</td><td><Br></td><td>0.48</td></tr>
<td>Gugulethu</td><td>Fata</td><td>Loosehead prop</td><td>KZN RU</td><td>2003/08/05</td><td>174</td><td>92.8</td><td><Br></td><td><Br></td><td>17.66</td><td>4.09</td><td>7.52</td><td>0.2</td></tr>
<td>Deon</td><td>Fourie</td><td>Hooker</td><td>Limpopo</td><td>2003/08/05</td><td>170</td><td>85.5</td><td>48.6</td><td>68.06</td><td>10.81</td><td>1.92</td><td>8.1</td><td>0.26</td></tr>
<td>Curlian</td><td>Genis</td><td>Fullback</td><td>SWD RFU</td><td>2003/11/25</td><td>173.2</td><td>79.4</td><td>78.6</td><td>56.35</td><td>15.99</td><td>3.53</td><td>4.67</td><td>1.06</td></tr>
<td>Andisa</td><td>Gqobo</td><td>Fly-half</td><td>Border RU</td><td>2003/11/25</td><td>171.2</td><td>76.8</td><td>39.2</td><td>60.55</td><td>8.93</td><td>1.51</td><td>5.93</td><td>1.07</td></tr>
<td>Andisa</td><td>Gqobo</td><td>Fly-half</td><td>Border RU</td><td>2003/12/01</td><td>171.2</td><td>76.8</td><td>38.4</td><td>60.6</td><td>8.93</td><td>1.51</td><td><Br></td><td>1.07</td></tr>
<td>Andisa</td><td>Gqobo</td><td>Fly-half</td><td>Border RU</td><td>2003/08/07</td><td>170</td><td>74.9</td><td>42</td><td>70.56</td><td>10.06</td><td>1.68</td><td>6.6</td><td>1.07</td></tr>
<td>Gert</td><td>Greyling</td><td>Tighthead prop</td><td>Free State RU</td><td>2004/02/09</td><td>181.6</td><td>119.6</td><td>193.8</td><td>61.7</td><td>27.58</td><td>8.15</td><td>9.38</td><td>0.1</td></tr>
<td>Anthonie</td><td>Gronum</td><td>Second-row or Lock</td><td>SWD RFU</td><td>2003/08/11</td><td>200</td><td>107</td><td>82.8</td><td>62.73</td><td>15.02</td><td>3.21</td><td>4.61</td><td>2.5</td></tr>
<td>Anthonie</td><td>Gronum</td><td>Second-row or Lock</td><td>SWD RFU</td><td>2003/12/01</td><td>199</td><td>108.3</td><td>93</td><td>58.76</td><td>17.41</td><td>3.89</td><td><Br></td><td>2.22</td></tr>
<td>Anthonie</td><td>Gronum</td><td>Second-row or Lock</td><td>SWD RFU</td><td>2003/11/25</td><td>199</td><td>108.3</td><td>93</td><td>58.76</td><td>17.41</td><td>3.89</td><td>5.37</td><td>2.22</td></tr>
<td>Anthonie</td><td>Gronum</td><td>Second-row or Lock</td><td>SWD RFU</td><td>2004/02/17</td><td>200</td><td>110.6</td><td>105.4</td><td>58.17</td><td>17.04</td><td>3.69</td><td><Br></td><td>2.18</td></tr>
<td>Alistair</td><td>Hargreaves</td><td>Second-row or Lock</td><td>KZN RU</td><td>2003/11/25</td><td>198.2</td><td>94.9</td><td>43.4</td><td>60.6</td><td>11.17</td><td>1.97</td><td>4.39</td><td>3.51</td></tr>
<td>Alistair</td><td>Hargreaves</td><td>Second-row or Lock</td><td>KZN RU</td><td>2003/12/01</td><td>198.2</td><td>94.9</td><td>43.4</td><td>60.6</td><td>11.17</td><td>1.97</td><td><Br></td><td>3.51</td></tr>
<td>Alistair</td><td>Hargreaves</td><td>Second-row or Lock</td><td>KZN RU</td><td>2003/08/06</td><td>199.8</td><td>91.4</td><td>70</td><td>59.17</td><td>15.63</td><td>3.17</td><td>3.23</td><td>4.12</td></tr>
<td>Berwan</td><td>Haupt</td><td>Inside centre</td><td>WP RFU</td><td>2004/02/12</td><td>178.2</td><td>68.4</td><td>72</td><td>61.55</td><td>16.77</td><td>3.57</td><td>3.83</td><td>3.59</td></tr>
<td>Alwyn</td><td>Hollenbach</td><td>Inside centre</td><td>Free State RU</td><td>2003/08/05</td><td>186.8</td><td>90</td><td>64.8</td><td>54.49</td><td>13.9</td><td>2.62</td><td>5.01</td><td>2.21</td></tr>
<td>Alwyn</td><td>Hollenbach</td><td>Inside centre</td><td>Free State RU</td><td>2003/12/01</td><td>186.5</td><td>91.3</td><td>76.2</td><td>61.48</td><td>14.83</td><td>2.84</td><td><Br></td><td>1.95</td></tr>
<td>Alwyn</td><td>Hollenbach</td><td>Inside centre</td><td>Free State RU</td><td>2003/11/25</td><td>186.5</td><td>91.3</td><td>76.2</td><td>61.48</td><td>14.83</td><td>2.84</td><td><Br></td><td>1.95</td></tr>
<td>Andrew</td><td>Irumba</td><td>Left wing</td><td>Golden Lions RU</td><td>2003/12/01</td><td>178.4</td><td>85.4</td><td>63.4</td><td>60.17</td><td>14.37</td><td>2.91</td><td><Br></td><td>1.14</td></tr>
<td>Andrew</td><td>Irumba</td><td>Left wing</td><td>Golden Lions RU</td><td>2003/11/25</td><td>178.4</td><td>85.4</td><td>63.4</td><td>60.29</td><td>14.37</td><td>2.91</td><td><Br></td><td>1.14</td></tr>
<td>Thando</td><td>Jacobs</td><td>Fly-half</td><td>WP RFU</td><td>2004/02/12</td><td>178.2</td><td>65.7</td><td>58.8</td><td>66.95</td><td>12.8</td><td>2.39</td><td>4.91</td><td>3.99</td></tr>
<td>Sakhiwo</td><td>Jaji</td><td>Left wing</td><td>Border RU</td><td>2003/08/07</td><td>167</td><td>61.5</td><td>43.2</td><td>67.77</td><td>10.99</td><td>1.95</td><td>5.64</td><td>2.65</td></tr>
<td>Sakhiwo</td><td>Jaji</td><td>Left wing</td><td>Border RU</td><td>2003/11/25</td><td>167</td><td>64.9</td><td>36.6</td><td>62.16</td><td>10.72</td><td>1.99</td><td>5.35</td><td>2.11</td></tr>
<td>Erasmus</td><td>Jansen van Vuuren</td><td>Hooker</td><td>Mpumalanga RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Ashley</td><td>Johnson</td><td>Openside flanker</td><td>WP RFU</td><td>2004/02/12</td><td>179.5</td><td>95.7</td><td>75.8</td><td>63.66</td><td>16.04</td><td>3.46</td><td>6.62</td><td>0.56</td></tr>
<td>Ashley</td><td>Johnson</td><td>Openside flanker</td><td>WP RFU</td><td>2003/12/01</td><td>179.2</td><td>95.4</td><td>86.4</td><td>58.26</td><td>17.15</td><td>3.91</td><td><Br></td><td>0.57</td></tr>
<td>Ashley</td><td>Johnson</td><td>Openside flanker</td><td>WP RFU</td><td>2003/08/12</td><td>179.5</td><td>93.3</td><td>73.6</td><td>64.44</td><td>16.5</td><td>3.63</td><td>6.81</td><td>0.71</td></tr>
<td>Whybro</td><td>Johnson</td><td>Left wing</td><td>Falcons RU</td><td>2004/02/16</td><td>170</td><td>63.9</td><td>68</td><td>57.12</td><td>14.37</td><td>3.06</td><td>5.03</td><td>2.81</td></tr>
<td>Leon</td><td>Karemaker</td><td>Blindside flanker</td><td>WP RFU</td><td>2003/08/07</td><td>189.5</td><td>94.6</td><td>49.6</td><td>48.22</td><td>12.49</td><td>2.37</td><td>7</td><td>2.11</td></tr>
<td>Leon</td><td>Karemaker</td><td>Blindside flanker</td><td>WP RFU</td><td>2003/08/07</td><td>189.5</td><td>94.6</td><td>49.6</td><td>65.08</td><td>12.49</td><td>2.37</td><td>7.01</td><td>2.11</td></tr>
<td>Leon</td><td>Karemaker</td><td>Blindside flanker</td><td>WP RFU</td><td>2003/11/25</td><td>190.5</td><td>99</td><td>59.6</td><td>63.11</td><td>12.96</td><td>2.48</td><td>6.63</td><td>1.8</td></tr>
<td>Cornelius</td><td>Kemp</td><td>No 8</td><td>Bulls</td><td>2003/08/11</td><td>178</td><td>82.9</td><td>57.8</td><td>59.83</td><td>12.57</td><td>2.39</td><td>5.67</td><td>1.57</td></tr>
<td>Chester</td><td>Koyana</td><td>Outside centre</td><td>Border RU</td><td>2003/08/07</td><td>166</td><td>69.3</td><td>54.2</td><td>68.19</td><td>12.01</td><td>2.21</td><td>6.57</td><td>1.12</td></tr>
<td>Chester</td><td>Koyana</td><td>Outside centre</td><td>Border RU</td><td>2003/11/25</td><td>168.2</td><td>74.1</td><td>64</td><td>54.08</td><td>14.63</td><td>3.1</td><td>6.2</td><td>0.95</td></tr>
<td>Ernie</td><td>Kruger</td><td>Outside centre</td><td>Blue Bulls RU</td><td>2003/11/25</td><td>194.2</td><td>99.1</td><td>51.4</td><td>62.46</td><td>11.17</td><td>1.92</td><td>5.25</td><td>2.39</td></tr>
<td>Quintin</td><td>Kruger</td><td>Scrum-half</td><td>Leopards RU</td><td>2004/02/16</td><td>172</td><td>75</td><td>59.1</td><td>61.91</td><td>12.1</td><td>2.28</td><td><Br></td><td>1.53</td></tr>
<td>Quintin</td><td>Kruger</td><td>Scrum-half</td><td>Leopards RU</td><td>2003/08/05</td><td>168</td><td>72.5</td><td>44.8</td><td>69.01</td><td>11.43</td><td>2.14</td><td>6.18</td><td>1.07</td></tr>
<td>Juandre</td><td>Kruger</td><td>No 8</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Francois</td><td>la Grange</td><td>Blindside flanker</td><td>Mpumalanga RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Damian</td><td>Labans</td><td>Scrum-half</td><td>Boland RU</td><td>2003/08/04</td><td>165.5</td><td>64.6</td><td>83.9</td><td>59.01</td><td>15.96</td><td>3.36</td><td>5.63</td><td>1.83</td></tr>
<td>Samuel</td><td>Leburu</td><td>Loosehead prop</td><td>Free State RU</td><td>2003/08/04</td><td>183.1</td><td>102</td><td>194.7</td><td>52.22</td><td>26.41</td><td>7.65</td><td>6.37</td><td>0.52</td></tr>
<td>Hilton</td><td>Lobberts</td><td>Blindside flanker</td><td>Boland RU</td><td>2003/08/01</td><td>188</td><td>86</td><td>46.6</td><td>60.3</td><td>12.96</td><td>2.51</td><td>5.05</td><td>2.83</td></tr>
<td>Hilton</td><td>Lobberts</td><td>Blindside flanker</td><td>Boland RU</td><td>2003/11/25</td><td>188</td><td>87.1</td><td>46.2</td><td>57.02</td><td>11.85</td><td>2.23</td><td><Br></td><td>2.69</td></tr>
<td>Pieter</td><td>Louw</td><td>No 8</td><td>WP RFU</td><td>2003/11/25</td><td>190</td><td>94.4</td><td>53.6</td><td>59.59</td><td>10.72</td><td>1.99</td><td>5.02</td><td>2.19</td></tr>
<td>Pieter</td><td>Louw</td><td>No 8</td><td>WP RFU</td><td>2003/08/12</td><td>190</td><td>92.4</td><td>62.4</td><td>62.58</td><td>12.1</td><td>2.23</td><td>5.8</td><td>2.46</td></tr>
<td>Luyanda</td><td>Madiba</td><td>Outside centre</td><td>Border RU</td><td>2003/08/07</td><td>169</td><td>71</td><td>56.4</td><td>74.6</td><td>14.37</td><td>2.95</td><td>6.55</td><td>1.57</td></tr>
<td>Sisa</td><td>Mafu</td><td>No 8</td><td>Blue Bulls RU</td><td>2003/08/09</td><td>184.2</td><td>83.98</td><td>68.2</td><td>60.06</td><td>16.5</td><td>3.63</td><td>4.49</td><td>2.47</td></tr>
<td>Lukhanyo</td><td>Majorman</td><td>Blindside flanker</td><td>WP RFU</td><td>2004/02/12</td><td>174.5</td><td>80.3</td><td>71.4</td><td>64.67</td><td>13.83</td><td>2.66</td><td>7.14</td><td>1.12</td></tr>
<td>Warren</td><td>Malgas</td><td>Scrum-half</td><td>SWD RFU</td><td>2003/08/11</td><td>173</td><td>66.8</td><td>58.2</td><td>64.26</td><td>13.25</td><td>2.64</td><td>4.29</td><td>2.89</td></tr>
<td>Warren</td><td>Malgas</td><td>Scrum-half</td><td>SWD RFU</td><td>2003/11/25</td><td>173</td><td>64.9</td><td>49.6</td><td>59.55</td><td>11.25</td><td>2.14</td><td><Br></td><td>3.2</td></tr>
<td>Warren</td><td>Malgas</td><td>Scrum-half</td><td>SWD RFU</td><td>2004/02/17</td><td>173</td><td>62.9</td><td>53.6</td><td>58.64</td><td>12.05</td><td>1.78</td><td><Br></td><td>3.52</td></tr>
<td>Madoda</td><td>Manoni</td><td>Second-row or Lock</td><td>EP RFU</td><td>2004/02/12</td><td>186.9</td><td>83.3</td><td>95.8</td><td>62.1</td><td>18.72</td><td>4.43</td><td>4.57</td><td>3</td></tr>
<td>Madoda</td><td>Manoni</td><td>Second-row or Lock</td><td>EP RFU</td><td>2003/08/09</td><td>186</td><td>79.6</td><td>73.2</td><td>60.57</td><td>14.5</td><td>2.95</td><td>3.52</td><td>3.29</td></tr>
<td>Divan</td><td>Manus</td><td>Loosehead prop</td><td>Griqualand West RU</td><td>2003/08/04</td><td>176.7</td><td>91</td><td>137.2</td><td>54.03</td><td>22.37</td><td>5.83</td><td>6.3</td><td>0.59</td></tr>
<td>Divan</td><td>Manus</td><td>Loosehead prop</td><td>Griqualand West RU</td><td>2004/02/09</td><td>177.4</td><td>98.5</td><td>211.8</td><td>59.54</td><td>27.87</td><td>8.34</td><td>7.01</td><td>0.19</td></tr>
<td>Gere</td><td>Maree</td><td>Blindside flanker</td><td>Blue Bulls RU</td><td>2004/02/16</td><td>186</td><td>100</td><td>67.4</td><td>64.05</td><td>13.83</td><td>2.75</td><td><Br></td><td>0.97</td></tr>
<td>Torrie</td><td>Meyer</td><td>No 8</td><td>Golden Lions RU</td><td>2003/11/25</td><td>179</td><td>88</td><td>81.6</td><td>72.14</td><td>16.61</td><td>3.67</td><td><Br></td><td>1.04</td></tr>
<td>Luvuyo</td><td>Mhlobiso</td><td>Left wing</td><td>EP RFU</td><td>2003/08/09</td><td>180.2</td><td>87.7</td><td>62.2</td><td>67.82</td><td>13.18</td><td>2.66</td><td>5.95</td><td>1.16</td></tr>
<td>Jason</td><td>Mitchell</td><td>Left wing</td><td>WP RFU</td><td>2004/02/12</td><td>173.5</td><td>69.4</td><td>43.1</td><td>64.59</td><td>11.34</td><td>2.04</td><td>0.08</td><td>2.6</td></tr>
<td>Cedric</td><td>Mkhize</td><td>Right wing</td><td>KZN RU</td><td>2003/08/06</td><td>183.8</td><td>79.4</td><td>56.5</td><td>58.75</td><td>13.33</td><td>2.51</td><td>4.35</td><td>2.98</td></tr>
<td>Cedric</td><td>Mkhize</td><td>Right wing</td><td>KZN RU</td><td>2004/02/26</td><td>184</td><td>84.8</td><td>50</td><td>63.25</td><td>11.77</td><td>2.16</td><td><Br></td><td>2.3</td></tr>
<td>Dumani</td><td>Mtya</td><td>Second-row or Lock</td><td>WP RFU</td><td>2004/02/12</td><td>188</td><td>93.1</td><td>72.6</td><td>66.22</td><td>16.72</td><td>3.71</td><td><Br></td><td>2</td></tr>
<td>Sangoni</td><td>Mxoli</td><td>Tighthead prop</td><td>KZN RU</td><td>2003/08/06</td><td>181</td><td>103.8</td><td>118</td><td>66.8</td><td>21.78</td><td>5.52</td><td>7.59</td><td>0.24</td></tr>
<td>Sangoni</td><td>Mxoli</td><td>Tighthead prop</td><td>KZN RU</td><td>2003/11/25</td><td>180.5</td><td>103.2</td><td>71.2</td><td>65.88</td><td>16.22</td><td>3.55</td><td>7.85</td><td>0.23</td></tr>
<td>Stefan</td><td>Nel</td><td>Loosehead prop</td><td>Golden Lions RU</td><td>2003/11/25</td><td>183.2</td><td>112.9</td><td>123.6</td><td>54.2</td><td>20.93</td><td>5.27</td><td><Br></td><td>0.1</td></tr>
<td>Thobela</td><td>Ngonyoza</td><td>Openside flanker</td><td>WP RFU</td><td>2003/11/25</td><td>173.2</td><td>84.7</td><td>60.4</td><td>64.89</td><td>13.03</td><td>2.57</td><td>6.5</td><td>0.64</td></tr>
<td>Thobela</td><td>Ngonyoza</td><td>Openside flanker</td><td>WP RFU</td><td>2003/08/07</td><td>173.5</td><td>82</td><td>64.4</td><td>40.88</td><td>13.96</td><td>2.73</td><td>2.21</td><td>0.88</td></tr>
<td>Thato</td><td>Ntechane</td><td>Hooker</td><td>Free State RU</td><td>2003/08/05</td><td>186.2</td><td>101.6</td><td>132.8</td><td>54.14</td><td>20.74</td><td>5.26</td><td>5.09</td><td>0.87</td></tr>
<td>Siviwe</td><td>Nyobole</td><td>Openside flanker</td><td>WP RFU</td><td>2004/02/12</td><td>175.4</td><td>79.5</td><td>51.8</td><td>65.69</td><td>12.42</td><td>2.23</td><td><Br></td><td>1.55</td></tr>
<td>Chiliboy</td><td>Ralepelle</td><td>Hooker</td><td>Blue Bulls RU</td><td>2003/11/25</td><td>177</td><td>93.2</td><td>63.8</td><td>62.98</td><td>13.61</td><td>2.64</td><td><Br></td><td>0.46</td></tr>
<td>Steph</td><td>Roberts</td><td>Loosehead prop</td><td>Free State RU</td><td>2004/02/09</td><td>185.1</td><td>104.7</td><td>163.1</td><td>59.97</td><td>24.86</td><td>6.96</td><td>6.82</td><td>0.57</td></tr>
<td>Jody</td><td>Rose</td><td>Fly-half</td><td>WP RFU</td><td>2003/08/07</td><td>176</td><td>69.8</td><td>71</td><td>31.33</td><td>15.87</td><td>3.23</td><td>0.38</td><td>2.96</td></tr>
<td>Jody</td><td>Rose</td><td>Fly-half</td><td>WP RFU</td><td>2003/11/25</td><td>175.4</td><td>70.4</td><td>67.4</td><td>55.61</td><td>13.1</td><td>2.53</td><td>3.96</td><td>2.78</td></tr>
<td>Ashwin</td><td>Scott</td><td>Inside centre</td><td>SWD RFU</td><td>2004/02/17</td><td>178</td><td>65.6</td><td>39.5</td><td>62.26</td><td>9.46</td><td>1.53</td><td><Br></td><td>3.95</td></tr>
<td>Ashwin</td><td>Scott</td><td>Inside centre</td><td>SWD RFU</td><td>2003/08/11</td><td>175</td><td>69</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>2.86</td></tr>
<td>Gary</td><td>Scott</td><td>Hooker</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Curtis</td><td>Siegelaar</td><td>Scrum-half</td><td>WP RFU</td><td>2004/02/12</td><td>165.5</td><td>73</td><td>52.4</td><td>61.65</td><td>12.65</td><td>2.41</td><td>7.84</td><td>0.75</td></tr>
<td>Quintin</td><td>Snyman</td><td>Right wing</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Pieter</td><td>Spaumer</td><td>Outside centre</td><td>Blue Bulls RU</td><td>2004/02/16</td><td>181</td><td>90.2</td><td>59.1</td><td>64.99</td><td>12.22</td><td>2.3</td><td><Br></td><td>1.08</td></tr>
<td>Pieter</td><td>Spaumer</td><td>Outside centre</td><td>Blue Bulls RU</td><td>2003/08/05</td><td>177</td><td>90.5</td><td>53</td><td>69.85</td><td>12.49</td><td>2.46</td><td>7.59</td><td>0.66</td></tr>
<td>Pieter</td><td>Spaumer</td><td>Outside centre</td><td>Blue Bulls RU</td><td>2003/11/25</td><td>180.6</td><td>91.3</td><td>49.8</td><td>67.21</td><td>11.68</td><td>2.25</td><td><Br></td><td>0.95</td></tr>
<td>Pierre</td><td>Spies</td><td>Left wing</td><td>Blue Bulls RU</td><td>2003/11/25</td><td>195.4</td><td>101.3</td><td>55.4</td><td>61.44</td><td>11.51</td><td>2.09</td><td><Br></td><td>2.38</td></tr>
<td>Frederik</td><td>Spies</td><td>Second-row or Lock</td><td>Griffons RU</td><td>2003/11/25</td><td>195.5</td><td>111</td><td>119.2</td><td>59.99</td><td>18.85</td><td>4.32</td><td><Br></td><td>1.23</td></tr>
<td>Pierre</td><td>Spies</td><td>Left wing</td><td>Blue Bulls RU</td><td>2003/08/05</td><td>192</td><td>99.2</td><td>54.4</td><td>69.29</td><td>11.77</td><td>2.18</td><td>6.36</td><td>2.04</td></tr>
<td>Frederik</td><td>Spies</td><td>Second-row or Lock</td><td>Griffons RU</td><td>2003/08/04</td><td>194.5</td><td>102.8</td><td>113.3</td><td>54.64</td><td>19.06</td><td>4.48</td><td>3.82</td><td>2.04</td></tr>
<td>Edward</td><td>Squires</td><td>Fullback</td><td>KZN RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Gideon</td><td>Stander</td><td>Fly-half</td><td>Falcons RU</td><td>2004/02/16</td><td>174</td><td>80.2</td><td>83.7</td><td>54.99</td><td>16.27</td><td>3.48</td><td>5.56</td><td>1.06</td></tr>
<td>Jabez</td><td>Steenkamp</td><td>Second-row or Lock</td><td>Blue Bulls RU</td><td>2003/08/12</td><td>200</td><td>90.6</td><td>48</td><td>62.02</td><td>12.34</td><td>2.37</td><td>4.18</td><td>4.3</td></tr>
<td>Jabez</td><td>Steenkamp</td><td>Second-row or Lock</td><td>Blue Bulls RU</td><td>2004/02/16</td><td>199</td><td>99</td><td>63.4</td><td>57.9</td><td>13.03</td><td>2.53</td><td><Br></td><td>3.15</td></tr>
<td>Deon</td><td>Stegmann</td><td>Blindside flanker</td><td>Free State RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Christoff</td><td>Storm</td><td>Tighthead prop</td><td>Golden Lions RU</td><td>2003/08/11</td><td>181.4</td><td>102.2</td><td>115.8</td><td>57.76</td><td>20.35</td><td>5.03</td><td>8.53</td><td>0.35</td></tr>
<td>Adriaan</td><td>Strauss</td><td>Hooker</td><td>Free State RU</td><td>2003/12/01</td><td>183.7</td><td>98</td><td>81.6</td><td>59.84</td><td>16.77</td><td>3.79</td><td><Br></td><td>0.86</td></tr>
<td>Adriaan</td><td>Strauss</td><td>Hooker</td><td>Free State RU</td><td>2003/11/25</td><td>183.7</td><td>98.6</td><td>82.6</td><td>59.48</td><td>16.77</td><td>3.79</td><td><Br></td><td>0.82</td></tr>
<td>Richardt</td><td>Strauss</td><td>Openside flanker</td><td>Free State RU</td><td>2003/11/25</td><td>174.5</td><td>90.3</td><td>70</td><td>65.19</td><td>13.68</td><td>2.73</td><td><Br></td><td>0.4</td></tr>
<td>Adriaan</td><td>Strauss</td><td>Hooker</td><td>Free State RU</td><td>2003/08/05</td><td>183.4</td><td>92.8</td><td>82.8</td><td>56.19</td><td>16.39</td><td>3.59</td><td>5.8</td><td>1.16</td></tr>
<td>Richardt</td><td>Strauss</td><td>Openside flanker</td><td>Free State RU</td><td>2003/08/05</td><td>173.5</td><td>93</td><td>88</td><td>57.06</td><td>16.77</td><td>3.65</td><td>6.8</td><td>0.14</td></tr>
<td>Riaan</td><td>Swanepoel</td><td>No 8</td><td>Free State RU</td><td>2003/08/05</td><td>185.6</td><td>93.2</td><td>52.9</td><td>59.95</td><td>12.42</td><td>2.4</td><td>5.01</td><td>1.61</td></tr>
<td>Riaan</td><td>Swanepoel</td><td>No 8</td><td>Free State RU</td><td>2004/01/17</td><td><Br></td><td>87.4</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Wongama</td><td>Tom</td><td>Right wing</td><td>EP RFU</td><td>2004/02/12</td><td>176.7</td><td>70.9</td><td>52</td><td>59.38</td><td>12.34</td><td>2.28</td><td>5.12</td><td>2.93</td></tr>
<td>Wongama</td><td>Tom</td><td>Right wing</td><td>EP RFU</td><td>2003/08/09</td><td>176.4</td><td>71.38</td><td>45.4</td><td>63.09</td><td>10.9</td><td>1.95</td><td>4.04</td><td>2.81</td></tr>
<td>Linda</td><td>Tyapile</td><td>Second-row or Lock</td><td>Golden Lions RU</td><td>2003/08/05</td><td>184.5</td><td>90.4</td><td><Br></td><td><Br></td><td>12.88</td><td>2.57</td><td>5.74</td><td>1.76</td></tr>
<td>Linda</td><td>Tyapile</td><td>Second-row or Lock</td><td>Golden Lions RU</td><td>2004/02/16</td><td>187</td><td>87.5</td><td>62.7</td><td>67.82</td><td>14.2</td><td>2.84</td><td><Br></td><td>2.52</td></tr>
<td>Janneman</td><td>Uys</td><td>Tighthead prop</td><td>Blue Bulls RU</td><td>2004/02/16</td><td>182</td><td>97</td><td>79.1</td><td>65.6</td><td>16.13</td><td>3.35</td><td><Br></td><td>0.73</td></tr>
<td>Francois</td><td>Uys</td><td>Openside flanker</td><td>Falcons RU</td><td>2003/08/05</td><td>185</td><td>94</td><td>59.4</td><td>67.82</td><td>12.1</td><td>2.18</td><td>6.48</td><td>1.45</td></tr>
<td>Danie</td><td>van der Merwe</td><td>Scrum-half</td><td>WP RFU</td><td>2003/11/25</td><td>178.7</td><td>78.4</td><td>47.6</td><td>64.79</td><td>10.06</td><td>1.8</td><td>4.7</td><td>2.25</td></tr>
<td>Flip</td><td>van der Merwe</td><td>Second-row or Lock</td><td>Free State RU</td><td>2003/11/25</td><td>198</td><td>109.7</td><td>56.4</td><td>61.75</td><td>13.03</td><td>2.64</td><td><Br></td><td>1.94</td></tr>
<td>Phillip</td><td>van der Merwe</td><td>Hooker</td><td>WP RFU</td><td>2003/08/12</td><td>177.5</td><td>92.4</td><td>75.6</td><td>61.4</td><td>15.14</td><td>3.23</td><td>7.17</td><td>0.59</td></tr>
<td>Heinke</td><td>van der Merwe</td><td>Loosehead prop</td><td>Golden Lions RU</td><td>2003/11/25</td><td>182.2</td><td>107.1</td><td>84.4</td><td>63.8</td><td>16.72</td><td>3.67</td><td><Br></td><td>0.17</td></tr>
<td>Flip</td><td>van der Merwe</td><td>Second-row or Lock</td><td>Free State RU</td><td>2003/08/05</td><td>196.8</td><td>107.2</td><td>64.2</td><td>59.51</td><td>13.51</td><td>2.68</td><td>5.83</td><td>2.01</td></tr>
<td>Izak</td><td>van der Westhuizen</td><td>Second-row or Lock</td><td>Griqualand West RU</td><td>2003/08/04</td><td>193.7</td><td>97.8</td><td>56.7</td><td>58.55</td><td>13.07</td><td>2.4</td><td>5.52</td><td>2.44</td></tr>
<td>Wikus</td><td>van Dyk</td><td>Inside centre</td><td>Blue Bulls RU</td><td>2003/08/01</td><td>176.3</td><td>80.2</td><td>42.6</td><td>62.02</td><td>11.34</td><td>2.11</td><td>6.45</td><td>1.56</td></tr>
<td>Pieter</td><td>van Dyk</td><td>Blindside flanker</td><td>Griqualand West RU</td><td>2004/02/09</td><td>188.2</td><td>92.1</td><td><Br></td><td><Br></td><td>13.47</td><td>2.63</td><td>5.83</td><td>2.17</td></tr>
<td>Hendrik</td><td>van Niekerk</td><td>Second-row or Lock</td><td>Blue Bulls RU</td><td>2004/02/16</td><td>198</td><td>97.5</td><td>57.3</td><td>53.68</td><td>13.9</td><td>2.9</td><td><Br></td><td>3.13</td></tr>
<td>Hendrik</td><td>van Niekerk</td><td>Second-row or Lock</td><td>Blue Bulls RU</td><td>2003/08/05</td><td>195</td><td>93</td><td>55</td><td>62.4</td><td>12.57</td><td>2.55</td><td>4.08</td><td>3.2</td></tr>
<td>Elrich</td><td>van Vuuren</td><td>Outside centre</td><td>Free State RU</td><td>2003/08/09</td><td>181.8</td><td>86.5</td><td>99.8</td><td>62.96</td><td>19.77</td><td>4.58</td><td>5.65</td><td>1.73</td></tr>
<td>Elrich</td><td>van Vuuren</td><td>Outside centre</td><td>Free State RU</td><td>2003/11/25</td><td>180</td><td>90.8</td><td>93.2</td><td>59.15</td><td>17.71</td><td>3.79</td><td>6.39</td><td>0.93</td></tr>
<td>Gert</td><td>van Wyk</td><td>Loosehead prop</td><td>WP RFU</td><td>2003/08/07</td><td>176.1</td><td>69.2</td><td>59</td><td>61.62</td><td>12.49</td><td>2.37</td><td>4.02</td><td>3.06</td></tr>
<td>Shane</td><td>Vergotine</td><td>Scrum-half</td><td>Blue Bulls RU</td><td>2003/08/11</td><td>164</td><td>71.3</td><td>82.6</td><td>52.85</td><td>16.16</td><td>3.55</td><td>5.14</td><td>0.71</td></tr>
<td>Jano</td><td>Vermaak</td><td>Scrum-half</td><td>Golden Lions RU</td><td>2003/08/05</td><td>167</td><td>72</td><td>36.8</td><td>85.53</td><td>9.04</td><td>1.56</td><td>7.06</td><td>1</td></tr>
<td>Jano</td><td>Vermaak</td><td>Scrum-half</td><td>Golden Lions RU</td><td>2003/11/25</td><td>170.5</td><td>73</td><td>37</td><td>59.92</td><td>9.46</td><td>1.61</td><td><Br></td><td>1.55</td></tr>
<td>Juan</td><td>Visser</td><td>Outside centre</td><td>Golden Lions RU</td><td>2003/08/05</td><td>170</td><td>76</td><td>43.4</td><td>71.27</td><td>10.81</td><td>2.02</td><td>6.05</td><td>0.98</td></tr>
<td>Juan</td><td>Visser</td><td>Outside centre</td><td>Golden Lions RU</td><td>2004/02/16</td><td>174</td><td>78</td><td>58</td><td>70.14</td><td>13.43</td><td>2.52</td><td><Br></td><td>1.45</td></tr>
<td>Jan</td><td>Volschenk</td><td>Loosehead prop</td><td>SWD RFU</td><td>2004/02/17</td><td>183.2</td><td>104.6</td><td>116.6</td><td>62.45</td><td>18.3</td><td>4.28</td><td><Br></td><td>0.42</td></tr>
<td>Jan</td><td>Volschenk</td><td>Loosehead prop</td><td>SWD RFU</td><td>2003/08/11</td><td>183</td><td>115.9</td><td>134.2</td><td>59.71</td><td>19.47</td><td>4.89</td><td>7.41</td><td>0.1</td></tr>
<td>Daniel</td><td>Vosloo</td><td>Scrum-half</td><td>EP RFU</td><td>2003/08/09</td><td>160.9</td><td>63.9</td><td>60</td><td>61.82</td><td>14.96</td><td>3.04</td><td>5.81</td><td>1.04</td></tr>
<td>Daniel</td><td>Vosloo</td><td>Scrum-half</td><td>EP RFU</td><td>2004/02/12</td><td>161.5</td><td>67.6</td><td>56.6</td><td>63.78</td><td>13.76</td><td>2.66</td><td>7.16</td><td>0.74</td></tr>
<td>Frank</td><td>Wagenstroom</td><td>Right wing</td><td>WP RFU</td><td>2003/11/25</td><td>174</td><td>81.7</td><td>58.8</td><td>60.48</td><td>13.83</td><td>2.78</td><td><Br></td><td>0.97</td></tr>
<td>Frank</td><td>Wagenstroom</td><td>Right wing</td><td>WP RFU</td><td>2003/08/07</td><td>171.6</td><td>81</td><td>63.2</td><td>63.07</td><td>15.39</td><td>3.21</td><td>-3.76</td><td>0.76</td></tr>
<td>Elgar</td><td>Watts</td><td>Fly-half</td><td>Boland RU</td><td>2004/02/12</td><td>179.5</td><td>71.1</td><td>73.4</td><td>56.73</td><td>16.13</td><td>3.42</td><td><Br></td><td>3.36</td></tr>
<td>Elgar</td><td>Watts</td><td>Fly-half</td><td>Boland RU</td><td>2003/08/01</td><td>177.5</td><td>66.9</td><td>48.8</td><td>61.55</td><td>12.42</td><td>2.32</td><td>4.36</td><td>3.7</td></tr>
<td>Wesley</td><td>Wilkins</td><td>Openside flanker</td><td>Border RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jerome</td><td>Williams</td><td>Right wing</td><td>EP RFU</td><td>2003/08/09</td><td>168</td><td>69.9</td><td>61</td><td>66.32</td><td>13.4</td><td>2.64</td><td>5.42</td><td>1.54</td></tr>
<td>Jerome</td><td>Williams</td><td>Right wing</td><td>EP RFU</td><td>2004/02/12</td><td>168.8</td><td>69.6</td><td>56.2</td><td>64.61</td><td>12.57</td><td>2.44</td><td>6.26</td><td>1.68</td></tr>
<td>Jerome</td><td>Williams</td><td>Right wing</td><td>EP RFU</td><td>2004/02/12</td><td>168.8</td><td>69.6</td><td>56.2</td><td>64.61</td><td>12.57</td><td>2.44</td><td>6.26</td><td>1.68</td></tr>
<td>Mawande</td><td>Zenzile</td><td>Fullback</td><td>WP RFU</td><td>2004/02/12</td><td>169.2</td><td>77.9</td><td>83.4</td><td>62.48</td><td>16.1</td><td>3.42</td><td>6.59</td><td>0.76</td></tr>
<tr><td style='background-color:#CFDAE2; text-align:right' class=cellhere colspan='14'>309 Records</td></tr></table></td></tr></table><br>
