<table align='center' id='ReportMain' name='ReportMain' cellspacing=0 style='BORDER-BOTTOM: 1px solid;BORDER-RIGHT: 1px solid;position:relative;top:-10px;left:-5px;width:90%'><tr><td><Table cellpadding=4 cellspacing=0 border=0 bordercolor=#999999 style='BORDER-BOTTOM: 1px solid;BORDER-RIGHT: 1px solid;width:100%'><tr id='Headers' name='Headers'><td style='padding:0' colspan=13><table cellpadding='0' cellspacing='0' border='0' style='width:100%;padding:3 0 3 0;'><tr><th id='ReportName' name='ReportName' class=cellhere2 style='text-align:left'>&nbsp;&nbsp;Speed and Agility for  - 2004/05/18</th></tr></table></td></tr><tr><th>FirstName</th><th>Surname</th><th>Position</th><th>RugbyUnion</th><th>Test Date</th><th>10m Speed</th><th>40m Speed</th><th>Agility Illinois Result</th><th>Agility T-Test Result</th><th>Repeated Sprint Result</th><th>Shuttle Run Result</th><th>HIMS Rate recovery</th></tr><tr><td style='background-color:#CFDAE2; text-align:left' colspan='13'><b>Green U16</b></td></tr><td>Yuseph</td><td>Abrahams</td><td>Scrum-half</td><td>EP RFU</td><td>2004/02/12</td><td>1.76</td><td>5.38</td><td>14.49</td><td><Br></td><td><Br></td><td>96</td><td><Br></td></tr>
<td>Yuseph</td><td>Abrahams</td><td>Scrum-half</td><td>EP RFU</td><td>2003/08/18</td><td>1.95</td><td>5.66</td><td>13.93</td><td><Br></td><td><Br></td><td>81</td><td><Br></td></tr>
<td>Llewellyn</td><td>Adonis</td><td>Fullback</td><td>WP RFU</td><td>2004/02/12</td><td>1.79</td><td>5.18</td><td>14.66</td><td><Br></td><td><Br></td><td>105</td><td><Br></td></tr>
<td>Johannes</td><td>Barnard</td><td>Loosehead prop</td><td>Griffons RU</td><td>2003/08/18</td><td>1.97</td><td>5.71</td><td>14.99</td><td><Br></td><td><Br></td><td>82</td><td><Br></td></tr>
<td>Gideon</td><td>Basson</td><td>Hooker</td><td>WP RFU</td><td>2004/02/12</td><td>1.94</td><td>5.7</td><td>16.37</td><td><Br></td><td><Br></td><td>99</td><td><Br></td></tr>
<td>Ibrahim</td><td>Bligenhoudt</td><td>No 8</td><td>Mpumalanga RU</td><td>2003/08/05</td><td>1.97</td><td>5.73</td><td>15.2</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Ludwe</td><td>Booi</td><td>Hooker</td><td>Blue Bulls RU</td><td>2004/02/16</td><td>1.86</td><td>5.61</td><td>15.55</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Ludwe</td><td>Booi</td><td>Hooker</td><td>Blue Bulls RU</td><td>2003/08/05</td><td>1.95</td><td>5.64</td><td>15.4</td><td><Br></td><td><Br></td><td>90</td><td><Br></td></tr>
<td>Franco</td><td>Booysen</td><td>Outside centre</td><td>Falcons RU</td><td>2004/02/16</td><td>1.78</td><td>5.24</td><td>14.08</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Franco</td><td>Booysen</td><td>Outside centre</td><td>Falcons RU</td><td>2003/08/05</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>87</td><td><Br></td></tr>
<td>Ruan</td><td>Boshoff</td><td>Fly-half</td><td>Mpumalanga RU</td><td>2003/08/05</td><td>2.01</td><td>5.52</td><td>14.6</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Beyers</td><td>Broodryk</td><td>Inside centre</td><td>Leopards RU</td><td>2004/02/16</td><td>1.81</td><td>5.25</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Beyers</td><td>Broodryk</td><td>Inside centre</td><td>Leopards RU</td><td>2003/08/05</td><td><Br></td><td><Br></td><td>19.51</td><td><Br></td><td><Br></td><td>45</td><td><Br></td></tr>
<td>Divan</td><td>Burger</td><td>Second-row or Lock</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Inus</td><td>Carstens</td><td>Inside centre</td><td>WP RFU</td><td>2003/08/12</td><td>1.83</td><td>5.4</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Tatenda</td><td>Chidzawo</td><td>Second-row or Lock</td><td>KZN RU</td><td>2004/02/26</td><td>1.89</td><td>5.96</td><td>16.4</td><td>16</td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Marvin</td><td>Christians</td><td>Fullback</td><td>WP RFU</td><td>2004/02/12</td><td>1.79</td><td>5.15</td><td>15.01</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Marvin</td><td>Christians</td><td>Fullback</td><td>WP RFU</td><td>2003/08/28</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>26.5</td></tr>
<td>Louis</td><td>Coetzee</td><td>Tighthead prop</td><td>Leopards RU</td><td>2003/08/05</td><td>1.98</td><td>5.74</td><td>16</td><td><Br></td><td><Br></td><td>71</td><td><Br></td></tr>
<td>Jaco</td><td>Colyn</td><td>Scrum-half</td><td>SWD RFU</td><td>2003/08/11</td><td><Br></td><td>5.46</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Daniel</td><td>Crous</td><td>Blindside flanker</td><td>Free State RU</td><td>2004/02/09</td><td>1.84</td><td>5.34</td><td>17.97</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Daniel</td><td>Crous</td><td>Blindside flanker</td><td>Free State RU</td><td>2003/08/05</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>122</td><td><Br></td></tr>
<td>Willem</td><td>Daries</td><td>Right wing</td><td>Boland RU</td><td>2004/02/12</td><td>1.83</td><td>5.39</td><td>14.5</td><td><Br></td><td><Br></td><td>90</td><td><Br></td></tr>
<td>Zander</td><td>de Kock</td><td>Tighthead prop</td><td>Falcons RU</td><td>2004/02/16</td><td>1.9</td><td>5.5</td><td>15.82</td><td><Br></td><td><Br></td><td>63</td><td><Br></td></tr>
<td>Jacques</td><td>de Kock</td><td>Outside centre</td><td>Griqualand West RU</td><td>2003/08/04</td><td>1.89</td><td>5.28</td><td>14.38</td><td><Br></td><td><Br></td><td>105</td><td><Br></td></tr>
<td>Shaun</td><td>de Vos</td><td>Scrum-half</td><td>Leopards RU</td><td>2004/02/16</td><td><Br></td><td>5.32</td><td>15.06</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Shaun</td><td>de Vos</td><td>Scrum-half</td><td>Leopards RU</td><td>2003/08/05</td><td>1.86</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>84</td><td><Br></td></tr>
<td>Farrol</td><td>Domingo</td><td>Inside centre</td><td>EP RFU</td><td>2003/08/09</td><td>1.77</td><td>5.38</td><td>15.16</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Dabeon</td><td>Draghoender</td><td>Inside centre</td><td>Griffons RU</td><td>2003/08/18</td><td>1.84</td><td>5.37</td><td>14.46</td><td><Br></td><td><Br></td><td>81</td><td><Br></td></tr>
<td>Rikus</td><td>du Bruyn</td><td>Hooker</td><td>Golden Lions RU</td><td>2004/02/16</td><td>1.95</td><td>5.68</td><td>14.7</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Rikus</td><td>du Bruyn</td><td>Hooker</td><td>Golden Lions RU</td><td>2003/08/05</td><td>1.87</td><td>5.57</td><td>15</td><td><Br></td><td><Br></td><td>82</td><td><Br></td></tr>
<td>Riacco</td><td>Eilerd</td><td>Loosehead prop</td><td>Griqualand West RU</td><td>2004/02/09</td><td>1.84</td><td>5.67</td><td>17.88</td><td><Br></td><td><Br></td><td>109</td><td><Br></td></tr>
<td>Riacco</td><td>Eilerd</td><td>Loosehead prop</td><td>Griqualand West RU</td><td>2003/08/04</td><td>2.04</td><td>5.85</td><td>15.14</td><td><Br></td><td><Br></td><td>81</td><td><Br></td></tr>
<td>Julian</td><td>Erasmus</td><td>No 8</td><td>Blue Bulls RU</td><td>2004/02/16</td><td>1.85</td><td>5.56</td><td>15.3</td><td><Br></td><td><Br></td><td>95</td><td><Br></td></tr>
<td>Danwill</td><td>Erasmus</td><td>Right wing</td><td>WP RFU</td><td>2004/02/12</td><td>1.78</td><td>5.16</td><td>15.92</td><td><Br></td><td><Br></td><td>93</td><td><Br></td></tr>
<td>Julian</td><td>Erasmus</td><td>No 8</td><td>Blue Bulls RU</td><td>2003/08/05</td><td>1.94</td><td>5.57</td><td>15.6</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jobrey</td><td>Fortuin</td><td>Left wing</td><td>Boland RU</td><td>2004/02/12</td><td>1.8</td><td>5.27</td><td>14.29</td><td><Br></td><td><Br></td><td>86</td><td><Br></td></tr>
<td>Kirwan</td><td>Frieslaar</td><td>Openside flanker</td><td>EP RFU</td><td>2004/02/12</td><td>1.82</td><td>5.43</td><td>15.51</td><td><Br></td><td><Br></td><td>56</td><td><Br></td></tr>
<td>Kirwan</td><td>Frieslaar</td><td>Openside flanker</td><td>EP RFU</td><td>2003/08/09</td><td>1.81</td><td>5.48</td><td>14.99</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Byron</td><td>Godfrey</td><td>Fullback</td><td>Golden Lions RU</td><td>2004/02/16</td><td>1.85</td><td>5.35</td><td>14.4</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Lazola</td><td>Gonya</td><td>Openside flanker</td><td>WP RFU</td><td>2004/02/12</td><td>1.8</td><td>5.35</td><td>17.37</td><td><Br></td><td><Br></td><td>89</td><td><Br></td></tr>
<td>Jarryd</td><td>Greyvenstein</td><td>Second-row or Lock</td><td>Border RU</td><td>2004/02/13</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>80</td><td><Br></td></tr>
<td>Jarryd</td><td>Greyvenstein</td><td>Second-row or Lock</td><td>Border RU</td><td>2003/08/07</td><td>1.9</td><td>5.66</td><td>14.76</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Ivan</td><td>Grobler</td><td>No 8</td><td>Golden Lions RU</td><td>2004/02/16</td><td>1.81</td><td>5.27</td><td>14.4</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Ivan</td><td>Grobler</td><td>No 8</td><td>Golden Lions RU</td><td>2003/08/05</td><td>1.86</td><td>5.39</td><td>15.1</td><td><Br></td><td><Br></td><td>71</td><td><Br></td></tr>
<td>Hayden</td><td>Groepes</td><td>Fullback</td><td>Boland RU</td><td>2004/02/12</td><td>1.8</td><td>5.1</td><td>15.63</td><td><Br></td><td><Br></td><td>100</td><td><Br></td></tr>
<td>Lubabalo</td><td>Gwavu</td><td>Second-row or Lock</td><td>EP RFU</td><td>2003/08/09</td><td>1.87</td><td>5.73</td><td>14.81</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Eldon</td><td>Hess</td><td>Left wing</td><td>WP RFU</td><td>2004/02/12</td><td>1.8</td><td>5.34</td><td>15.26</td><td><Br></td><td><Br></td><td>88</td><td><Br></td></tr>
<td>Johan</td><td>Heunis</td><td>Left wing</td><td>SWD RFU</td><td>2003/08/11</td><td>1.84</td><td>5.43</td><td>15.18</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Mfana</td><td>Hlatshwayo</td><td>Outside centre</td><td>Mpumalanga RU</td><td>2003/08/05</td><td>1.82</td><td>5.33</td><td>14.1</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Conrad</td><td>Hoffmann</td><td>Scrum-half</td><td>WP RFU</td><td>2004/02/12</td><td>1.78</td><td>5.21</td><td>14.8</td><td><Br></td><td><Br></td><td>92</td><td><Br></td></tr>
<td>Rufus</td><td>Holtzhausen</td><td>No 8</td><td>Leopards RU</td><td>2004/02/16</td><td>1.91</td><td>5.46</td><td>15.16</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jerome</td><td>Horn</td><td>Right wing</td><td>SWD RFU</td><td>2003/08/11</td><td>1.88</td><td>5.71</td><td>15.24</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Johannes</td><td>Janse van Rensburg</td><td>Blindside flanker</td><td>Golden Lions RU</td><td>2004/02/16</td><td>1.81</td><td>5.39</td><td>14</td><td><Br></td><td><Br></td><td>112</td><td><Br></td></tr>
<td>Johannes</td><td>Janse van Rensburg</td><td>Blindside flanker</td><td>Golden Lions RU</td><td>2003/08/05</td><td>1.83</td><td>5.31</td><td>14.9</td><td><Br></td><td><Br></td><td>109</td><td><Br></td></tr>
<td>Yandisa</td><td>Jaxa</td><td>Right wing</td><td>Border RU</td><td>2004/02/13</td><td>1.8</td><td>5.33</td><td>14.98</td><td><Br></td><td><Br></td><td>87</td><td><Br></td></tr>
<td>Yandisa</td><td>Jaxa</td><td>Right wing</td><td>Border RU</td><td>2003/08/07</td><td>1.8</td><td>5.32</td><td>14.96</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Friedrich</td><td>Kamffer</td><td>Openside flanker</td><td>Free State RU</td><td>2004/02/09</td><td>1.94</td><td>5.69</td><td>17.81</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Friedrich</td><td>Kamffer</td><td>Openside flanker</td><td>Free State RU</td><td>2003/08/05</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>82</td><td><Br></td></tr>
<td>Hendrik</td><td>Kilian</td><td>Second-row or Lock</td><td>Leopards RU</td><td>2004/02/16</td><td>1.88</td><td>5.38</td><td>15.14</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Hendrik</td><td>Kilian</td><td>Second-row or Lock</td><td>Leopards RU</td><td>2003/08/05</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>89</td><td><Br></td></tr>
<td>Divan</td><td>Kotze</td><td>Fly-half</td><td>Blue Bulls RU</td><td>2004/02/16</td><td>1.82</td><td>5.54</td><td>14.67</td><td><Br></td><td><Br></td><td>84</td><td><Br></td></tr>
<td>Johann</td><td>Kritzinger</td><td>Tighthead prop</td><td>WP RFU</td><td>2004/02/12</td><td>2.02</td><td>5.93</td><td>16.73</td><td><Br></td><td><Br></td><td>82</td><td><Br></td></tr>
<td>Gert</td><td>Kroukamp</td><td>Openside flanker</td><td>WP RFU</td><td>2004/02/12</td><td>1.97</td><td>5.65</td><td>15.78</td><td><Br></td><td><Br></td><td>125</td><td><Br></td></tr>
<td>Thato</td><td>Lebitsa</td><td>Loosehead prop</td><td>KZN RU</td><td>2004/02/26</td><td>1.97</td><td>5.9</td><td>15</td><td>15.2</td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Thato</td><td>Lebitsa</td><td>Loosehead prop</td><td>KZN RU</td><td>2003/08/06</td><td>1.95</td><td>5.91</td><td>16.55</td><td><Br></td><td><Br></td><td>59</td><td><Br></td></tr>
<td>Marlon</td><td>Lewis</td><td>Scrum-half</td><td>EP RFU</td><td>2004/02/12</td><td>1.79</td><td>5.18</td><td>13.92</td><td><Br></td><td><Br></td><td>81</td><td><Br></td></tr>
<td>Marlon</td><td>Lewis</td><td>Scrum-half</td><td>EP RFU</td><td>2003/08/09</td><td>1.82</td><td>5.34</td><td>14.6</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Thamzamile</td><td>Majola</td><td>Fly-half</td><td>Golden Lions RU</td><td>2004/02/16</td><td><Br></td><td><Br></td><td>14.9</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Booi</td><td>Malgas</td><td>Right wing</td><td>Griqualand West RU</td><td>2004/02/09</td><td>1.85</td><td>5.17</td><td>17.13</td><td><Br></td><td><Br></td><td>93</td><td><Br></td></tr>
<td>Booi</td><td>Malgas</td><td>Right wing</td><td>Griqualand West RU</td><td>2003/08/04</td><td>1.91</td><td>5.25</td><td>14.5</td><td><Br></td><td><Br></td><td>96</td><td><Br></td></tr>
<td>Ghaliel</td><td>Markus</td><td>Right wing</td><td>Golden Lions RU</td><td>2004/02/16</td><td>1.75</td><td>5.19</td><td>15.1</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Justin</td><td>Meanwell</td><td>Hooker</td><td>KZN RU</td><td>2004/02/26</td><td>1.91</td><td>5.74</td><td>15.6</td><td>15.4</td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Rickus</td><td>Meintjies</td><td>Fullback</td><td>EP RFU</td><td>2004/02/12</td><td>1.82</td><td>5.37</td><td>14.42</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Rickus</td><td>Meintjies</td><td>Fullback</td><td>EP RFU</td><td>2003/08/09</td><td>1.8</td><td>5.41</td><td>14.43</td><td><Br></td><td><Br></td><td>71</td><td><Br></td></tr>
<td>Christopher</td><td>Micklewood</td><td>Fullback</td><td>KZN RU</td><td>2004/02/26</td><td>1.72</td><td>5.18</td><td>15.1</td><td>14.2</td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Christopher</td><td>Micklewood</td><td>Fullback</td><td>KZN RU</td><td>2003/08/06</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Cornelius</td><td>Minnie</td><td>Inside centre</td><td>Blue Bulls RU</td><td>2004/02/16</td><td>1.77</td><td>5.09</td><td>14.87</td><td><Br></td><td><Br></td><td>72</td><td><Br></td></tr>
<td>Cornelius</td><td>Minnie</td><td>Inside centre</td><td>Blue Bulls RU</td><td>2004/02/16</td><td>1.77</td><td>5.09</td><td>14.8</td><td><Br></td><td><Br></td><td>72</td><td><Br></td></tr>
<td>Cornelius</td><td>Minnie</td><td>Inside centre</td><td>Blue Bulls RU</td><td>2003/08/05</td><td>1.79</td><td>5.16</td><td>14.4</td><td><Br></td><td><Br></td><td>84</td><td><Br></td></tr>
<td>Preston</td><td>Mommsen</td><td>Fly-half</td><td>KZN RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Johann</td><td>Myburgh</td><td>Fullback</td><td>Border RU</td><td>2004/02/13</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>82</td><td><Br></td></tr>
<td>Johann</td><td>Myburgh</td><td>Fullback</td><td>Border RU</td><td>2003/08/07</td><td>1.83</td><td>5.3</td><td>14.32</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Eric</td><td>Ngoie</td><td>Openside flanker</td><td>KZN RU</td><td>2004/02/26</td><td>1.94</td><td>5.53</td><td>14.3</td><td>14.5</td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Eric</td><td>Ngoie</td><td>Openside flanker</td><td>KZN RU</td><td>2003/08/06</td><td>1.81</td><td>5.57</td><td>16.46</td><td><Br></td><td><Br></td><td>68</td><td><Br></td></tr>
<td>Malungisa</td><td>Nkosi</td><td>Second-row or Lock</td><td>Golden Lions RU</td><td>2004/02/16</td><td>1.86</td><td>5.31</td><td>15.3</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Luxolo</td><td>Nondwangu</td><td>Left wing</td><td>Border RU</td><td>2004/02/13</td><td>1.75</td><td>5.43</td><td>14.82</td><td><Br></td><td><Br></td><td>83</td><td><Br></td></tr>
<td>Luxolo</td><td>Nondwangu</td><td>Left wing</td><td>Border RU</td><td>2003/08/07</td><td>1.77</td><td>5.21</td><td>14.3</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Lubabalo</td><td>Ntuntwana</td><td>Right wing</td><td>EP RFU</td><td>2003/08/09</td><td>1.85</td><td>5.43</td><td>14.71</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Craig</td><td>Patrick</td><td>Left wing</td><td>Blue Bulls RU</td><td>2004/02/16</td><td>1.83</td><td>5.34</td><td>15.06</td><td><Br></td><td><Br></td><td>74</td><td><Br></td></tr>
<td>Craig</td><td>Patrick</td><td>Left wing</td><td>Blue Bulls RU</td><td>2003/08/05</td><td>1.81</td><td>5.27</td><td>14.4</td><td><Br></td><td><Br></td><td>67</td><td><Br></td></tr>
<td>Grant</td><td>Paulse</td><td>Scrum-half</td><td>Griffons RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Morne</td><td>Pereira</td><td>Hooker</td><td>Boland RU</td><td>2004/02/12</td><td>1.86</td><td>5.61</td><td>15.5</td><td><Br></td><td><Br></td><td>93</td><td><Br></td></tr>
<td>Coenraad</td><td>Pieterse</td><td>No 8</td><td>Free State RU</td><td>2004/02/09</td><td>1.8</td><td>5.14</td><td>17.33</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Coenraad</td><td>Pieterse</td><td>No 8</td><td>Free State RU</td><td>2003/08/05</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>122</td><td><Br></td></tr>
<td>Coenraad</td><td>Pieterse</td><td>No 8</td><td>Free State RU</td><td>2003/08/05</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>122</td><td><Br></td></tr>
<td>Dewald</td><td>Potgieter</td><td>Blindside flanker</td><td>EP RFU</td><td>2003/08/09</td><td>1.87</td><td>5.52</td><td>14.46</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Glen</td><td>Poulton</td><td>Blindside flanker</td><td>Griqualand West RU</td><td>2004/02/09</td><td>1.89</td><td>0</td><td>0</td><td><Br></td><td><Br></td><td>0</td><td><Br></td></tr>
<td>Glen</td><td>Poulton</td><td>Blindside flanker</td><td>Griqualand West RU</td><td>2003/08/04</td><td>2</td><td>5.53</td><td>15.23</td><td><Br></td><td><Br></td><td>74</td><td><Br></td></tr>
<td>Michael</td><td>Rhodes</td><td>Second-row or Lock</td><td>KZN RU</td><td>2004/02/26</td><td>1.98</td><td>5.76</td><td>15.8</td><td>15.5</td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Michael</td><td>Rhodes</td><td>Second-row or Lock</td><td>KZN RU</td><td>2003/08/06</td><td>1.86</td><td>5.74</td><td>17.01</td><td><Br></td><td><Br></td><td>68</td><td><Br></td></tr>
<td>Johnny</td><td>Schoeman</td><td>No 8</td><td>Griffons RU</td><td>2004/02/09</td><td>1.87</td><td>5.45</td><td>16.49</td><td><Br></td><td><Br></td><td>129</td><td><Br></td></tr>
<td>Ramano</td><td>Sebia</td><td>Hooker</td><td>Griffons RU</td><td>2003/08/04</td><td>2.04</td><td>5.66</td><td>14.74</td><td><Br></td><td><Br></td><td>81</td><td><Br></td></tr>
<td>Sifundo</td><td>Show</td><td>Left wing</td><td>EP RFU</td><td>2003/08/09</td><td>1.98</td><td>5.69</td><td>14.53</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Lefa</td><td>Silo</td><td>Second-row or Lock</td><td>Griffons RU</td><td>2003/08/04</td><td>2</td><td>5.62</td><td>14.76</td><td><Br></td><td><Br></td><td>81</td><td><Br></td></tr>
<td>Andre</td><td>Smith</td><td>Fly-half</td><td>WP RFU</td><td>2004/02/12</td><td>1.8</td><td>5.21</td><td>14.45</td><td><Br></td><td><Br></td><td>111</td><td><Br></td></tr>
<td>Siyabonga</td><td>Sono</td><td>Inside centre</td><td>Border RU</td><td>2004/02/13</td><td>1.83</td><td>5.55</td><td>15.23</td><td><Br></td><td><Br></td><td>92</td><td><Br></td></tr>
<td>Siyabonga</td><td>Sono</td><td>Inside centre</td><td>Border RU</td><td>2003/08/07</td><td>1.88</td><td>5.63</td><td>14.85</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Justin</td><td>St Jerry</td><td>Fullback</td><td>Golden Lions RU</td><td>2004/02/16</td><td>1.91</td><td>5.55</td><td>14.6</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jakobus</td><td>Stofberg</td><td>Second-row or Lock</td><td>WP RFU</td><td>2004/02/12</td><td>1.95</td><td>5.62</td><td>16.16</td><td><Br></td><td><Br></td><td>121</td><td><Br></td></tr>
<td>Renier</td><td>Strydom</td><td>Tighthead prop</td><td>Griqualand West RU</td><td>2004/02/09</td><td>1.97</td><td>5.83</td><td>18.88</td><td><Br></td><td><Br></td><td>9.8</td><td><Br></td></tr>
<td>Renier</td><td>Strydom</td><td>Tighthead prop</td><td>Griqualand West RU</td><td>2003/08/04</td><td>2.09</td><td>5.97</td><td>15.66</td><td><Br></td><td><Br></td><td>61</td><td><Br></td></tr>
<td>Jaco</td><td>Swanepoel</td><td>No 8</td><td>EP RFU</td><td>2004/02/12</td><td>1.77</td><td>5.34</td><td>15.04</td><td><Br></td><td><Br></td><td>64</td><td><Br></td></tr>
<td>Jaco</td><td>Swanepoel</td><td>No 8</td><td>EP RFU</td><td>2003/08/09</td><td>1.92</td><td>5.57</td><td>15</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Bradwell</td><td>Swartz</td><td>Fly-half</td><td>Boland RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Matthew</td><td>Tayler-Smith</td><td>Fly-half</td><td>EP RFU</td><td>2004/02/12</td><td>1.7</td><td>5.16</td><td>14.28</td><td><Br></td><td><Br></td><td>84</td><td><Br></td></tr>
<td>Matthew</td><td>Tayler-Smith</td><td>Fly-half</td><td>EP RFU</td><td>2003/08/09</td><td>1.79</td><td>5.46</td><td>14.4</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>David</td><td>Temo</td><td>Tighthead prop</td><td>Blue Bulls RU</td><td>2003/08/05</td><td>1.97</td><td>5.69</td><td>16.1</td><td><Br></td><td><Br></td><td>71</td><td><Br></td></tr>
<td>Gordon</td><td>Thomas</td><td>Loosehead prop</td><td>Golden Lions RU</td><td>2004/02/16</td><td>1.99</td><td>5.9</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Gordon</td><td>Thomas</td><td>Loosehead prop</td><td>Golden Lions RU</td><td>2003/08/05</td><td>2.01</td><td><Br></td><td>16.8</td><td><Br></td><td><Br></td><td>43</td><td><Br></td></tr>
<td>Cassim</td><td>Tiry</td><td>Loosehead prop</td><td>EP RFU</td><td>2003/08/09</td><td>1.92</td><td>5.71</td><td>14.68</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Morne</td><td>van der Westhuyzen</td><td>Second-row or Lock</td><td>EP RFU</td><td>2004/02/12</td><td>1.8</td><td>5.37</td><td>15.02</td><td><Br></td><td><Br></td><td>61</td><td><Br></td></tr>
<td>Morne</td><td>van der Westhuyzen</td><td>Second-row or Lock</td><td>EP RFU</td><td>2003/08/09</td><td>1.85</td><td>5.43</td><td>14.9</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Carel</td><td>Van Lill</td><td>Outside centre</td><td>WP RFU</td><td>2004/02/12</td><td>1.9</td><td>5.34</td><td>14.84</td><td><Br></td><td><Br></td><td>113</td><td><Br></td></tr>
<td>Werner</td><td>van Staden</td><td>Blindside flanker</td><td>Griqualand West RU</td><td>2004/02/09</td><td>1.83</td><td>5.35</td><td>17.08</td><td><Br></td><td><Br></td><td>11.1</td><td><Br></td></tr>
<td>Werner</td><td>van Staden</td><td>Blindside flanker</td><td>Griqualand West RU</td><td>2003/08/04</td><td>1.98</td><td>5.5</td><td>14.6</td><td><Br></td><td><Br></td><td>82</td><td><Br></td></tr>
<td>Tiaan</td><td>Van Wyk</td><td>Outside centre</td><td>Boland RU</td><td>2004/02/12</td><td>1.83</td><td>5.33</td><td>14.9</td><td><Br></td><td><Br></td><td>67</td><td><Br></td></tr>
<td>Jean</td><td>van Zyl</td><td>Tighthead prop</td><td>Free State RU</td><td>2003/08/05</td><td>2.22</td><td>6.23</td><td>15.73</td><td><Br></td><td><Br></td><td>61</td><td><Br></td></tr>
<td>Frederick</td><td>Viljoen</td><td>Fly-half</td><td>Boland RU</td><td>2004/02/12</td><td>1.86</td><td>5.45</td><td>15.01</td><td><Br></td><td><Br></td><td>100</td><td><Br></td></tr>
<td>Rowan</td><td>Walters</td><td>Left wing</td><td>Griqualand West RU</td><td>2004/02/09</td><td>1.79</td><td>5.23</td><td>17.19</td><td><Br></td><td><Br></td><td>10.9</td><td><Br></td></tr>
<td>Rowan</td><td>Walters</td><td>Left wing</td><td>Griqualand West RU</td><td>2003/08/04</td><td>1.84</td><td>5.21</td><td>14.07</td><td><Br></td><td><Br></td><td>95</td><td><Br></td></tr>
<td>David</td><td>Wannenburg</td><td>Hooker</td><td>EP RFU</td><td>2004/02/12</td><td>1.77</td><td>5.25</td><td>14.38</td><td><Br></td><td><Br></td><td>100</td><td><Br></td></tr>
<td>David</td><td>Wannenburg</td><td>Hooker</td><td>EP RFU</td><td>2003/08/09</td><td>1.79</td><td>5.55</td><td>13.86</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Bertram</td><td>Willemse</td><td>Outside centre</td><td>Boland RU</td><td>2004/02/12</td><td>1.77</td><td>5.27</td><td>15.44</td><td><Br></td><td><Br></td><td>77</td><td><Br></td></tr>
<td>Wynand</td><td>Willis</td><td>Left wing</td><td>Blue Bulls RU</td><td>2004/02/16</td><td><Br></td><td><Br></td><td>14.97</td><td><Br></td><td><Br></td><td>79</td><td><Br></td></tr>
<td>Wynand</td><td>Willis</td><td>Left wing</td><td>Blue Bulls RU</td><td>2004/02/16</td><td><Br></td><td><Br></td><td>14.9</td><td><Br></td><td><Br></td><td>79</td><td><Br></td></tr>
<tr><td style='background-color:#CFDAE2; text-align:left' colspan='13'><b>Green U18 </b></td></tr><td>Jacobus</td><td>Adriaanse</td><td>Tighthead prop</td><td>WP RFU</td><td>2004/02/22</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>20.8</td></tr>
<td>Jacobus</td><td>Adriaanse</td><td>Tighthead prop</td><td>WP RFU</td><td>2004/01/17</td><td>1.93</td><td>5.77</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jacobus</td><td>Adriaanse</td><td>Tighthead prop</td><td>WP RFU</td><td>2003/12/17</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>26.5</td></tr>
<td>Jacobus</td><td>Adriaanse</td><td>Tighthead prop</td><td>WP RFU</td><td>2003/11/25</td><td>2.04</td><td>5.8</td><td><Br></td><td><Br></td><td><Br></td><td>89</td><td><Br></td></tr>
<td>Jacobus</td><td>Adriaanse</td><td>Tighthead prop</td><td>WP RFU</td><td>2003/09/28</td><td>1.88</td><td>5.64</td><td><Br></td><td><Br></td><td><Br></td><td>82</td><td><Br></td></tr>
<td>Jacobus</td><td>Adriaanse</td><td>Tighthead prop</td><td>WP RFU</td><td>2003/08/12</td><td>2.01</td><td>5.8</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Marvin</td><td>Arendse</td><td>Left wing</td><td>Boland RU</td><td>2004/02/12</td><td>1.8</td><td>5.45</td><td>14.76</td><td><Br></td><td><Br></td><td>86</td><td><Br></td></tr>
<td>Bradley</td><td>Barritt</td><td>Inside centre</td><td>KZN RU</td><td>2004/02/26</td><td>1.83</td><td>5.31</td><td>13.8</td><td>13.8</td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Robert</td><td>Berrington</td><td>Second-row or Lock</td><td>Golden Lions RU</td><td>2004/02/16</td><td>1.9</td><td>5.76</td><td>14.92</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Robert</td><td>Berrington</td><td>Second-row or Lock</td><td>Golden Lions RU</td><td>2003/09/28</td><td>1.84</td><td>5.47</td><td><Br></td><td><Br></td><td><Br></td><td>96</td><td><Br></td></tr>
<td>Robert</td><td>Berrington</td><td>Second-row or Lock</td><td>Golden Lions RU</td><td>2003/08/09</td><td>1.85</td><td>5.86</td><td>15.72</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Nikolai</td><td>Blignaut</td><td>Second-row or Lock</td><td>KZN RU</td><td>2004/02/22</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>24.6</td></tr>
<td>Nikolai</td><td>Blignaut</td><td>Second-row or Lock</td><td>KZN RU</td><td>2004/01/17</td><td>1.92</td><td>5.29</td><td><Br></td><td><Br></td><td><Br></td><td>86</td><td><Br></td></tr>
<td>Nikolai</td><td>Blignaut</td><td>Second-row or Lock</td><td>KZN RU</td><td>2003/11/25</td><td>1.76</td><td>5.03</td><td><Br></td><td><Br></td><td><Br></td><td>104</td><td><Br></td></tr>
<td>Nikolai</td><td>Blignaut</td><td>Second-row or Lock</td><td>KZN RU</td><td>2003/08/06</td><td>1.72</td><td>5.2</td><td>15.34</td><td><Br></td><td><Br></td><td>86</td><td><Br></td></tr>
<td>Meyer</td><td>Bosman</td><td>Fly-half</td><td>Free State RU</td><td>2003/11/25</td><td>1.83</td><td>5.33</td><td><Br></td><td><Br></td><td><Br></td><td>100</td><td><Br></td></tr>
<td>Meyer</td><td>Bosman</td><td>Fly-half</td><td>Free State RU</td><td>2003/08/11</td><td><Br></td><td>5.45</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jonathan</td><td>Dangoumou</td><td>Openside flanker</td><td>Blue Bulls RU</td><td>2003/08/05</td><td>1.84</td><td>5.41</td><td>14.6</td><td><Br></td><td><Br></td><td>90</td><td><Br></td></tr>
<td>Noel</td><td>de Villiers</td><td>Inside centre</td><td>KZN RU</td><td>2004/02/26</td><td>1.83</td><td>5.34</td><td>14.2</td><td>14.1</td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Noel</td><td>de Villiers</td><td>Inside centre</td><td>KZN RU</td><td>2003/11/25</td><td>1.85</td><td>5.3</td><td><Br></td><td><Br></td><td><Br></td><td>111</td><td><Br></td></tr>
<td>Noel</td><td>de Villiers</td><td>Inside centre</td><td>KZN RU</td><td>2003/09/28</td><td>1.77</td><td>5.28</td><td><Br></td><td><Br></td><td><Br></td><td>102</td><td><Br></td></tr>
<td>Noel</td><td>de Villiers</td><td>Inside centre</td><td>KZN RU</td><td>2003/08/09</td><td>1.82</td><td>5.34</td><td>13.94</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Marius</td><td>Delport</td><td>Fullback</td><td>Blue Bulls RU</td><td>2004/02/22</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>25.3</td></tr>
<td>Albertus</td><td>Delport</td><td>Fly-half</td><td>Golden Lions RU</td><td>2004/02/22</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>18.3</td></tr>
<td>Albertus</td><td>Delport</td><td>Fly-half</td><td>Golden Lions RU</td><td>2003/12/17</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>34.3</td></tr>
<td>Albertus</td><td>Delport</td><td>Fly-half</td><td>Golden Lions RU</td><td>2003/12/01</td><td>1.74</td><td>5.04</td><td><Br></td><td><Br></td><td><Br></td><td>102</td><td><Br></td></tr>
<td>Albertus</td><td>Delport</td><td>Fly-half</td><td>Golden Lions RU</td><td>2003/11/25</td><td>1.74</td><td>5.04</td><td><Br></td><td><Br></td><td><Br></td><td>102</td><td><Br></td></tr>
<td>Marius</td><td>Delport</td><td>Fullback</td><td>Blue Bulls RU</td><td>2003/11/25</td><td>1.76</td><td>5.09</td><td><Br></td><td><Br></td><td><Br></td><td>108</td><td><Br></td></tr>
<td>Marius</td><td>Delport</td><td>Fullback</td><td>Blue Bulls RU</td><td>2003/09/28</td><td>1.77</td><td>5.13</td><td><Br></td><td><Br></td><td><Br></td><td>102</td><td><Br></td></tr>
<td>Albertus</td><td>Delport</td><td>Fly-half</td><td>Golden Lions RU</td><td>2003/09/28</td><td>1.76</td><td>5.14</td><td><Br></td><td><Br></td><td><Br></td><td>92</td><td><Br></td></tr>
<td>Albertus</td><td>Delport</td><td>Fly-half</td><td>Golden Lions RU</td><td>2003/08/09</td><td>1.77</td><td>5.34</td><td>14.09</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Marius</td><td>Delport</td><td>Fullback</td><td>Blue Bulls RU</td><td>2003/08/05</td><td>1.79</td><td>5.12</td><td>14.5</td><td><Br></td><td><Br></td><td>95</td><td><Br></td></tr>
<td>Teboho</td><td>Dhlamini</td><td>Openside flanker</td><td>Free State RU</td><td>2004/02/09</td><td>1.79</td><td>5.65</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Teboho</td><td>Dhlamini</td><td>Openside flanker</td><td>Free State RU</td><td>2003/08/05</td><td><Br></td><td><Br></td><td>14.56</td><td><Br></td><td><Br></td><td>115</td><td><Br></td></tr>
<td>Andrew</td><td>Dikobo</td><td>No 8</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Isma-eel</td><td>Dollie</td><td>Fly-half</td><td>WP RFU</td><td>2004/02/22</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>8.2</td></tr>
<td>Isma-eel</td><td>Dollie</td><td>Fly-half</td><td>WP RFU</td><td>2003/12/17</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>11.7</td></tr>
<td>Isma-eel</td><td>Dollie</td><td>Fly-half</td><td>WP RFU</td><td>2003/11/25</td><td>1.82</td><td>5.26</td><td><Br></td><td><Br></td><td><Br></td><td>121</td><td><Br></td></tr>
<td>Claude</td><td>Dry</td><td>Second-row or Lock</td><td>KZN RU</td><td>2004/02/26</td><td>1.9</td><td>5.68</td><td>14.7</td><td>14.5</td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Claude</td><td>Dry</td><td>Second-row or Lock</td><td>KZN RU</td><td>2003/11/25</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>106</td><td><Br></td></tr>
<td>Claude</td><td>Dry</td><td>Second-row or Lock</td><td>KZN RU</td><td>2003/09/28</td><td>1.87</td><td>5.7</td><td><Br></td><td><Br></td><td><Br></td><td>87</td><td><Br></td></tr>
<td>Jan</td><td>du Plessis</td><td>Fullback</td><td>WP RFU</td><td>2004/02/12</td><td>1.8</td><td>5.32</td><td>15.45</td><td><Br></td><td><Br></td><td>101</td><td><Br></td></tr>
<td>Daniel</td><td>du Plessis</td><td>Loosehead prop</td><td>WP RFU</td><td>2003/08/11</td><td>1.89</td><td>5.76</td><td>16.81</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Sylvester</td><td>Engelbrecht</td><td>Outside centre</td><td>Golden Lions RU</td><td>2004/02/16</td><td>1.89</td><td>5.24</td><td>14.77</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Sylvester</td><td>Engelbrecht</td><td>Outside centre</td><td>Golden Lions RU</td><td>2003/11/25</td><td>1.79</td><td>5.13</td><td><Br></td><td><Br></td><td><Br></td><td>104</td><td><Br></td></tr>
<td>Sylvester</td><td>Engelbrecht</td><td>Outside centre</td><td>Golden Lions RU</td><td>2003/09/28</td><td>1.74</td><td>5.1</td><td><Br></td><td><Br></td><td><Br></td><td>84</td><td><Br></td></tr>
<td>Gugulethu</td><td>Fata</td><td>Loosehead prop</td><td>KZN RU</td><td>2004/02/26</td><td>1.99</td><td>5.89</td><td>15.7</td><td>15.2</td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Gugulethu</td><td>Fata</td><td>Loosehead prop</td><td>KZN RU</td><td>2003/08/05</td><td>2.01</td><td>5.94</td><td>15.4</td><td><Br></td><td><Br></td><td>82</td><td><Br></td></tr>
<td>Deon</td><td>Fourie</td><td>Hooker</td><td>Limpopo</td><td>2003/08/05</td><td>1.79</td><td>5.14</td><td>14.7</td><td><Br></td><td><Br></td><td>93</td><td><Br></td></tr>
<td>Curlian</td><td>Genis</td><td>Fullback</td><td>SWD RFU</td><td>2004/01/17</td><td>1.77</td><td>5.24</td><td><Br></td><td><Br></td><td><Br></td><td>103</td><td><Br></td></tr>
<td>Curlian</td><td>Genis</td><td>Fullback</td><td>SWD RFU</td><td>2003/09/28</td><td>1.85</td><td>5.39</td><td><Br></td><td><Br></td><td><Br></td><td>95</td><td><Br></td></tr>
<td>Andisa</td><td>Gqobo</td><td>Fly-half</td><td>Border RU</td><td>2004/02/22</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>44</td></tr>
<td>Andisa</td><td>Gqobo</td><td>Fly-half</td><td>Border RU</td><td>2003/12/01</td><td>1.83</td><td>5.37</td><td><Br></td><td><Br></td><td><Br></td><td>130</td><td><Br></td></tr>
<td>Andisa</td><td>Gqobo</td><td>Fly-half</td><td>Border RU</td><td>2003/11/25</td><td>1.83</td><td>5.37</td><td><Br></td><td><Br></td><td><Br></td><td>130</td><td><Br></td></tr>
<td>Andisa</td><td>Gqobo</td><td>Fly-half</td><td>Border RU</td><td>2003/09/28</td><td>2</td><td>5.67</td><td><Br></td><td><Br></td><td><Br></td><td>120</td><td><Br></td></tr>
<td>Andisa</td><td>Gqobo</td><td>Fly-half</td><td>Border RU</td><td>2003/08/07</td><td>1.94</td><td>5.6</td><td>14.54</td><td><Br></td><td><Br></td><td>96</td><td><Br></td></tr>
<td>Gert</td><td>Greyling</td><td>Tighthead prop</td><td>Free State RU</td><td>2004/02/09</td><td>2.02</td><td>5.84</td><td>18.35</td><td><Br></td><td><Br></td><td>64</td><td><Br></td></tr>
<td>Anthonie</td><td>Gronum</td><td>Second-row or Lock</td><td>SWD RFU</td><td>2004/01/17</td><td>1.82</td><td>5.49</td><td><Br></td><td><Br></td><td><Br></td><td>86</td><td><Br></td></tr>
<td>Anthonie</td><td>Gronum</td><td>Second-row or Lock</td><td>SWD RFU</td><td>2003/12/01</td><td>1.75</td><td>5.32</td><td><Br></td><td><Br></td><td><Br></td><td>181</td><td><Br></td></tr>
<td>Anthonie</td><td>Gronum</td><td>Second-row or Lock</td><td>SWD RFU</td><td>2003/11/25</td><td>1.75</td><td>5.32</td><td><Br></td><td><Br></td><td><Br></td><td>85</td><td><Br></td></tr>
<td>Anthonie</td><td>Gronum</td><td>Second-row or Lock</td><td>SWD RFU</td><td>2003/08/11</td><td>1.86</td><td>5.41</td><td>16.09</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Alistair</td><td>Hargreaves</td><td>Second-row or Lock</td><td>KZN RU</td><td>2004/02/22</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>21.1</td></tr>
<td>Alistair</td><td>Hargreaves</td><td>Second-row or Lock</td><td>KZN RU</td><td>2004/01/17</td><td>1.85</td><td>5.44</td><td><Br></td><td><Br></td><td><Br></td><td>98</td><td><Br></td></tr>
<td>Alistair</td><td>Hargreaves</td><td>Second-row or Lock</td><td>KZN RU</td><td>2003/12/01</td><td>1.77</td><td>5.32</td><td><Br></td><td><Br></td><td><Br></td><td>108</td><td><Br></td></tr>
<td>Alistair</td><td>Hargreaves</td><td>Second-row or Lock</td><td>KZN RU</td><td>2003/11/25</td><td>1.77</td><td>5.32</td><td><Br></td><td><Br></td><td><Br></td><td>108</td><td><Br></td></tr>
<td>Alistair</td><td>Hargreaves</td><td>Second-row or Lock</td><td>KZN RU</td><td>2003/09/28</td><td>1.82</td><td>5.37</td><td><Br></td><td><Br></td><td><Br></td><td>94</td><td><Br></td></tr>
<td>Alistair</td><td>Hargreaves</td><td>Second-row or Lock</td><td>KZN RU</td><td>2003/08/06</td><td>1.75</td><td>5.41</td><td>15.4</td><td><Br></td><td><Br></td><td>86</td><td><Br></td></tr>
<td>Berwan</td><td>Haupt</td><td>Inside centre</td><td>WP RFU</td><td>2004/02/12</td><td>1.83</td><td>5.54</td><td>15.77</td><td><Br></td><td><Br></td><td>86</td><td><Br></td></tr>
<td>Alwyn</td><td>Hollenbach</td><td>Inside centre</td><td>Free State RU</td><td>2004/02/22</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>18.1</td></tr>
<td>Alwyn</td><td>Hollenbach</td><td>Inside centre</td><td>Free State RU</td><td>2004/01/17</td><td>1.76</td><td>5.23</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Alwyn</td><td>Hollenbach</td><td>Inside centre</td><td>Free State RU</td><td>2003/12/17</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>26</td></tr>
<td>Alwyn</td><td>Hollenbach</td><td>Inside centre</td><td>Free State RU</td><td>2003/12/01</td><td>1.8</td><td>5.21</td><td><Br></td><td><Br></td><td><Br></td><td>101</td><td><Br></td></tr>
<td>Alwyn</td><td>Hollenbach</td><td>Inside centre</td><td>Free State RU</td><td>2003/11/25</td><td>1.8</td><td>5.21</td><td><Br></td><td><Br></td><td><Br></td><td>101</td><td><Br></td></tr>
<td>Alwyn</td><td>Hollenbach</td><td>Inside centre</td><td>Free State RU</td><td>2003/09/28</td><td>1.8</td><td>5.22</td><td><Br></td><td><Br></td><td><Br></td><td>94</td><td><Br></td></tr>
<td>Alwyn</td><td>Hollenbach</td><td>Inside centre</td><td>Free State RU</td><td>2003/08/05</td><td>2.06</td><td>5.46</td><td>14.72</td><td><Br></td><td><Br></td><td>107</td><td><Br></td></tr>
<td>Andrew</td><td>Irumba</td><td>Left wing</td><td>Golden Lions RU</td><td>2003/12/01</td><td>1.87</td><td>5.34</td><td><Br></td><td><Br></td><td><Br></td><td>133</td><td><Br></td></tr>
<td>Andrew</td><td>Irumba</td><td>Left wing</td><td>Golden Lions RU</td><td>2003/11/25</td><td>1.87</td><td>5.34</td><td><Br></td><td><Br></td><td><Br></td><td>133</td><td><Br></td></tr>
<td>Thando</td><td>Jacobs</td><td>Fly-half</td><td>WP RFU</td><td>2004/02/12</td><td>1.9</td><td>5.56</td><td>14.94</td><td><Br></td><td><Br></td><td>78</td><td><Br></td></tr>
<td>Sakhiwo</td><td>Jaji</td><td>Left wing</td><td>Border RU</td><td>2004/02/22</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>29.7</td></tr>
<td>Sakhiwo</td><td>Jaji</td><td>Left wing</td><td>Border RU</td><td>2003/12/17</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>27.9</td></tr>
<td>Sakhiwo</td><td>Jaji</td><td>Left wing</td><td>Border RU</td><td>2003/11/25</td><td>1.69</td><td>4.95</td><td><Br></td><td><Br></td><td><Br></td><td>106</td><td><Br></td></tr>
<td>Sakhiwo</td><td>Jaji</td><td>Left wing</td><td>Border RU</td><td>2003/09/28</td><td>1.78</td><td>5.09</td><td><Br></td><td><Br></td><td><Br></td><td>95</td><td><Br></td></tr>
<td>Sakhiwo</td><td>Jaji</td><td>Left wing</td><td>Border RU</td><td>2003/08/07</td><td>1.8</td><td>5.09</td><td>14.45</td><td><Br></td><td><Br></td><td>87</td><td><Br></td></tr>
<td>Erasmus</td><td>Jansen van Vuuren</td><td>Hooker</td><td>Mpumalanga RU</td><td>2003/09/28</td><td>1.92</td><td>5.78</td><td><Br></td><td><Br></td><td><Br></td><td>80</td><td><Br></td></tr>
<td>Whybro</td><td>Johnson</td><td>Left wing</td><td>Falcons RU</td><td>2004/02/16</td><td>1.75</td><td>5.14</td><td>14.68</td><td><Br></td><td><Br></td><td>98</td><td><Br></td></tr>
<td>Ashley</td><td>Johnson</td><td>Openside flanker</td><td>WP RFU</td><td>2004/01/17</td><td>1.8</td><td>5.38</td><td><Br></td><td><Br></td><td><Br></td><td>65</td><td><Br></td></tr>
<td>Ashley</td><td>Johnson</td><td>Openside flanker</td><td>WP RFU</td><td>2003/12/01</td><td>1.76</td><td>5.26</td><td><Br></td><td><Br></td><td><Br></td><td>87</td><td><Br></td></tr>
<td>Ashley</td><td>Johnson</td><td>Openside flanker</td><td>WP RFU</td><td>2003/11/25</td><td>1.76</td><td>5.26</td><td><Br></td><td><Br></td><td><Br></td><td>87</td><td><Br></td></tr>
<td>Ashley</td><td>Johnson</td><td>Openside flanker</td><td>WP RFU</td><td>2003/09/28</td><td>1.81</td><td>5.28</td><td><Br></td><td><Br></td><td><Br></td><td>73</td><td><Br></td></tr>
<td>Ashley</td><td>Johnson</td><td>Openside flanker</td><td>WP RFU</td><td>2003/08/12</td><td>1.87</td><td>5.49</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Leon</td><td>Karemaker</td><td>Blindside flanker</td><td>WP RFU</td><td>2004/02/22</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>24.2</td></tr>
<td>Leon</td><td>Karemaker</td><td>Blindside flanker</td><td>WP RFU</td><td>2004/01/17</td><td>1.8</td><td>5.23</td><td><Br></td><td><Br></td><td><Br></td><td>81</td><td><Br></td></tr>
<td>Leon</td><td>Karemaker</td><td>Blindside flanker</td><td>WP RFU</td><td>2003/12/17</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>19.1</td></tr>
<td>Leon</td><td>Karemaker</td><td>Blindside flanker</td><td>WP RFU</td><td>2003/11/25</td><td>1.82</td><td>5.19</td><td><Br></td><td><Br></td><td><Br></td><td>91</td><td><Br></td></tr>
<td>Cornelius</td><td>Kemp</td><td>No 8</td><td>Bulls</td><td>2003/08/11</td><td>1.73</td><td>5.34</td><td>15.33</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Chester</td><td>Koyana</td><td>Outside centre</td><td>Border RU</td><td>2004/02/22</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>26.3</td></tr>
<td>Chester</td><td>Koyana</td><td>Outside centre</td><td>Border RU</td><td>2004/01/17</td><td>1.79</td><td>5.45</td><td><Br></td><td><Br></td><td><Br></td><td>101</td><td><Br></td></tr>
<td>Chester</td><td>Koyana</td><td>Outside centre</td><td>Border RU</td><td>2003/11/25</td><td>1.74</td><td>5.1</td><td><Br></td><td><Br></td><td><Br></td><td>120</td><td><Br></td></tr>
<td>Chester</td><td>Koyana</td><td>Outside centre</td><td>Border RU</td><td>2003/09/28</td><td>1.75</td><td>5.12</td><td><Br></td><td><Br></td><td><Br></td><td>109</td><td><Br></td></tr>
<td>Chester</td><td>Koyana</td><td>Outside centre</td><td>Border RU</td><td>2003/08/07</td><td>1.77</td><td>5.11</td><td>14.29</td><td><Br></td><td><Br></td><td>104</td><td><Br></td></tr>
<td>Quintin</td><td>Kruger</td><td>Scrum-half</td><td>Leopards RU</td><td>2003/11/25</td><td>1.81</td><td>5.2</td><td><Br></td><td><Br></td><td><Br></td><td>129</td><td><Br></td></tr>
<td>Ernie</td><td>Kruger</td><td>Outside centre</td><td>Blue Bulls RU</td><td>2003/11/25</td><td>1.89</td><td>5.38</td><td><Br></td><td><Br></td><td><Br></td><td>87</td><td><Br></td></tr>
<td>Juandre</td><td>Kruger</td><td>No 8</td><td>WP RFU</td><td>2003/09/28</td><td>1.76</td><td>5.24</td><td><Br></td><td><Br></td><td><Br></td><td>82</td><td><Br></td></tr>
<td>Francois</td><td>la Grange</td><td>Blindside flanker</td><td>Mpumalanga RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Damian</td><td>Labans</td><td>Scrum-half</td><td>Boland RU</td><td>2003/08/04</td><td>1.89</td><td>5.37</td><td>14.92</td><td><Br></td><td><Br></td><td>94</td><td><Br></td></tr>
<td>Samuel</td><td>Leburu</td><td>Loosehead prop</td><td>Free State RU</td><td>2003/08/04</td><td>2.18</td><td>6.11</td><td>15.71</td><td><Br></td><td><Br></td><td>71</td><td><Br></td></tr>
<td>Hilton</td><td>Lobberts</td><td>Blindside flanker</td><td>Boland RU</td><td>2004/02/22</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>24.3</td></tr>
<td>Hilton</td><td>Lobberts</td><td>Blindside flanker</td><td>Boland RU</td><td>2004/01/17</td><td>1.88</td><td>5.33</td><td><Br></td><td><Br></td><td><Br></td><td>91</td><td><Br></td></tr>
<td>Hilton</td><td>Lobberts</td><td>Blindside flanker</td><td>Boland RU</td><td>2003/09/28</td><td>1.84</td><td>5.23</td><td><Br></td><td><Br></td><td><Br></td><td>83</td><td><Br></td></tr>
<td>Pieter</td><td>Louw</td><td>No 8</td><td>WP RFU</td><td>2004/02/22</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>23</td></tr>
<td>Pieter</td><td>Louw</td><td>No 8</td><td>WP RFU</td><td>2004/01/17</td><td>1.86</td><td>5.59</td><td><Br></td><td><Br></td><td><Br></td><td>106</td><td><Br></td></tr>
<td>Pieter</td><td>Louw</td><td>No 8</td><td>WP RFU</td><td>2003/12/17</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>22.9</td></tr>
<td>Pieter</td><td>Louw</td><td>No 8</td><td>WP RFU</td><td>2003/11/25</td><td>1.85</td><td>5.47</td><td><Br></td><td><Br></td><td><Br></td><td>101</td><td><Br></td></tr>
<td>Pieter</td><td>Louw</td><td>No 8</td><td>WP RFU</td><td>2003/08/12</td><td>1.85</td><td>5.54</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Luyanda</td><td>Madiba</td><td>Outside centre</td><td>Border RU</td><td>2003/09/28</td><td>1.84</td><td>5.35</td><td><Br></td><td><Br></td><td><Br></td><td>99</td><td><Br></td></tr>
<td>Luyanda</td><td>Madiba</td><td>Outside centre</td><td>Border RU</td><td>2003/08/07</td><td>1.73</td><td>5.18</td><td>14.25</td><td><Br></td><td><Br></td><td>96</td><td><Br></td></tr>
<td>Sisa</td><td>Mafu</td><td>No 8</td><td>Blue Bulls RU</td><td>2003/08/09</td><td>1.85</td><td>5.48</td><td>14.53</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Lukhanyo</td><td>Majorman</td><td>Blindside flanker</td><td>WP RFU</td><td>2004/02/12</td><td>1.95</td><td>5.44</td><td><Br></td><td><Br></td><td><Br></td><td>99</td><td><Br></td></tr>
<td>Lukhanyo</td><td>Majorman</td><td>Blindside flanker</td><td>WP RFU</td><td>2003/08/07</td><td><Br></td><td><Br></td><td>14.73</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Warren</td><td>Malgas</td><td>Scrum-half</td><td>SWD RFU</td><td>2003/11/25</td><td>1.8</td><td>5.44</td><td><Br></td><td><Br></td><td><Br></td><td>104</td><td><Br></td></tr>
<td>Warren</td><td>Malgas</td><td>Scrum-half</td><td>SWD RFU</td><td>2003/08/11</td><td>1.79</td><td>5.58</td><td>15.31</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Madoda</td><td>Manoni</td><td>Second-row or Lock</td><td>EP RFU</td><td>2004/02/12</td><td>1.83</td><td>5.43</td><td>15.21</td><td><Br></td><td><Br></td><td>61</td><td><Br></td></tr>
<td>Madoda</td><td>Manoni</td><td>Second-row or Lock</td><td>EP RFU</td><td>2003/08/09</td><td>1.85</td><td>5.6</td><td>14.64</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Divan</td><td>Manus</td><td>Loosehead prop</td><td>Griqualand West RU</td><td>2004/02/09</td><td><Br></td><td><Br></td><td>0</td><td><Br></td><td><Br></td><td>0</td><td><Br></td></tr>
<td>Divan</td><td>Manus</td><td>Loosehead prop</td><td>Griqualand West RU</td><td>2003/09/28</td><td>1.95</td><td>5.71</td><td><Br></td><td><Br></td><td><Br></td><td>80</td><td><Br></td></tr>
<td>Divan</td><td>Manus</td><td>Loosehead prop</td><td>Griqualand West RU</td><td>2003/08/04</td><td>2.11</td><td>5.76</td><td>15.46</td><td><Br></td><td><Br></td><td>72</td><td><Br></td></tr>
<td>Gere</td><td>Maree</td><td>Blindside flanker</td><td>Blue Bulls RU</td><td>2004/02/16</td><td>1.85</td><td>5.32</td><td>16.08</td><td><Br></td><td><Br></td><td>97</td><td><Br></td></tr>
<td>Gere</td><td>Maree</td><td>Blindside flanker</td><td>Blue Bulls RU</td><td>2004/02/16</td><td>1.85</td><td>5.32</td><td>16.8</td><td><Br></td><td><Br></td><td>97</td><td><Br></td></tr>
<td>Gere</td><td>Maree</td><td>Blindside flanker</td><td>Blue Bulls RU</td><td>2003/09/28</td><td>1.87</td><td>5.43</td><td><Br></td><td><Br></td><td><Br></td><td>108</td><td><Br></td></tr>
<td>Torrie</td><td>Meyer</td><td>No 8</td><td>Golden Lions RU</td><td>2004/02/22</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>12.2</td></tr>
<td>Torrie</td><td>Meyer</td><td>No 8</td><td>Golden Lions RU</td><td>2004/01/17</td><td>1.8</td><td>5.44</td><td><Br></td><td><Br></td><td><Br></td><td>112</td><td><Br></td></tr>
<td>Torrie</td><td>Meyer</td><td>No 8</td><td>Golden Lions RU</td><td>2003/11/25</td><td>1.83</td><td>5.36</td><td><Br></td><td><Br></td><td><Br></td><td>106</td><td><Br></td></tr>
<td>Torrie</td><td>Meyer</td><td>No 8</td><td>Golden Lions RU</td><td>2003/09/28</td><td>1.78</td><td>5.38</td><td><Br></td><td><Br></td><td><Br></td><td>98</td><td><Br></td></tr>
<td>Luvuyo</td><td>Mhlobiso</td><td>Left wing</td><td>EP RFU</td><td>2003/08/09</td><td>1.85</td><td>5.31</td><td>14.46</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jason</td><td>Mitchell</td><td>Left wing</td><td>WP RFU</td><td>2004/02/12</td><td>1.75</td><td>5.02</td><td>15.17</td><td><Br></td><td><Br></td><td>89</td><td><Br></td></tr>
<td>Cedric</td><td>Mkhize</td><td>Right wing</td><td>KZN RU</td><td>2003/12/01</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>94</td><td><Br></td></tr>
<td>Cedric</td><td>Mkhize</td><td>Right wing</td><td>KZN RU</td><td>2003/11/25</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>94</td><td><Br></td></tr>
<td>Cedric</td><td>Mkhize</td><td>Right wing</td><td>KZN RU</td><td>2003/09/28</td><td>1.76</td><td>4.95</td><td><Br></td><td><Br></td><td><Br></td><td>90</td><td><Br></td></tr>
<td>Cedric</td><td>Mkhize</td><td>Right wing</td><td>KZN RU</td><td>2003/09/28</td><td>1.76</td><td>4.95</td><td><Br></td><td><Br></td><td><Br></td><td>90</td><td><Br></td></tr>
<td>Dumani</td><td>Mtya</td><td>Second-row or Lock</td><td>WP RFU</td><td>2004/02/12</td><td>1.9</td><td>5.63</td><td>16.1</td><td><Br></td><td><Br></td><td>103</td><td><Br></td></tr>
<td>Sangoni</td><td>Mxoli</td><td>Tighthead prop</td><td>KZN RU</td><td>2004/02/22</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>25.7</td></tr>
<td>Sangoni</td><td>Mxoli</td><td>Tighthead prop</td><td>KZN RU</td><td>2004/01/17</td><td>1.83</td><td>5.55</td><td><Br></td><td><Br></td><td><Br></td><td>91</td><td><Br></td></tr>
<td>Sangoni</td><td>Mxoli</td><td>Tighthead prop</td><td>KZN RU</td><td>2003/12/17</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>24.5</td></tr>
<td>Sangoni</td><td>Mxoli</td><td>Tighthead prop</td><td>KZN RU</td><td>2003/11/25</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>111</td><td><Br></td><td><Br></td></tr>
<td>Stefan</td><td>Nel</td><td>Loosehead prop</td><td>Golden Lions RU</td><td>2004/01/17</td><td>1.99</td><td>5.95</td><td><Br></td><td><Br></td><td><Br></td><td>66</td><td><Br></td></tr>
<td>Stefan</td><td>Nel</td><td>Loosehead prop</td><td>Golden Lions RU</td><td>2003/12/17</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>14.9</td></tr>
<td>Stefan</td><td>Nel</td><td>Loosehead prop</td><td>Golden Lions RU</td><td>2003/09/28</td><td>2.03</td><td>6.05</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Thobela</td><td>Ngonyoza</td><td>Openside flanker</td><td>WP RFU</td><td>2004/01/17</td><td>1.85</td><td>5.66</td><td><Br></td><td><Br></td><td><Br></td><td>81</td><td><Br></td></tr>
<td>Thobela</td><td>Ngonyoza</td><td>Openside flanker</td><td>WP RFU</td><td>2003/11/25</td><td>1.78</td><td>5.43</td><td><Br></td><td><Br></td><td><Br></td><td>113</td><td><Br></td></tr>
<td>Thobela</td><td>Ngonyoza</td><td>Openside flanker</td><td>WP RFU</td><td>2003/09/28</td><td>1.87</td><td>5.68</td><td><Br></td><td><Br></td><td><Br></td><td>115</td><td><Br></td></tr>
<td>Thato</td><td>Ntechane</td><td>Hooker</td><td>Free State RU</td><td>2003/08/05</td><td>2.1</td><td>6.05</td><td>15.44</td><td><Br></td><td><Br></td><td>75</td><td><Br></td></tr>
<td>Siviwe</td><td>Nyobole</td><td>Openside flanker</td><td>WP RFU</td><td>2004/02/12</td><td>1.97</td><td>5.78</td><td>15.18</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Chiliboy</td><td>Ralepelle</td><td>Hooker</td><td>Blue Bulls RU</td><td>2004/02/22</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>16.6</td></tr>
<td>Chiliboy</td><td>Ralepelle</td><td>Hooker</td><td>Blue Bulls RU</td><td>2004/01/17</td><td>1.7</td><td>5.32</td><td><Br></td><td><Br></td><td><Br></td><td>111</td><td><Br></td></tr>
<td>Chiliboy</td><td>Ralepelle</td><td>Hooker</td><td>Blue Bulls RU</td><td>2003/12/17</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>11.1</td></tr>
<td>Chiliboy</td><td>Ralepelle</td><td>Hooker</td><td>Blue Bulls RU</td><td>2003/11/25</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>98</td><td><Br></td></tr>
<td>Chiliboy</td><td>Ralepelle</td><td>Hooker</td><td>Blue Bulls RU</td><td>2003/08/08</td><td>1.96</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Chiliboy</td><td>Ralepelle</td><td>Hooker</td><td>Blue Bulls RU</td><td>2003/08/05</td><td><Br></td><td>5.53</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Steph</td><td>Roberts</td><td>Loosehead prop</td><td>Free State RU</td><td>2004/02/22</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>19.3</td></tr>
<td>Steph</td><td>Roberts</td><td>Loosehead prop</td><td>Free State RU</td><td>2004/02/09</td><td>2.08</td><td>5.86</td><td>17.5</td><td><Br></td><td><Br></td><td>97</td><td><Br></td></tr>
<td>Jody</td><td>Rose</td><td>Fly-half</td><td>WP RFU</td><td>2004/02/22</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>31.3</td></tr>
<td>Jody</td><td>Rose</td><td>Fly-half</td><td>WP RFU</td><td>2003/12/17</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>32.6</td></tr>
<td>Jody</td><td>Rose</td><td>Fly-half</td><td>WP RFU</td><td>2003/11/25</td><td>1.86</td><td>5.39</td><td><Br></td><td><Br></td><td><Br></td><td>127</td><td><Br></td></tr>
<td>Jody</td><td>Rose</td><td>Fly-half</td><td>WP RFU</td><td>2003/09/28</td><td>1.85</td><td>5.38</td><td><Br></td><td><Br></td><td><Br></td><td>105</td><td><Br></td></tr>
<td>Ashwin</td><td>Scott</td><td>Inside centre</td><td>SWD RFU</td><td>2003/08/11</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Gary</td><td>Scott</td><td>Hooker</td><td>Golden Lions RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Curtis</td><td>Siegelaar</td><td>Scrum-half</td><td>WP RFU</td><td>2004/02/12</td><td>1.86</td><td>5.38</td><td>15.43</td><td><Br></td><td><Br></td><td>107</td><td><Br></td></tr>
<td>Quintin</td><td>Snyman</td><td>Right wing</td><td>Golden Lions RU</td><td>2003/09/28</td><td>1.76</td><td>5.14</td><td><Br></td><td><Br></td><td><Br></td><td>108</td><td><Br></td></tr>
<td>Pieter</td><td>Spaumer</td><td>Outside centre</td><td>Blue Bulls RU</td><td>2004/02/16</td><td><Br></td><td><Br></td><td>15.3</td><td><Br></td><td><Br></td><td>91</td><td><Br></td></tr>
<td>Pieter</td><td>Spaumer</td><td>Outside centre</td><td>Blue Bulls RU</td><td>2003/11/25</td><td>1.77</td><td>5.29</td><td><Br></td><td><Br></td><td><Br></td><td>108</td><td><Br></td></tr>
<td>Pieter</td><td>Spaumer</td><td>Outside centre</td><td>Blue Bulls RU</td><td>2003/09/28</td><td>1.83</td><td>5.4</td><td><Br></td><td><Br></td><td><Br></td><td>90</td><td><Br></td></tr>
<td>Pieter</td><td>Spaumer</td><td>Outside centre</td><td>Blue Bulls RU</td><td>2003/08/05</td><td><Br></td><td>5.31</td><td>14.3</td><td><Br></td><td><Br></td><td>95</td><td><Br></td></tr>
<td>Pieter</td><td>Spaumer</td><td>Outside centre</td><td>Blue Bulls RU</td><td>2003/03/08</td><td>1.84</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Pierre</td><td>Spies</td><td>Left wing</td><td>Blue Bulls RU</td><td>2004/02/22</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>19.3</td></tr>
<td>Pierre</td><td>Spies</td><td>Left wing</td><td>Blue Bulls RU</td><td>2004/01/17</td><td>1.77</td><td>5.13</td><td><Br></td><td><Br></td><td><Br></td><td>120</td><td><Br></td></tr>
<td>Pierre</td><td>Spies</td><td>Left wing</td><td>Blue Bulls RU</td><td>2003/12/17</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>14.8</td></tr>
<td>Pierre</td><td>Spies</td><td>Left wing</td><td>Blue Bulls RU</td><td>2003/11/25</td><td>1.86</td><td>5.23</td><td><Br></td><td><Br></td><td><Br></td><td>133</td><td><Br></td></tr>
<td>Frederik</td><td>Spies</td><td>Second-row or Lock</td><td>Griffons RU</td><td>2003/11/25</td><td>1.78</td><td>5.59</td><td><Br></td><td><Br></td><td><Br></td><td>80</td><td><Br></td></tr>
<td>Frederik</td><td>Spies</td><td>Second-row or Lock</td><td>Griffons RU</td><td>2003/09/28</td><td>1.98</td><td>5.78</td><td><Br></td><td><Br></td><td><Br></td><td>76</td><td><Br></td></tr>
<td>Pierre</td><td>Spies</td><td>Left wing</td><td>Blue Bulls RU</td><td>2003/09/28</td><td>1.78</td><td>5.09</td><td><Br></td><td><Br></td><td><Br></td><td>116</td><td><Br></td></tr>
<td>Frederik</td><td>Spies</td><td>Second-row or Lock</td><td>Griffons RU</td><td>2003/08/11</td><td>2.04</td><td>5.85</td><td>15.23</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Pierre</td><td>Spies</td><td>Left wing</td><td>Blue Bulls RU</td><td>2003/08/05</td><td>1.81</td><td>5.09</td><td>14.1</td><td><Br></td><td><Br></td><td>117</td><td><Br></td></tr>
<td>Edward</td><td>Squires</td><td>Fullback</td><td>KZN RU</td><td>2004/02/22</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>29.1</td></tr>
<td>Edward</td><td>Squires</td><td>Fullback</td><td>KZN RU</td><td>2003/11/25</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>92</td><td><Br></td></tr>
<td>Edward</td><td>Squires</td><td>Fullback</td><td>KZN RU</td><td>2003/09/28</td><td>1.75</td><td>5.11</td><td><Br></td><td><Br></td><td><Br></td><td>92</td><td><Br></td></tr>
<td>Gideon</td><td>Stander</td><td>Fly-half</td><td>Falcons RU</td><td>2004/02/16</td><td>1.82</td><td>5.37</td><td>14.94</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Gideon</td><td>Stander</td><td>Fly-half</td><td>Falcons RU</td><td>2003/08/05</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>86</td><td><Br></td></tr>
<td>Jabez</td><td>Steenkamp</td><td>Second-row or Lock</td><td>Blue Bulls RU</td><td>2004/02/16</td><td>1.79</td><td>5.26</td><td>15.93</td><td><Br></td><td><Br></td><td>81</td><td><Br></td></tr>
<td>Jabez</td><td>Steenkamp</td><td>Second-row or Lock</td><td>Blue Bulls RU</td><td>2003/09/28</td><td>1.81</td><td>5.28</td><td><Br></td><td><Br></td><td><Br></td><td>84</td><td><Br></td></tr>
<td>Jabez</td><td>Steenkamp</td><td>Second-row or Lock</td><td>Blue Bulls RU</td><td>2003/08/12</td><td>1.8</td><td>5.41</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Deon</td><td>Stegmann</td><td>Blindside flanker</td><td>Free State RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Christoff</td><td>Storm</td><td>Tighthead prop</td><td>Golden Lions RU</td><td>2003/09/28</td><td>1.92</td><td>5.64</td><td><Br></td><td><Br></td><td><Br></td><td>75</td><td><Br></td></tr>
<td>Christoff</td><td>Storm</td><td>Tighthead prop</td><td>Golden Lions RU</td><td>2003/08/11</td><td>2.05</td><td>5.78</td><td>14.82</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Richardt</td><td>Strauss</td><td>Openside flanker</td><td>Free State RU</td><td>2004/02/22</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>14.7</td></tr>
<td>Adriaan</td><td>Strauss</td><td>Hooker</td><td>Free State RU</td><td>2004/02/22</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>29.8</td></tr>
<td>Adriaan</td><td>Strauss</td><td>Hooker</td><td>Free State RU</td><td>2004/01/17</td><td>1.79</td><td>5.35</td><td><Br></td><td><Br></td><td><Br></td><td>112</td><td><Br></td></tr>
<td>Richardt</td><td>Strauss</td><td>Openside flanker</td><td>Free State RU</td><td>2004/01/17</td><td>1.83</td><td>5.41</td><td><Br></td><td><Br></td><td><Br></td><td>101</td><td><Br></td></tr>
<td>Richardt</td><td>Strauss</td><td>Openside flanker</td><td>Free State RU</td><td>2003/12/17</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>13.4</td></tr>
<td>Adriaan</td><td>Strauss</td><td>Hooker</td><td>Free State RU</td><td>2003/12/17</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>31.5</td></tr>
<td>Adriaan</td><td>Strauss</td><td>Hooker</td><td>Free State RU</td><td>2003/12/01</td><td>1.86</td><td>5.36</td><td><Br></td><td><Br></td><td><Br></td><td>116</td><td><Br></td></tr>
<td>Adriaan</td><td>Strauss</td><td>Hooker</td><td>Free State RU</td><td>2003/11/25</td><td>1.86</td><td>5.36</td><td><Br></td><td><Br></td><td><Br></td><td>116</td><td><Br></td></tr>
<td>Richardt</td><td>Strauss</td><td>Openside flanker</td><td>Free State RU</td><td>2003/11/25</td><td>1.91</td><td>5.47</td><td><Br></td><td><Br></td><td><Br></td><td>109</td><td><Br></td></tr>
<td>Adriaan</td><td>Strauss</td><td>Hooker</td><td>Free State RU</td><td>2003/09/28</td><td>2.05</td><td>5.67</td><td><Br></td><td><Br></td><td><Br></td><td>115</td><td><Br></td></tr>
<td>Adriaan</td><td>Strauss</td><td>Hooker</td><td>Free State RU</td><td>2003/08/05</td><td>1.84</td><td>5.26</td><td>14.56</td><td><Br></td><td><Br></td><td>105</td><td><Br></td></tr>
<td>Richardt</td><td>Strauss</td><td>Openside flanker</td><td>Free State RU</td><td>2003/08/05</td><td>2.02</td><td>5.47</td><td>15.05</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Riaan</td><td>Swanepoel</td><td>No 8</td><td>Free State RU</td><td>2004/01/17</td><td>1.8</td><td>5.31</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Riaan</td><td>Swanepoel</td><td>No 8</td><td>Free State RU</td><td>2003/08/05</td><td>1.94</td><td>5.34</td><td>15.04</td><td><Br></td><td><Br></td><td>93</td><td><Br></td></tr>
<td>Wongama</td><td>Tom</td><td>Right wing</td><td>EP RFU</td><td>2004/02/12</td><td>1.91</td><td>5.29</td><td>14.62</td><td><Br></td><td><Br></td><td>61</td><td><Br></td></tr>
<td>Linda</td><td>Tyapile</td><td>Second-row or Lock</td><td>Golden Lions RU</td><td>2004/02/16</td><td>1.96</td><td>5.83</td><td>16.12</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Janneman</td><td>Uys</td><td>Tighthead prop</td><td>Blue Bulls RU</td><td>2004/02/22</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>20.2</td></tr>
<td>Janneman</td><td>Uys</td><td>Tighthead prop</td><td>Blue Bulls RU</td><td>2004/02/16</td><td><Br></td><td><Br></td><td>16.29</td><td><Br></td><td><Br></td><td>89</td><td><Br></td></tr>
<td>Francois</td><td>Uys</td><td>Openside flanker</td><td>Falcons RU</td><td>2003/08/05</td><td>1.96</td><td>5.56</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Flip</td><td>van der Merwe</td><td>Second-row or Lock</td><td>Free State RU</td><td>2004/02/22</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>21.1</td></tr>
<td>Danie</td><td>van der Merwe</td><td>Scrum-half</td><td>WP RFU</td><td>2004/02/22</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>16.7</td></tr>
<td>Heinke</td><td>van der Merwe</td><td>Loosehead prop</td><td>Golden Lions RU</td><td>2004/02/22</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>8.7</td></tr>
<td>Heinke</td><td>van der Merwe</td><td>Loosehead prop</td><td>Golden Lions RU</td><td>2004/01/17</td><td>1.87</td><td>6.58</td><td><Br></td><td><Br></td><td><Br></td><td>91</td><td><Br></td></tr>
<td>Flip</td><td>van der Merwe</td><td>Second-row or Lock</td><td>Free State RU</td><td>2004/01/17</td><td>1.97</td><td>5.91</td><td><Br></td><td><Br></td><td><Br></td><td>105</td><td><Br></td></tr>
<td>Flip</td><td>van der Merwe</td><td>Second-row or Lock</td><td>Free State RU</td><td>2003/12/17</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>30.2</td></tr>
<td>Heinke</td><td>van der Merwe</td><td>Loosehead prop</td><td>Golden Lions RU</td><td>2003/12/17</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>13.2</td></tr>
<td>Danie</td><td>van der Merwe</td><td>Scrum-half</td><td>WP RFU</td><td>2003/12/17</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>13.8</td></tr>
<td>Heinke</td><td>van der Merwe</td><td>Loosehead prop</td><td>Golden Lions RU</td><td>2003/11/25</td><td>1.89</td><td>5.54</td><td><Br></td><td><Br></td><td><Br></td><td>99</td><td><Br></td></tr>
<td>Flip</td><td>van der Merwe</td><td>Second-row or Lock</td><td>Free State RU</td><td>2003/11/25</td><td>2.03</td><td>5.79</td><td><Br></td><td><Br></td><td><Br></td><td>108</td><td><Br></td></tr>
<td>Danie</td><td>van der Merwe</td><td>Scrum-half</td><td>WP RFU</td><td>2003/09/28</td><td>1.81</td><td>5.19</td><td><Br></td><td><Br></td><td><Br></td><td>108</td><td><Br></td></tr>
<td>Flip</td><td>van der Merwe</td><td>Second-row or Lock</td><td>Free State RU</td><td>2003/08/05</td><td>2.16</td><td>5.84</td><td>15.3</td><td><Br></td><td><Br></td><td>107</td><td><Br></td></tr>
<td>Phillip</td><td>van der Merwe</td><td>Hooker</td><td>WP RFU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Izak</td><td>van der Westhuizen</td><td>Second-row or Lock</td><td>Griqualand West RU</td><td>2003/08/04</td><td>2.07</td><td>5.74</td><td>14.53</td><td><Br></td><td><Br></td><td>84</td><td><Br></td></tr>
<td>Pieter</td><td>van Dyk</td><td>Blindside flanker</td><td>Griqualand West RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Wikus</td><td>van Dyk</td><td>Inside centre</td><td>Blue Bulls RU</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Hendrik</td><td>van Niekerk</td><td>Second-row or Lock</td><td>Blue Bulls RU</td><td>2004/02/16</td><td>1.92</td><td>5.47</td><td>15.42</td><td><Br></td><td><Br></td><td>88</td><td><Br></td></tr>
<td>Hendrik</td><td>van Niekerk</td><td>Second-row or Lock</td><td>Blue Bulls RU</td><td>2004/02/16</td><td>1.92</td><td>5.47</td><td>15.4</td><td><Br></td><td><Br></td><td>88</td><td><Br></td></tr>
<td>Hendrik</td><td>van Niekerk</td><td>Second-row or Lock</td><td>Blue Bulls RU</td><td>2003/08/05</td><td>1.98</td><td>5.59</td><td>16.3</td><td><Br></td><td><Br></td><td>106</td><td><Br></td></tr>
<td>Elrich</td><td>van Vuuren</td><td>Outside centre</td><td>Free State RU</td><td>2003/09/28</td><td>1.84</td><td>5.39</td><td><Br></td><td><Br></td><td><Br></td><td>80</td><td><Br></td></tr>
<td>Elrich</td><td>van Vuuren</td><td>Outside centre</td><td>Free State RU</td><td>2003/08/09</td><td>1.81</td><td>5.44</td><td>15.07</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Gert</td><td>van Wyk</td><td>Loosehead prop</td><td>WP RFU</td><td>2003/09/28</td><td>2.04</td><td>6.05</td><td><Br></td><td><Br></td><td><Br></td><td>79</td><td><Br></td></tr>
<td>Shane</td><td>Vergotine</td><td>Scrum-half</td><td>Blue Bulls RU</td><td>2003/08/11</td><td>1.83</td><td>5.61</td><td>15.4</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Jano</td><td>Vermaak</td><td>Scrum-half</td><td>Golden Lions RU</td><td>2004/02/22</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>23.2</td></tr>
<td>Jano</td><td>Vermaak</td><td>Scrum-half</td><td>Golden Lions RU</td><td>2003/11/25</td><td>1.84</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>125</td><td><Br></td></tr>
<td>Jano</td><td>Vermaak</td><td>Scrum-half</td><td>Golden Lions RU</td><td>2003/09/28</td><td>1.78</td><td>5.17</td><td><Br></td><td><Br></td><td><Br></td><td>128</td><td><Br></td></tr>
<td>Jano</td><td>Vermaak</td><td>Scrum-half</td><td>Golden Lions RU</td><td>2003/08/05</td><td>1.82</td><td>5.28</td><td>14.84</td><td><Br></td><td><Br></td><td>117</td><td><Br></td></tr>
<td>Juan</td><td>Visser</td><td>Outside centre</td><td>Golden Lions RU</td><td>2004/02/16</td><td>1.77</td><td>5.18</td><td>14.58</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Juan</td><td>Visser</td><td>Outside centre</td><td>Golden Lions RU</td><td>2003/09/28</td><td>1.77</td><td>5.17</td><td><Br></td><td><Br></td><td><Br></td><td>92</td><td><Br></td></tr>
<td>Juan</td><td>Visser</td><td>Outside centre</td><td>Golden Lions RU</td><td>2003/08/05</td><td>1.78</td><td>5.24</td><td>14.15</td><td><Br></td><td><Br></td><td>82</td><td><Br></td></tr>
<td>Jan</td><td>Volschenk</td><td>Loosehead prop</td><td>SWD RFU</td><td>2003/09/28</td><td>2.03</td><td>6</td><td><Br></td><td><Br></td><td><Br></td><td>63</td><td><Br></td></tr>
<td>Jan</td><td>Volschenk</td><td>Loosehead prop</td><td>SWD RFU</td><td>2003/08/11</td><td>2.05</td><td>6.23</td><td>17.27</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Daniel</td><td>Vosloo</td><td>Scrum-half</td><td>EP RFU</td><td>2004/02/12</td><td>1.71</td><td>5.15</td><td>14.06</td><td><Br></td><td><Br></td><td>54</td><td><Br></td></tr>
<td>Daniel</td><td>Vosloo</td><td>Scrum-half</td><td>EP RFU</td><td>2003/08/09</td><td>1.75</td><td>5.34</td><td>14.7</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Frank</td><td>Wagenstroom</td><td>Right wing</td><td>WP RFU</td><td>2004/02/22</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td><Br></td><td>27.7</td></tr>
<td>Frank</td><td>Wagenstroom</td><td>Right wing</td><td>WP RFU</td><td>2003/11/25</td><td>1.69</td><td>4.97</td><td><Br></td><td><Br></td><td><Br></td><td>113</td><td><Br></td></tr>
<td>Elgar</td><td>Watts</td><td>Fly-half</td><td>Boland RU</td><td>2004/02/12</td><td>1.86</td><td>5.42</td><td>15.29</td><td><Br></td><td><Br></td><td>84</td><td><Br></td></tr>
<td>Wesley</td><td>Wilkins</td><td>Openside flanker</td><td>Border RU</td><td>2003/09/28</td><td>1.8</td><td>5.28</td><td><Br></td><td><Br></td><td><Br></td><td>98</td><td><Br></td></tr>
<td>Jerome</td><td>Williams</td><td>Right wing</td><td>EP RFU</td><td>2004/02/12</td><td>1.73</td><td>4.98</td><td>15.64</td><td><Br></td><td><Br></td><td>95</td><td><Br></td></tr>
<td>Jerome</td><td>Williams</td><td>Right wing</td><td>EP RFU</td><td>2003/08/09</td><td>1.8</td><td>5.24</td><td>14.14</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Mawande</td><td>Zenzile</td><td>Fullback</td><td>WP RFU</td><td>2004/02/12</td><td><Br></td><td><Br></td><td>15.51</td><td><Br></td><td><Br></td><td><Br></td><td><Br></td></tr>
<td>Mawande</td><td>Zenzile</td><td>Fullback</td><td>WP RFU</td><td>2003/08/07</td><td>1.81</td><td>5.51</td><td><Br></td><td><Br></td><td><Br></td><td>94</td><td><Br></td></tr>
<tr><td style='background-color:#CFDAE2; text-align:right' class=cellhere colspan='13'>390 Records</td></tr></table></td></tr></table><br>
