<table align='center' id='ReportMain' name='ReportMain' cellspacing=0 style='BORDER-BOTTOM: 1px solid;BORDER-RIGHT: 1px solid;position:relative;top:-10px;left:-5px;width:90%'><tr><td><Table cellpadding=4 cellspacing=0 border=0 bordercolor=#999999 style='BORDER-BOTTOM: 1px solid;BORDER-RIGHT: 1px solid;width:100%'><tr id='Headers' name='Headers'><td style='padding:0' colspan=9><table cellpadding='0' cellspacing='0' border='0' style='width:100%;padding:3 0 3 0;'><tr><th id='ReportName' name='ReportName' class=cellhere2 style='text-align:left'>&nbsp;&nbsp;Kick-off for Distance for  - 2004/05/18</th></tr></table></td></tr><tr><th>FIRSTNAME</th><th>SURNAME</th><th>POSITION</th><th>RUGBYUNION</th><th>Result</th><th>TestDate</th></tr><tr><td style='background-color:#CFDAE2; text-align:left' colspan='9'><b>Green U16</b></td></tr><td>Jacques</td><td>de Kock</td><td>Outside centre</td><td>Griqualand West RU</td><td><Br></td><td><Br></td></tr>
<td>Rikus</td><td>du Bruyn</td><td>Hooker</td><td>Golden Lions RU</td><td><Br></td><td><Br></td></tr>
<td>Ramano</td><td>Sebia</td><td>Hooker</td><td>Griffons RU</td><td><Br></td><td><Br></td></tr>
<td>Justin</td><td>St Jerry</td><td>Fullback</td><td>Golden Lions RU</td><td><Br></td><td><Br></td></tr>
<td>Gordon</td><td>Thomas</td><td>Loosehead prop</td><td>Golden Lions RU</td><td><Br></td><td><Br></td></tr>
<tr><td style='background-color:#CFDAE2; text-align:right' class=cellhere colspan='9'>5 Records</td></tr></table></td></tr></table><br>
