/*=============================================================================================
========================EVERYTHING on this site is copyrighted to Genesys=================================
==============Any use without written approval by Genesys is considered infringment.============================
=============================================================================================*/

/* control the style of the calendar cells */
.CalHead {cursor:default; text-align:center;font-size : xx-small; font-family : Arial; color:#ffffff;}
.CalCell {cursor:hand; text-align:center;}
.CellAnchor {text-decoration:none; font:7.5pt sans-serif;}

/* control the style of the week-counter column */
.WeekHead {cursor:default; font:7.5pt sans-serif; text-align:center; color:#4682b4; background-color:#ddddea;}
.WeekCol {cursor:default; font:7.5pt sans-serif; text-align:center; color:gray; background-color:#ddddea;}

/* styles for the month navigators at the top */
.MonthNav {vertical-align:middle; text-decoration:none; font:bold 10pt sans-serif; color:black;background-color:#6699cc}
A.MonthNav:hover {color:yellow}
A.MonthNav:active {color:red}

/* styles for the 3 calendar portions (actually 3 table TDs) */
.CalTop {text-align:center; padding:1px 5px 0px 5px;}
.CalMiddle {}
.CalBottom {text-align:center;font-size : xx-small;font-family : Arial; color:black}

/* styles for the title at the top */
.CalTitle {vertical-align:middle; text-align:center;font-size : xx-small;font-family : Arial; color:black;background-color:#6699cc}

/* other classes */
.Today {text-decoration:none;text-align:center;font-size : xx-small;font-family : Arial; color:black}
A.Today:hover {color:red}
A.Today:active {color:red}
